@charset "utf-8";

.fastest h2 img {
		left: 4px;
}

.top-text .btn .b {
		background: #ffa300;
}

.top-text .btn:hover .b {
		background: #ffa300;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
