@charset "utf-8";

.accounts-hold,
.accounts-modal {
	/*font-size: 13px;*/
	line-height: 21px;
}

.accounts-hold {
	margin-top: 70px;
}

.accounts-hold p,
.accounts-hold ol,
.accounts-hold ul {
	margin: 0 0 21px 0;
}

.accounts-hold p:last-child {
	margin-bottom: 0;
}

.accounts-hold ol,
.accounts-hold ul {
	padding: 0 0 0 24px;
}

.hide-mob {
	display: none;
}

.show-mob {
	display: block!important;
}

.show-mob-inline {
	display: inline!important;
}

.container,
.header .container {
	padding: 0 20px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	height: 70px;
	padding: 0;
}

.menu-toggle,
.cart-toggle,
.link-back,
.link-logout {
	padding: 0 28px;
	height: 70px;
}

.menu-toggle span {
	top: 30px;
}

.cart-toggle:before {
	top: 27px;
}

.link-back {
	left: 0;
}

.link-logout:before {
	top: 28px;
}

.footer {
	padding: 38px 0 22px 0;
	text-align: center;
}

.footer .container {
	padding: 0 44px;
}

.footer .logo {
	display: none;
}

.footer .accounts-r {
	float: none;
	text-align: inherit;
}

.footer .accounts-link-up {
	position: relative;
	left: auto;
	margin: 0 auto 26px auto;
	display: block;
	top: 0;
}

.footer .accounts-link-up:hover {
	opacity: 0.8;
}

.fader {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.88);
}

.hide-mob {
	display: none;
}

.logo2 {
	top: 25px;
	margin-top: 0;
	display: none;
}

.logo2.for-mob {
	display: block;
}

.logo2 img {
	height: 22px;
}

.input2 input,
.input2 textarea,
.input2 .label,
.input2 .err-text,
.jcf-select-input2-style .jcf-select-text,
.form .phone-hold .plus,
.input2.input2-big input,
.input2.input2-big textarea,
.input2.input2-big.placeholder .label {
	font-size: 13px;
}

.input2 .label,
.input2 .err-text {
	font-size: 11px;
}

.input2.placeholder .label {
	font-size: 13px;
}

/*accounts styles*/


.accounts-hold {
	padding-top: 20px;
	padding-bottom: 25px;
}

.accounts-block {
	padding: 23px;
	margin-bottom: 40px;
}

.accounts-head,
.accounts-foot,
 .accounts-cform .accounts-head3 {
	line-height: 18px;
}

.accounts-head,
.accounts-foot,
.accounts-cform .accounts-head3 {
	margin: -23px -23px 24px -23px;
	padding: 19px 23px;
}

.accounts-foot {
	margin-top: 24px;
	margin-bottom: -23px;
}

.accounts-text {
	line-height: 21px;
	margin: -7px 0;
}

.accounts-text .acc-ind-mob {
	margin-top: 15px;
}

.accounts-text .acc-ind-mob:first-child {
	margin-top: 0;
}

.accounts-text-style1 {
	line-height: 24px;
	margin: -9px 0;
}

.accounts-text-style2,
.accounts-ticket2 .accounts-text {
	line-height: 27px;
	margin: -6px 0;
}

.accounts-text-style3 {
	line-height: 27px;
	margin: -6px 0 -3px 0;
}

.accounts-text-style3 p {
	margin-bottom: 27px;
}

.accounts-text-style3 p:last-child {
	margin-bottom: 0;
}

.accounts-hr {
	margin: 24px -23px;
}

.accounts-hr.b {
	margin-top: 24px;
}

.accounts-row {
	margin: 24px 0;
}

.accounts-row + .accounts-row,
.accounts-hr + .accounts-row,
.accounts-head + .accounts-row,
.accounts-row + .accounts-hr,
.accounts-text + .accounts-row,
.accounts-row + .accounts-btns,
.accounts-row .half + .half,
.accounts-row .half .half.full + .half.full {
	margin-top: 30px;
}

.accounts-row + .accounts-btns,
.accounts-row + .accounts-btns.with-line,
.accounts-row + .accounts-btns.with-line-mob {
	margin-top: 40px;
}

.accounts-text + .accounts-row {
	margin-top: 24px;
	margin-left: -23px;
	margin-right: -23px;
	padding-top: 35px;
	padding-left: 23px;
	padding-right: 23px;
	border-top: 1px solid #eef5fa;
}

.accounts-row:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-row .half,
.accounts-row .half + .half,
.accounts-btns .half,
.accounts-btns .half + .half,
.accounts-row .half .half.full,
.accounts-row .half .half.full + .half.full {
	float: none;
	width: auto;
	padding: 0;
}

.accounts-row .half:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-row .half .half {
	float: left;
	width: 50%;
	margin: 0;
	padding: 0 10px 0 0;
}

.accounts-row .half .half + .half {
	margin: 0;
	padding: 0 0 0 10px;
}

.accounts-row.accounts-file {
	text-align: center;
}

.accounts-row.accounts-file .accounts-btn {
	margin-top: 15px;
}

.accounts-row.accounts-file + .accounts-btns {
	margin-top: 40px;
}

.accounts-row.accounts-file .acc-name {
	white-space: nowrap;
	padding: 0 26px;
}

.accounts-row.accounts-file .acc-name span {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
}

.accounts-row.accounts-file .acc-name .accounts-status-img {
	margin: 0 -26px 0 10px;
}

.accounts-row.accounts-file .acc-e {
	margin-top: 30px;
}

.accounts-row.accounts-file .acc-file-err-text {
	margin: 23px 0 34px 0;
	line-height: 21px;
	font-size: 14px;
}

.accounts-done2 {
	text-align: center;
	line-height: 24px;
	margin: 26px 0 19px 0;
}

.accounts-done2 .ind2 {
	margin-bottom: 24px;
}

.accounts-done2:before {
	content: '';
	display: block;
	background: url(../img/check-done.png) no-repeat 50% 50%;
	background-size: 100% 100%;
	width: 81px;
	height: 81px;
	margin: 0 auto 42px auto;
}

.accounts-done {
	margin-top: 50px;
	margin-bottom: 19px;
}

.hide-mob + .accounts-done {
	margin-top: 26px;
}

.accounts-done + .accounts-btns,
.accounts-done2 + .accounts-btns {
	margin-top: 43px;
}

.accounts-done .ind,
.accounts-done .ind2 {
	margin-bottom: 24px;
}

.accounts-done:before {
	margin-bottom: 42px;
}

.accounts-done.accounts-done-style3 {
	margin-bottom: 16px;
}

.hide-mob + .accounts-done.accounts-done-style3 {
	margin-top: 23px;
}

.accounts-done.accounts-done-style3 + .accounts-btns {
	margin-top: 40px;
}

.accounts-done.accounts-done-style3 .ind,
.accounts-done.accounts-done-style3 .ind2 {
	margin-bottom: 30px;
}

.accounts-done.accounts-done-style3:before {
	margin-bottom: 39px;
}

.accounts-done.accounts-done-style3 .tind {
	margin-top: 30px;
}

.accounts-done-left {
	text-align: left;
}

ul.accounts-stat {
	margin: -7px -24px 0 -24px;
	padding: 0;
}

.accounts-stat li {
	width: 50%;
	height: 114px;
	box-sizing: border-box;
	padding: 0 20px;
}

.accounts-btn {
	letter-spacing: 0.1em;
}

.accounts-btns {
	margin-top: 24px;
}

.accounts-btns.with-line,
.accounts-btns.with-line-mob {
	margin: 24px -24px -24px -24px;
	padding: 24px;
	border-top: 1px solid #eef5fa;
}

.accounts-btns .half + .half {
	margin: 18px 0 0 0;
}

.accounts-search {
	padding-bottom: 24px;
	border-bottom-width: 0;
}

.accounts-search.show-mob {
	position: fixed;
	top: 74px;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 0;
	z-index: 100;
}

.accounts-search.show-mob input[type="text"] {
	font-size: 13px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 51px;
}

.accounts-search.show-mob input[type="submit"] {
	width: 51px;
}

.accounts-modal,
.accounts-modal-wide.accounts-modal-size2 {
	position: absolute;
	width: auto;
	margin: 20px;
	left: 0;
	right: 0;
	top: 0;
	padding: 24px;
}

.accounts-modal .acc-close {
	width: 65px;
}

.accounts-modal .accounts-head1 {
	font-size: 16px;
	line-height: 24px;
	padding-right: 65px;
}

.accounts-modal-wide {
	padding: 24px;
}

.accounts-modal-wide .accounts-btns {
	margin-left: -24px;
	margin-right: -24px;
	margin-bottom: -24px;
	margin-top: 24px;
	padding-left: 24px;
	padding-right: 24px;
}

.accounts-modal-wide .accounts-head {
	margin-left: -24px;
	margin-right: -24px;
	padding-left: 24px;
	padding-right: 24px;
}

.accounts-modal-wide .accounts-head1 {
	margin-top: -24px;
}

.accounts-modal-wide .accounts-hr {
	margin-left: -24px;
	margin-right: -24px;
}

.accounts-modal-wide .accounts-table {
	margin-left: -24px;
	margin-right: -24px;
}

.accounts-modal-wide .accounts-table th:first-child,
.accounts-modal-wide .accounts-table td:first-child {
	padding-left: 24px;
}

.accounts-modal-wide .accounts-table th:last-child,
.accounts-modal-wide .accounts-table td:last-child {
	padding-right: 24px;
}

.accounts-modal-wide .accounts-table th:first-child .accounts-sort-link {
	margin-left: -24px;
	padding-left: 24px;
}

.accounts-modal-wide .accounts-table th:last-child .accounts-sort-link {
	margin-right: -24px;
	padding-right: 24px;
}

.accounts-table {
	margin-left: -24px;
	margin-right: -24px;
	margin-bottom: -24px;
}

.accounts-table th,
.accounts-table td {
	padding-left: 5px;
	padding-right: 5px;
}

.accounts-table th:first-child,
.accounts-table td:first-child {
	padding-left: 24px;
}

.accounts-table th:last-child,
.accounts-table td:last-child {
	padding-right: 24px;
}

.accounts-sort-link {
	margin-right: -5px;
	padding-right: 5px;
	margin-left: -10px;
	padding-left: 10px;
}

th:first-child .accounts-sort-link {
	margin-left: -24px;
	padding-left: 24px;
}

th:last-child .accounts-sort-link {
	margin-right: -24px;
	padding-right: 24px;
}

.accounts-cform-place {
	display: none;
}

.accounts-cform {
	position: relative;
	top: auto;
	margin: 0;
	padding: 0;
	padding-bottom: 108px;
}

.accounts-cform .logo {
	position: relative;
	bottom: auto;
	margin: 0;
	padding: 40px 0;
}

.accounts-cform .accounts-block {
	width: auto;
	padding: 24px 30px 30px 30px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
}

.accounts-cform .accounts-head3 {
	font-size: 24px;
	line-height: 30px;
	border-bottom: 1px solid #eef5fa;
	margin-bottom: 29px;
	margin-left: -30px;
	margin-right: -30px;
	padding-top: 24px;
	padding-bottom: 21px;
}

.accounts-cform .acc-text-place {
	height: auto;
}

.accounts-cform .accounts-row {
	margin: 0 0 40px 0;
}

.accounts-cform .accounts-btns {
	margin-top: 40px;
}

.accounts-cform .accounts-out-link {
	margin-top: 43px;
}

.accounts-modal-wide .accounts-btns {
	margin-left: -24px;
	margin-right: -24px;
	margin-bottom: -24px;
	margin-top: 24px;
	padding: 24px;
}

.datepicker-fader {
}

.ui-datepicker {
	position: fixed!important;
	width: 265px!important;
	padding-left: 15px;
	padding-right: 15px;
	top: 50%!important;
	left: 50%!important;
	margin: -140px -147.5px!important;
}

.ui-datepicker th,
.ui-datepicker td {
	padding-left: 0;
	padding-right: 0;
}

.acc-status-img img {
	height: 20px;
	width: auto;
}

.accounts-notification {
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: #d9f9e6;
	font-size: 14px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 25px;
}

.accounts-notification .accounts-text {
	text-align: center;
}

.accounts-notification .accounts-text.accounts-with-img {
	padding-left: 0;
}

.accounts-notification .accounts-text img {
	position: relative;
	top: auto;
	left: auto;
	margin: 8px auto 5px auto;
	display: block;
}

.accounts-action-menu3 {
	float: none;
	margin: 15px 0 1px -10px;
}

ul.accounts-examples {
	margin: 15px -24px -20px -24px;
	padding: 15px 24px 0 24px;
	border-top: 1px solid #eef5fa;
}

ul.accounts-examples li {
	float: none;
	margin: 0 0 20px 0;
}

.accounts-nav-top {
	padding-left: 0;
	padding-right: 0;
}

.accounts-nav-top .prev,
.accounts-nav-top .next {
	display: none;
}

ul.accounts-list-products,
ul.accounts-list-commands {
	padding: 0;
	margin-bottom: -18px;
}

ul.accounts-list-commands {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
}

.accounts-mob-links {
	border: 0;
	padding: 0;
	margin: -9px 0 28px 0;
	text-align: center;
}

.accounts-mob-links .accounts-action-menu3 {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 -10px;
}
