@charset "utf-8";

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/mp-regular-webfont.eot');
	src: url('../fonts/mp-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mp-regular-webfont.woff') format('woff'), url('../fonts/mp-regular-webfont.svg#MyriadProRegular') format('svg'), url('../fonts/mp-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Semibold.eot');
	src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro-Semibold.svg#MyriadProRegular') format('svg'), url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/myriadpro-bold-webfont.eot');
	src: url('../fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-bold-webfont.woff') format('woff'), url('../fonts/myriadpro-bold-webfont.svg#MyriadProRegular') format('svg'), url('../fonts/myriadpro-bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro Cond';
	src: url('../fonts/myriadpro-cond-webfont.eot');
	src: url('../fonts/myriadpro-cond-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-cond-webfont.woff') format('woff'), url('../fonts/myriadpro-cond-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro Cond';
	src: url('../fonts/MyriadPro-SemiboldCond.eot');
	src: url('../fonts/MyriadPro-SemiboldCond.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-SemiboldCond.woff') format('woff'), url('../fonts/MyriadPro-SemiboldCond.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro Cond';
	src: url('../fonts/MyriadPro-SemiboldCondIt.eot');
	src: url('../fonts/MyriadPro-SemiboldCondIt.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-SemiboldCondIt.woff') format('woff'), url('../fonts/MyriadPro-SemiboldCondIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #2f241b;
	font: normal 14px/24px Arial, Helvetica, sans-serif;
	letter-spacing: 0.02em;
	color: #4e6481;
	-webkit-text-size-adjust: none;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

input,
select,
textarea,
button {
	font: normal 14px Arial, Helvetica, sans-serif;
	color: #4e6481;
	outline: none;
}

input[type="text"],
input[type="date"],
input[type="password"],
textarea,
select {
	border: 1px solid #b9230a;
	background: #fff;
	margin: 0;
	padding: 4px 5px;
}

textarea {
	resize: none;
}

.input {
	zoom: 1;
	position: relative;
	padding: 0 6px;
}

.input input,
.input textarea {
	display: block;
	vertical-align: top;
	position: relative;
	left: -6px;
	width: 100%;
}

header,
nav,
section,
article,
aside,
footer,
menu,
time,
figure,
figcaption {
	display: block;
}

img {
	border: 0;
	vertical-align: top;
}

a,
.accounts-link {
	color: #006dd6;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

a:hover,
a.grey:hover,
a.dgrey:hover,
.accounts-link:hover {
	color: #d70f0f;
}

.accounts-link {
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.accounts-link input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	cursor: pointer;
}

strong {
	font-weight: bold;
}

.table {
	border-collapse: collapse;
}

.table .sep {
	width: 1000px;
}

p,
ol,
ul {
	margin: 0 0 18px 0;
}

p:last-child {
	margin-bottom: 0;
}

ol,
ul {
	padding: 0 0 0 27px;
}

h1,
.h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Myriad Pro Cond", "PT Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

.uppercase {
	text-transform: uppercase;
}

.nowrap {
	white-space: nowrap;
}

.longword {
	display: block;
	word-break: break-all;
}

.center {
	text-align: center;
}

.nofloat {
	height: 100%;
	overflow: hidden;
}

.cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.inline {
	display: inline-block;
	text-align: left;
}

.hr {
	height: 1px;
	overflow: hidden;
	margin: 15px 0;
	background: #e6e6e6;
}

.clearfix {
	zoom: 1
}

.clearfix:after,
.menu:after,
.menu2:after,
.container:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.wrapper,
.footer {
	min-width: 1000px;
	min-height: 100%;
	background: #f9fbfd;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	text-align: left;
}

.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.header {
	position: relative;
	height: auto;
	padding-top: 45px;
	padding-bottom: 38px;
	background: #fff;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.09);
	color: #2476e9;
}

.menu {
	font: normal 21px/24px 'Myriad Pro Cond', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.header .menu {
	font-weight: 600;
	font-size: 17px;
}

.menu {
	zoom: 1;
	position: relative;
	color: #2476e9;
	z-index: 100;
}

.menu a {
	text-decoration: none;
	color: #2476e9;
}

.menu img {
	height: 24px;
	width: auto;
	vertical-align: top;
	margin: -3px 0 0 0;
}

.menu a:hover,
.menu a:hover > span > span > span,
.menu .active,
.menu .active > span > span > span,
.menu > ul > li:hover span > span > span > span {
	color: #d70f0f!important;
}

.menu span.active {
	cursor: inherit;
}

.menu .l {
	float: left;
}

.menu .r {
	float: right;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu > ul > li {
	position: relative;
	float: left;
	margin: 0 0 0 43px;
}

.menu > ul > li.for-logo {
	width: 135px;
}

.menu > ul > li.for-logo > span {
	cursor: inherit;
}

.menu > ul > li > a,
.menu > ul > li > span {
	display: inline-block;
	position: relative;
	vertical-align: top;
	cursor: pointer;
}

.menu a,
.menu span {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.menu > ul > li:first-child {
	margin-left: 0!important;
}

.menu > ul > li > .grad1 {
	color: #ff8100;
}

.menu > ul > li > .grad2 {
	color: #ff9000;
}

.menu > ul > li > .grad3 {
	color: #ff9e00;
}

.menu > ul > li > .grad4 {
	color: #ffb100;
}

.menu > ul > li > .grad5 {
	color: #ffbe00;
}

.menu .sub,
.accounts-action-menu4 .sub {
	position: absolute;
	top: 100%;
	left: -30px;
	white-space: nowrap;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 0;
	z-index: -1;
	height: 0;
	overflow: hidden;
}

.menu .sub a:hover,
.sub .active,
.accounts-action-menu4 .sub a:hover {
	color: #d70f0f!important;
	background: #f4f7fa;
}

.menu li:hover > .sub,
.accounts-action-menu4:hover .sub {
	height: auto;
	overflow: visible;
	opacity: 1;
	z-index: 100;
	padding: 25px 0 0 0;
}

.menu li:hover > .sub ul,
.accounts-action-menu4:hover .sub ul {
	box-shadow: 0 0 42px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.12);
}

.menu .sub ul,
.accounts-action-menu4 .sub ul {
	list-style: none;
	font: normal 14px/21px Arial, Helvetica, sans-serif;
	letter-spacing: 0.03em;
	text-transform: none;
	background: #fff;
	padding: 13px 0;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	position: relative;
	float: left;
}

.menu .sub ul {
	width: 250px;
	white-space: normal;
}

.menu .sub li,
.accounts-action-menu4 .sub li {
	margin: 1px 0 0 0;
	padding: 0;
}

.menu .sub li:first-child,
.accounts-action-menu4 .sub li:first-child {
	margin-top: 0;
}

.menu .sub li > *,
.accounts-action-menu4 .sub li > * {
	display: block;
	padding: 13px 30px;
}

.logo2 {
	position: relative;
	text-align: center;
	display: none;
}

.logo2 img {
	height: 24px;
	width: auto;
}

.footer {
	zoom: 1;
	position: relative;
	background: #2f241b;
	padding: 63px 0;
	min-height: 0;
}

.footer .logo {
	float: left;
	margin: -3px 0;
}

.footer .logo > * {
	display: block;
	width: 117px;
	height: 29px;
	background: url(../img/logo.png) no-repeat;
	background-size: 100% 100%;
}

.footer .accounts-r {
	float: right;
	text-align: right;
	color: rgba(249, 251, 253, 0.3);
	letter-spacing: 0.04em;
}

.footer .accounts-link-up {
	position: absolute;
	top: -3px;
	left: 50%;
	width: 31px;
	height: 31px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	box-shadow: inset 0 0 0 3px #fff;
	-webkit-box-shadow: inset 0 0 0 3px #fff;
	background: url(../img/up-arr.png) no-repeat 50% 50%;
	background-size: 10px auto;
	margin: 0 -15.5px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 0.3;
	z-index: 101;
}

.footer .accounts-link-up:hover {
	opacity: 0.8;
}

.for-tabl,
.for-mob {
	display: none;
}

.menu-toggle,
.cart-toggle,
.link-back,
.link-logout {
	display: block;
	position: absolute;
	top: 0;
	left: -10000px;
	padding: 0 40px;
	height: 80px;
	cursor: pointer;
}

.menu-toggle span {
	display: block;
	margin: 0 0 3px 0;
	width: 18px;
	height: 2px;
	background: #006dd6;
	position: relative;
	top: 35px;
}

.menu-toggle span:first-child {
	margin-top: 0;
}

.menu-toggle span:nth-child(2) {
	width: 14px;
}

.cart-toggle:before {
	content: '';
	width: 19px;
	height: 19px;
	display: block;
	position: relative;
	top: 31px;
	background: url(../img/icon-cart.png) no-repeat;
	background-size: 100% 100%;
}

.link-back:before {
	content: '';
	width: 17px;
	height: 17px;
	display: block;
	position: relative;
	top: 18px;
	background: url(../img/icon-back.png) no-repeat;
	background-size: 100% 100%;
}

.link-logout:before {
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	position: relative;
	top: 33px;
	background: url(../img/logout.png) no-repeat;
	background-size: 100% auto;
}

.accounts-rub {
	font-family: Arial, "PT Sans", "Trebuchet MS", Helvetica, sans-serif;
	position: relative;
}

select,
.jcf-select {
	display: block;
	color: #1768cd;
	font: 600 18px "Myriad Pro Cond", "PT Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: 0.1em;
}

.jcf-select {
	position: relative;
}

.jcf-select-text {
	display: block;
	height: 43px;
	line-height: 44px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	background: #f8f5f2;
	cursor: pointer;
	position: relative;
	padding: 0 26px 0 19px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.jcf-select-text:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 19px;
	border: 3px solid #1768cd;
	border-bottom-width: 0;
	border-left-color: transparent!important;
	border-right-color: transparent!important;
	margin: -1.5px 0;
}

.jcf-select select {
	z-index: 6;
	font: inherit;
	cursor: pointer;
}

.jcf-select-inline-style {
	display: inline-block;
	vertical-align: middle;
	top: -1px;
}

.jcf-select-inline-style,
.jcf-select-inline-style select {
	font: inherit;
	color: inherit;
	letter-spacing: inherit;
}

.jcf-select-inline-style-big {
	font-size: 18px;
}

.jcf-select-inline-style .jcf-select-text {
	margin: 0;
	padding: 0 10px 0 0;
	height: auto;
	background: none;
	font: inherit;
	letter-spacing: inherit;
	color: #006dd6;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.jcf-select-inline-style .jcf-select-text:after {
	right: 0;
	border-color: inherit;
}

.jcf-select-inline-style:hover .jcf-select-text {
	color: #d70f0f;
}

.loading {
	line-height: 0;
	font-size: 0;
}

.spinner,
.spinner:before,
.spinner:after {
	position: relative;
	display: inline-block;
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
	text-align: center;
	width: 6px;
	height: 6px;
	background: #ff7200;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	margin: 0 9px;
}

.spinner:before,
.spinner:after {
	margin: 0;
	content: '';
	position: absolute;
	top: 0;
}

.spinner:before {
	left: -9px;
}

.spinner:after {
	right: -9px;
}

.spinner:before {
	-webkit-animation: spinner 500ms ease -250ms infinite alternate;
	animation: spinner 500ms ease -250ms infinite alternate;
}

.spinner {
	-webkit-animation: spinner 500ms ease -125ms infinite alternate;
	animation: spinner 500ms ease -125ms infinite alternate;
}

.spinner:after {
	-webkit-animation: spinner 500ms ease -125ms infinite alternate;
	animation: spinner 500ms ease -125ms infinite alternate;
}
 @-webkit-keyframes spinner {
to {
 background: #ccc;
}
}
 @keyframes spinner {
to {
 background: #ccc;
}
}

.input2 {
	position: relative;
	line-height: 0;
	margin: 0;
	padding: 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.input2.center .label,
.input2.center input,
.input2 input.center {
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}
.input2 input:-webkit-autofill {
box-shadow:inset 0 0 0 50px #fff;
 -webkit-box-shadow:inset 0 0 0 50px #fff;
}

.input2.bold .label,
.input2.bold input {
	font-weight: bold;
}

.input2 input,
.input2 textarea,
.input2 .label,
.input2 .err-text,
.jcf-select-input2-style .jcf-select-text,
.input2.phone-hold .plus {
	font: normal 14px Arial, Helvetica, sans-serif;
	display: block;
	width: 100%;
	background: none;
	border: 0;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	letter-spacing: 0.02em;
	color: #4e6481;
	text-align: left;
	padding: 11px 3px 5px 3px;
	margin: 0;
	height: 35px;
	box-sizing: border-box;
	position: relative;
	z-index: 5;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.jcf-select-input2-style-bold .jcf-select-text {
	font-weight: bold;
}

.input2 textarea {
	line-height: 18px;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.jcf-select-input2-style select {
	font: normal 14px Arial, Helvetica, sans-serif;
	color: #4e6481;
	letter-spacing: 0.02em;
}

.jcf-select-input2-style .jcf-select-text {
	padding-right: 26px;
}

.jcf-select-input2-style .jcf-select-text:after {
	border-width: 6px 5px 0 5px;
	margin: 0;
	right: 16px;
	border-color: #666;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.jcf-select-input2-style:hover .jcf-select-text:after {
	border-color: #ff7505;
}

.input2 .pick-date {
	width: 31px;
	height: 35px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	background: url(../img/pick-date.png) no-repeat 50% 50%;
	background-size: 18px auto;
	z-index: 4;
}

.input2 .line {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #8795a6;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.input2 .line.focus,
.input2 .line.ok,
.input2 .line.error {
	height: 2px;
	width: 0;
}

.input2.focus .line.focus,
.input2.error .line.error,
.input2.ok .line.ok {
	z-index: 3;
	width: 100%;
}

.input2.focus .line.focus {
	z-index: 4;
}

.input2 .line.focus {
	background: #ff7505;
}

.input2 .line.ok {
	background: #54bf9a;
}

.input2 .line.error {
	background: #d70f0f;
}

.input2.focus:after {
	width: 100%;
}

.input2 .label {
	color: #bdcedc;
}

.input2 .label,
.input2 .err-text,
.input2.phone-hold .plus {
	white-space: nowrap;
	position: absolute;
	left: 0;
	z-index: 4;
	font-size: 12px;
	font-weight: 600;
	padding-left: 0;
	padding-right: 0;
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	bottom: 100%;
	margin-bottom: -11px;
}

.input2 .err-text {
	bottom: auto;
	top: 100%;
	margin-bottom: 0;
	margin-top: -7px;
	opacity: 0;
	z-index: -1;
	white-space: normal;
}

.input2.error .err-text {
	z-index: auto;
	opacity: 1;
}

.input2.placeholder .label,
.input2.phone-hold .plus {
	font-size: 14px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	bottom: 0;
	margin-bottom: 0;
	padding-left: 3px;
	padding-right: 3px;
}

.input2.phone-hold .plus {
	width: auto;
	left: auto;
	right: 100%;
}

.input2.accounts-for-domains textarea,
.input2.accounts-for-domains.placeholder .label {
	line-height: 27px;
	height: 97px;
}

.input2.accounts-for-domains textarea {
	font-weight: bold;
}

.input2.input2-big input,
.input2.input2-big textarea,
.input2.input2-big.placeholder .label {
	font-size: 16px;
}

.input2 .label .to-focus {
	display: block;
}

.input2 .label .to-unfocus {
	display: none;
}

.input2.placeholder .label .to-focus {
	display: none;
}

.input2.placeholder .label .to-unfocus {
	display: block;
}

.input2 .jcf-drop-active ~ .label {
	bottom: 100%;
	font-size: 12px;
	margin-bottom: -15px;
}

.input2.ok input,
.input2.ok textarea {
	color: #54bf9a;
}

.input2.focus input,
.input2.focus textarea {
/*color: #000;*/
}

.input2 .err-text,
.input2 .red,
.input2 .red *,
.input2.error .label {
	color: #d70f0f;
}

.input2.acc-textarea .label {
	line-height: normal;
}

.input2.acc-textarea.placeholder .label {
	margin-bottom: 15px;
}

.input2.acc-textarea textarea,
.input2.acc-textarea.placeholder .label {
	line-height: 24px;
}

.outtaHere {
	position: absolute!important;
	left: -10000px!important;
}

.radio,
.checkbox {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	border: 3px solid #c7b299;
	cursor: pointer;
	background: #fff;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.checkbox {
	background-image: url(../img/checkbox.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 7px;
	border-width: 2px;
	border-color: #bdcedc;
	width: 15px;
	height: 15px;
	border-radius: 1px;
	-webkit-border-radius: 1px;
}

.error .checkbox,
.error .radio {
	border-color: #f00;
}

.radio {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

label:hover .radio {
	border-color: #ffac69;
}

input:checked + .radio {
	border-width: 5px;
	border-color: #ff7505;
}

label:hover .checkbox {
	border-color: #ff7505;
}

input:checked + .checkbox {
	border-color: #ff7505;
	background-color: #ff7505;
}

label:hover .checkbox.bg-blue {
	border-color: #66aae9;
}

input:checked + .checkbox.bg-blue {
	border-color: #0071db;
	background-color: #0071db;
}

.datepicker-fader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	background: #000;
	opacity: 0.5;
	z-index: 999;
}

.datepicker-fader.accounts-fader-hide {
	z-index: -1;
	opacity: 0;
	width: 0;
	height: 0;
}

.ui-datepicker {
	box-sizing: content-box;
	font: inherit;
	color: inherit;
	z-index: 1001!important;
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 42px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.12);
	border: 0;
	padding: 25px 25px 15px 25px;
	width: auto;
}

.ui-datepicker .ui-datepicker-header {
	background: none;
	border: 0;
	color: #ff7505;
	text-align: center;
	text-transform: uppercase;
	font: bold 13px/28px Arial, Helvetica, sans-serif;
	height: auto;
	padding: 4px 0 24px 0;
}

.ui-datepicker table {
	font: bold 14px/28px Arial, Helvetica, sans-serif;
	color: #4e6481;
	border-collapse: collapse;
	width: 100%;
}

.ui-datepicker th,
.ui-datepicker td {
	padding: 5px;
	border: 0;
}

.ui-datepicker th {
	display: none;
}

.ui-datepicker td .ui-state-default {
	display: block;
	width: 28px;
	height: 28px;
	padding: 0;
	margin: 0;
	text-align: center;
	color: inherit;
	text-decoration: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	font-weight: bold;
	border: 0;
	background: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.ui-datepicker td .ui-priority-secondary {
	color: #acc0d1;
}

.ui-datepicker td .ui-state-hover {
	background: #f6f0ea;
}

.ui-datepicker td .ui-state-active {
	background: #ff7505;
	color: #fff;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 0;
	border: 0;
	margin: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	background: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
	left: 0;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
	right: 0;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	background: none;
	width: 11px;
	height: 11px;
	margin: -5.5px;
}

.ui-datepicker .ui-datepicker-prev span:before,
.ui-datepicker .ui-datepicker-next span:before,
.ui-datepicker .ui-datepicker-prev span:after,
.ui-datepicker .ui-datepicker-next span:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../img/datepicker-arr.png) no-repeat 0 0;
	background-size: 200% 200%;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
}

.ui-datepicker .ui-datepicker-prev span:after {
	background-position: 0 100%;
}

.ui-datepicker .ui-datepicker-next span:before {
	background-position: 100% 0;
}

.ui-datepicker .ui-datepicker-next span:after {
	background-position: 100% 100%;
}

.ui-datepicker .ui-datepicker-prev span:after,
.ui-datepicker .ui-datepicker-next span:after {
	opacity: 0;
}

.ui-datepicker .ui-datepicker-prev-hover span:before,
.ui-datepicker .ui-datepicker-next-hover span:before {
	opacity: 0;
}

.ui-datepicker .ui-datepicker-prev-hover span:after,
.ui-datepicker .ui-datepicker-next-hover span:after {
	opacity: 1;
}

/*accounts styles*/

.acc-center {
	text-align: center;
}

.accounts-hold {
	padding: 41px 0 21px 0;
}

.accounts-hold .green,
.accounts-modal .green {
	color: #27ca83;
}

.accounts-hold .green2,
.accounts-modal .green2 {
	color: #46db9a;
}

.accounts-hold .dblue,
.accounts-modal .dblue {
	color: #006dd6;
}

.accounts-hold .grey,
.accounts-modal .grey {
	color: #bdcedc;
}

.accounts-hold .grey2,
.accounts-modal .grey2 {
	color: #b4bcd1;
}

.accounts-hold .dgrey,
.accounts-modal .dgrey {
	color: #96a6bf;
}

.accounts-hold .yellow,
.accounts-modal .yellow {
	color: #ffbe31;
}

.accounts-hold .yellow2,
.accounts-modal .yellow2 {
	color: #ffe34a;
}

.accounts-hold .beige,
.accounts-modal .beige {
	color: #cfc1aa;
}

.accounts-hold .red,
.accounts-modal .red {
	color: #d70f0f;
}

.accounts-hold .red2,
.accounts-modal .red2 {
	color: #e65f5f;
}

.accounts-hold .orange,
.accounts-modal .orange {
	color: #ff7200;
}

.accounts-hold .orange2,
.accounts-modal .orange2 {
	color: #ff7200;
}

.accounts-hold .dark,
.accounts-modal .dark {
	color: #04101f;
}

.accounts-hold .pink,
.accounts-modal .pink {
	color: #ff7a99;
}

.accounts-hold .pink2,
.accounts-modal .pink2 {
	color: #ffabcb;
}

.accounts-hold .blue,
.accounts-modal .blue {
	color: #31beff;
}

.accounts-hold .blue2,
.accounts-modal .blue2 {
	color: #00dcea;
}

.accounts-ind:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-ind {
	padding: 0 0 0 215px;
}

.accounts-mainContent {
	float: left;
	width: 100%;
	position: relative;
}

.accounts-aside {
	float: left;
	width: 156px;
	margin: 0 0 0 -100%;
	position: relative;
	left: -215px;
}

.accounts-block {
	display: block;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	background: #fff;
	box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
	padding: 29px;
	margin: 0 0 40px 0;
	position: relative;
	border: 1px solid #fff;
}

.accounts-block.acc-bind {
	margin-bottom: 200px;
}

.accounts-block.disabled {
	opacity: 0.3;
}

.accounts-block.disabled:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
}

.accounts-block.accounts-border-green {
	border-color: #27d481;
}

.accounts-block.accounts-border-orange {
	border-color: #ff7505;
}

.accounts-btn {
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: #fff;
	-webkit-appearance: none;
	text-align: center;
	border: 0;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0 12px 33px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 12px 33px rgba(0, 0, 0, 0.12);
	font: 600 18px/21px 'Myriad Pro Cond', Arial, Helvetica, sans-serif;
	padding: 16px 20px 14px 20px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
}

.accounts-btn-small {
	font-size: 17px;
	padding: 12px 20px 10px 20px;
}

.accounts-btn img {
	height: 16px;
	width: auto;
	vertical-align: middle;
	margin: 0 10px 0 0;
	position: relative;
	top: -1px;
}

.accounts-btn input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	cursor: pointer;
}

.accounts-btn.bg-green {
	background-color: #27ca83;
}

.accounts-btn.bg-orange {
	background-color: #ff7200;
}

.accounts-btn.bg-grey {
	background-color: #a6b8d0;
}

.accounts-btn:hover {
	opacity: 0.9;
	color: #fff;
}

.accounts-btn-file {
	color: #006dd6;
	border-radius: 26px;
	-webkit-border-radius: 26px;
	box-shadow: inset 0 0 0 1px #b2d3f3;
	-webkit-box-shadow: inset 0 0 0 1px #b2d3f3;
	overflow: hidden;
}

.accounts-btn-file:hover {
	color: #d70f0f;
}

.accounts-btn-file input[type="file"] {
	position: absolute;
	top: -5px;
	right: -5px;
	font-size: 50px;
	margin: 0;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	opacity: 0;
	width: auto;
	left: auto;
}

.accounts-btn2 {
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: #fff;
	-webkit-appearance: none;
	text-align: center;
	border: 0;
	position: relative;
	overflow: hidden;
	background: #fff;
	border: 0;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0 1px 9px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.12);
	font: normal 14px/20px Arial, Helvetica, " sans-serif";
	padding: 5px 20px;
	letter-spacing: 0.02em;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
	color: #006dd6;
}

.accounts-btn2:hover {
	color: #d70f0f;
}

.accounts-hr {
	margin: 30px -29px;
	height: 1px;
	background: #eef5fa;
}

.accounts-head,
.accounts-foot,
.accounts-table th {
	font-weight: bold;
	letter-spacing: 0.04em;
}

.accounts-head,
.accounts-foot {
	line-height: 24px;
	margin: -29px -29px 30px -29px;
	padding: 22px 29px 23px 29px;
	border-bottom: 1px solid #eef5fa;
}

.accounts-foot {
	border-top: 1px solid #eef5fa;
	border-bottom: 0;
	margin-bottom: -29px;
	margin-top: 30px;
}

.accounts-head:after,
.accounts-foot:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-head .checkbox,
.accounts-foot .checkbox {
	float: right;
	margin: 4px 0 0 10px;
}

.accounts-head .r,
.accounts-foot .r {
	float: right;
}

.accounts-text {
	margin: -7px 0;
}

.accounts-text-style1 {
	line-height: 27px;
	margin: -11px 0 -7px 0;
}

.accounts-text-style3 {
	line-height: 30px;
	margin: -7px 0 -4px 0;
}

.accounts-text-style3 p {
	margin-bottom: 30px;
}

.accounts-text-style3 p:last-child {
	margin-bottom: 0;
}

.acc-fader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	background: #000;
	opacity: 0.7;
	z-index: 999;
}

.accounts-pop-menu .acc-fader {
	z-index: -1;
	opacity: 0;
}

.accounts-pop-menu .in {
	position: fixed;
	top: 0;
	left: 0;
	text-align: left;
	height: 100%;
	z-index: 1001;
	overflow: hidden;
	background: #fff;
	box-shadow: 1px 3px 42px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: 1px 3px 42px rgba(0, 0, 0, 0.33);
	width: 316px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	transform: translate3d(-316px, 0, 0);
	-webkit-transform: translate3d(-316px, 0, 0);
	opacity: 0;
}

#show-menu:checked + .accounts-pop-menu .in {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	opacity: 1;
}

#show-menu:checked + .accounts-pop-menu .acc-fader {
	opacity: 0.63;
	z-index: 999;
}

.accounts-pop-menu .t {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 189px;
	background: #0b1d47 url(../img/menu-bg.jpg) no-repeat 50% 50%;
	background-size: cover;
	color: #fff;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.1em;
}

.accounts-pop-menu .t .green {
	color: #00ff8a;
}

.accounts-pop-menu .t .acc-close {
	position: absolute;
	top: 0;
	left: 0;
	width: 54px;
	height: 62px;
	background: url(../img/cross-white.png) no-repeat 50% 50%;
	background-size: auto 16px;
	padding: 0;
	cursor: pointer;
}

.accounts-pop-menu .t .out {
	position: absolute;
	top: 0;
	right: 0;
	height: 62px;
	width: 64px;
	background: url(../img/logout-white.png) no-repeat 50% 50%;
	background-size: auto 16px;
}

.accounts-pop-menu .t .b {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0 95px 17px 20px;
}

.accounts-pop-menu .t .accounts-btn {
	font: bold 11px/26px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 0 10px;
	min-width: 51px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 24px;
}

.accounts-pop-menu .scroll {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	overflow-y: auto;
	margin: 189px 0 0 0;
}

.accounts-pop-menu ul,
.accounts-pop-menu li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.accounts-pop-menu li > * {
	display: block;
	position: relative;
	font-weight: bold;
	font-size: 11px;
	line-height: 21px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	overflow: hidden;
	padding: 16px 40px 17px 54px;
}

.accounts-pop-menu li img {
	position: absolute;
	height: 16px;
	width: auto;
	top: 19px;
	left: 20px;
}

.accounts-pop-menu li .r {
	float: right;
	font-size: 13px;
}

.accounts-pop-menu li .red {
	color: #ca2727;
}

.accounts-pop-menu li > .active {
	color: #ff7200;
	background-color: #f5f7f9;
}

.accounts-pop-menu ul + ul {
	margin-top: 9px;
	padding-top: 17px;
	border-top: 1px solid #f2f2f3;
}

.accounts-row {
	margin: 30px 0;
}

.accounts-row + .accounts-row,
.accounts-hr + .accounts-row,
.accounts-head + .accounts-row,
.accounts-row + .accounts-hr,
.accounts-text + .accounts-row,
.accounts-row + .accounts-btns {
	margin-top: 40px;
}

.accounts-row:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-row.accounts-file input[type="file"] {
	font-size: 12px;
}

.accounts-row.accounts-file + .accounts-btns {
	margin-top: 46px;
}

.accounts-row.accounts-file .acc-e {
	margin: 12px 0 0 0;
}

.accounts-row.accounts-file .acc-e:first-child {
	margin-top: 0!important;
}

.accounts-row.accounts-file .acc-file-err-text {
	margin: 12px 0 -6px 0;
	line-height: 21px;
}

.accounts-hold .half,
.accounts-modal .half {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 0 20px 0 0;
}

.accounts-hold .half + .half,
.accounts-modal .half + .half {
	padding: 0 0 0 20px;
}

.accounts-hold .half .half,
.accounts-modal .half .half {
	padding: 0 15px 0 0;
}

.accounts-hold .half .half + .half,
.accounts-modal .half .half + .half {
	padding: 0 0 0 15px;
}

.accounts-table {
	margin: -30px;
	line-height: 21px;
}

.accounts-table table {
	width: 100%;
	border-collapse: collapse;
	margin: 0;
}

.accounts-table th,
.accounts-table td {
	border: 0;
	text-align: left;
	vertical-align: top;
	padding: 22px 15px 21px 15px;
}

.accounts-table th:first-child,
.accounts-table td:first-child {
	padding-left: 30px;
}

.accounts-table th:last-child,
.accounts-table td:last-child {
	padding-right: 30px;
}

.accounts-table th {
	color: #bdcedc;
	white-space: nowrap;
	border-bottom: 1px solid #eef5fa;
	line-height: 15px;
	padding-top: 0;
	padding-bottom: 0;
	height: 67px;
	vertical-align: middle;
}

.accounts-table td {
	border-top: 1px solid #eef5fa;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.accounts-table tr:hover td {
	background-color: #f5faff;
}

.accounts-table.bigind td {
	padding-top: 31px;
	padding-bottom: 32px;
}

.accounts-table tr:first-child td {
	border-top-width: 0;
}

.accounts-table table table td {
	border-top-width: 0;
	padding-top: 0;
	padding-bottom: 27px;
}

.accounts-table table table tr:last-child td {
	padding-bottom: 0;
}

.accounts-table table table td:first-child {
	padding-left: 0;
}

.accounts-table table table td:last-child {
	padding-right: 0;
}

.accounts-table .center {
	text-align: center;
}

.accounts-table .right {
	text-align: right;
}

.accounts-table .w0 {
	white-space: nowrap;
	width: 1px;
}

.accounts-table .w1 {
	width: 26%;
}

.accounts-table .w2 {
	width: 17%;
}

.accounts-table .w3 {
	width: 135px;
}

.accounts-table .w4 {
	width: 9%;
}

.accounts-table .w5 {
	width: 13.2%;
}

.accounts-table .w6 {
	width: 9.5%;
}

.accounts-table .w7 {
	width: 16.5%;
}

.accounts-table .w8 {
	width: 11.5%;
}

.accounts-table .w9 {
	width: 26.5%;
}

.accounts-table .w10 {
	width: 14%;
}

.accounts-table .w11 {
	width: 11%;
}

.accounts-table .acc-for-check {
	width: 1px;
	padding-right: 5px;
}

.accounts-table .acc-for-check .checkbox {
	margin: 0;
	top: 0;
}

.accounts-table .acc-img,
.accounts-table2 .acc-img {
	display: block;
	margin: -7px 0;
}

.accounts-table .acc-img img,
.accounts-table2 .acc-img img {
	height: 56px;
	width: 99px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.accounts-table .acc-total {
	font-weight: bold;
	color: #3f4a5a;
}

.accounts-table .acc-total td {
	border-bottom: 1px solid #eef5fa;
}

.accounts-table .acc-total .acc-light {
	color: #7e8ca0;
}

.accounts-table .accounts-btn-small {
	margin: -7px 0 -10px 0;
}

.accounts-table .accounts-btn2 {
	margin: -5px 0;
}

.accounts-table .input2 {
	margin: -7px 0;
	top: -4px;
}

.accounts-table + .accounts-hr {
}

.accounts-sort-link {
	display: block;
	color: inherit;
	margin: 0 -15px 0 -30px;
	padding: 0 15px 0 30px;
}

.accounts-table .center .accounts-sort-link {
	padding-left: 15px;
	margin-left: -15px;
}

.accounts-sort-link:hover {
	color: #006dd6;
	background-color: #f5faff;
}

th:first-child .accounts-sort-link {
	margin-left: -30px;
	padding-left: 30px;
}

th:last-child .accounts-sort-link {
	margin-right: -30px;
	padding-right: 30px;
}

.accounts-sort-link .acc-arr {
	display: inline-block;
	vertical-align: middle;
	display: none;
	height: 11px;
	width: 8px;
	position: relative;
	top: -1px;
	margin: 0 0 0 8px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 0;
}

.accounts-sort-link.acc-up .acc-arr,
.accounts-sort-link.acc-down .acc-arr {
	opacity: 1;
	display: inline-block;
}

.accounts-sort-link.acc-up .acc-arr {
	-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	transform: scale(1, -1);
}

.accounts-sort-link .acc-arr:before,
.accounts-sort-link .acc-arr:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../img/sort-arr.png) no-repeat;
	background-size: 100% auto;
	opacity: 1;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.accounts-sort-link .acc-arr:after {
	background-position: 0 -13px;
	opacity: 0;
}

.accounts-sort-link:hover .acc-arr:before {
	opacity: 0;
}

.accounts-sort-link:hover .acc-arr:after {
	opacity: 1;
}

.accounts-sort-link .cell {
	height: 66px;
}

.accounts-sort-link .inline,
.accounts-sort-link .cell {
	text-align: inherit;
}

.accounts-pic-link {
	white-space: nowrap;
	position: relative;
}

.accounts-pic-link img,
.accounts-pic-link > span {
	margin: 0 5px 0 0;
	height: 16px;
	width: auto;
	vertical-align: middle;
	position: relative;
	top: -1px;
}

.accounts-pic-link.notext img,
.accounts-pic-link.notext > span {
	margin-right: 0;
}

.accounts-pic-link .acc-pic-mail {
	width: 20px;
	display: inline-block;
}

.accounts-pic-link .acc-pic-mail:before,
.accounts-pic-link .acc-pic-mail:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../img/pic-mail.png) no-repeat;
	background-size: 100% auto;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.accounts-pic-link .acc-pic-mail:after {
	background-position: 0 -16px;
	opacity: 0;
}

.accounts-pic-link:hover .acc-pic-mail:before {
	opacity: 0;
}

.accounts-pic-link:hover .acc-pic-mail:after {
	opacity: 1;
}

.show-mob,
.show-touch,
.show-mob-inline,
.show-tablet,
.show-tablet2,
.show-tablet-inline {
	display: none;
}

.accounts-done {
	text-align: center;
	margin: 90px 0 53px 0;
	line-height: 24px;
}

.accounts-done .ind2 {
	margin-bottom: 24px;
}

.accounts-done + .accounts-btns {
	margin-top: 83px;
}

.accounts-done:before {
	content: '';
	display: block;
	background: url(../img/check-done.png) no-repeat 50% 50%;
	background-size: 100% 100%;
	width: 81px;
	height: 81px;
	margin: 0 auto 31px auto;
}

.accounts-done.accounts-done-style3 {
	line-height: 30px;
	margin-bottom: 50px;
}

.accounts-done.accounts-done-style3 .ind2 {
	margin-bottom: 30px;
}

.accounts-done.accounts-done-style3 + .accounts-btns {
	margin-top: 80px;
}

.accounts-done.accounts-done-style3:before {
	margin-bottom: 28px;
}

.accounts-ref-link:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-stat:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-stat {
	list-style: none;
	margin: -2px -30px -52px -30px;
	padding: 7px 0 0 0;
	line-height: 21px;
}

.accounts-stat li {
	float: left;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 25%;
	height: 154px;
}

.accounts-stat strong {
	display: inline-block;
	vertical-align: top;
	font-weight: normal;
	font-size: 36px;
	line-height: 36px;
	padding: 0 0 17px 0;
}

.accounts-nav {
	text-align: center;
	margin: 42px 0 30px 0;
}

.accounts-nav .prev,
.accounts-nav .next {
	display: inline-block;
	vertical-align: top;
	width: 51px;
	height: 51px;
	margin: 0 14px;
	position: relative;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.accounts-nav .prev span,
.accounts-nav .next span {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	background: #fff;
	box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.accounts-nav a.prev:hover span,
.accounts-nav a.next:hover span {
	margin: -3px;
}

.accounts-nav .prev:before,
.accounts-nav .prev:after,
.accounts-nav .next:before,
.accounts-nav .next:after {
	content: '';
	width: 11px;
	height: 16px;
	position: absolute;
	z-index: 2;
	top: 50%;
	margin: -8px -7px;
	background: #fff url(../img/nav-arr.png) no-repeat;
	background-size: 11px auto;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
}

.accounts-nav .prev:before,
.accounts-nav .prev:after {
	left: 50%;
}

.accounts-nav .next:before,
.accounts-nav .next:after {
	right: 50%;
}

.accounts-nav .prev:after,
.accounts-nav .next:after {
	opacity: 0;
	background-position: 0 -18px;
}

.accounts-nav a.prev:hover:before,
.accounts-nav a.next:hover:before {
	opacity: 0;
}

.accounts-nav a.prev:hover:after,
.accounts-nav a.next:hover:after {
	opacity: 1;
}

.accounts-nav .next:before,
.accounts-nav .next:after {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.accounts-nav .set {
	margin: 19px 0 0 0;
}

.accounts-nav-top {
	margin: 12px 38px 34px 38px;
	padding: 0 60px;
	position: relative;
}

.accounts-nav-top .cell {
	height: 51px;
	text-align: center;
}

.accounts-nav-top .prev,
.accounts-nav-top .next {
	position: absolute;
	top: 0;
	margin: 0;
}

.accounts-nav-top .prev {
	left: 0;
}

.accounts-nav-top .next {
	right: 0;
}

.accounts-nav-top .set {
	margin: 0;
}

.accounts-btns:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-btns {
	margin: 30px 0 0 0;
}

.accounts-btns.with-line {
	margin-left: -29px;
	margin-right: -29px;
	padding: 30px 29px 0 29px;
	border-top: 1px solid #eef5fa;
}

.accounts-btns .half {
	padding: 0 10px 0 0;
}

.accounts-btns .half + .half {
	padding: 0 0 0 10px;
}

.accounts-search {
	margin: -30px -29px 30px -29px;
	padding: 30px 29px;
	border-bottom: 1px solid #eef5fa;
}

.accounts-search:last-child {
	margin-bottom: -29px;
	padding-bottom: 29px;
	border-bottom-width: 0;
}

.accounts-search .acc-bg:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-search .acc-bg {
	border: 2px solid #27ca83;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	position: relative;
	background: #fff;
}

.accounts-search input[type="text"] {
	box-sizing: border-box;
	display: block;
	border: 0;
	width: 100%;
	border: 0;
	-webkit-appearance: none;
	background: #fff;
	font: bold 14px Arial, Helvetica, sans-serif;
	letter-spacing: 0.03em;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	color: #4e6481;
	margin: 0;
	padding: 17px 0 17px 22px;
	height: auto;
}

.accounts-search input[type="text"].placeholder {
	color: #bdcedc;
	font-weight: normal;
}

.accounts-search input[type="submit"] {
	position: absolute;
	top: 0;
	right: 0;
	width: 62px;
	margin: 0;
	height: 100%;
	border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
	background: #2bd98d url(../img/search.png) no-repeat 50% 50%;
	background-size: auto 17px;
	-webkit-appearance: none;
	border: 0;
	padding: 0;
	cursor: pointer;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
}

.accounts-search input[type="submit"]:hover {
	background-color: #1ae98f;
}

.accounts-modal {
	position: absolute;
	top: 40px;
	left: 50%;
	width: 777px;
	padding: 30px;
	margin: 0 -388px;
	box-sizing: border-box;
	background: #fff;
	z-index: 1000;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.09);
}

@media only screen and (max-width: 877px) {

.accounts-modal {
	width: auto;
	left: 0;
	right: 0;
	margin-left: 40px;
	margin-right: 40px;
}
}

.accounts-modal .acc-close {
	cursor: pointer;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	height: 88px;
	width: 88px;
	background: none;
}

.accounts-modal .acc-close:before,
.accounts-modal .acc-close:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 12px;
	height: 12px;
	margin: -6px;
	background: url(../img/modal-close.png) no-repeat;
	background-size: 100% auto;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
}

.accounts-modal .acc-close:after {
	background-position: 0 -12px;
	opacity: 0;
}

.accounts-modal .acc-close:hover:before {
	opacity: 0;
}

.accounts-modal .acc-close:hover:after {
	opacity: 1;
}

.accounts-modal .accounts-head1 {
	font-size: 18px;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-right: 88px;
}

.accounts-modal-wide {
	width: 930px;
	margin-left: -450px;
	margin-right: -450px;
	padding: 40px;
	top: 40px;
}

@media only screen and (max-width: 1030px) {

.accounts-modal-wide {
	width: auto;
	left: 0;
	right: 0;
	margin-left: 40px;
	margin-right: 40px;
}
}

.accounts-modal-wide .accounts-btns {
	margin-left: -40px;
	margin-right: -40px;
	margin-bottom: -40px;
	/*margin-top: 40px;*/
	padding: 30px 40px;
}

.accounts-modal-wide .accounts-head {
	margin-left: -40px;
	margin-right: -40px;
	padding-left: 40px;
	padding-right: 40px;
}

.accounts-modal-wide .accounts-head1 {
	margin-top: -40px;
	margin-bottom: 40px;
}

.accounts-modal-wide .accounts-hr {
	margin-left: -40px;
	margin-right: -40px;
}

.accounts-modal-wide .accounts-table {
	margin-left: -40px;
	margin-right: -40px;
}

.accounts-modal-wide .accounts-table th:first-child,
.accounts-modal-wide .accounts-table td:first-child {
	padding-left: 40px;
}

.accounts-modal-wide .accounts-table th:last-child,
.accounts-modal-wide .accounts-table td:last-child {
	padding-right: 40px;
}

.accounts-modal-wide .accounts-table th:first-child .accounts-sort-link {
	margin-left: -40px;
	padding-left: 40px;
}

.accounts-modal-wide .accounts-table th:last-child .accounts-sort-link {
	margin-right: -40px;
	padding-right: 40px;
}

.accounts-modal-wide .accounts-text + .accounts-btns {
	margin-top: 30px;
}

.accounts-cform {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: -210px 0;
	padding: 0;
}

.accounts-cform-place {
	height: 720px;
}

.accounts-cform .logo {
	margin: 0 0 63px 0;
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
}

.accounts-cform .logo > * {
	display: block;
	margin: 0 auto;
	background: url(../img/logo-dark.png) no-repeat 50% 50%;
	width: 96px;
	height: 23px;
	background-size: cover;
}

.accounts-cform .accounts-block {
	margin: 0 auto;
	padding: 52px;
	width: 456px;
	border-radius: 22px;
	-webkit-border-radius: 22px;
	box-shadow: 0 0 99px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 0 0 99px rgba(0, 0, 0, 0.09);
}

.accounts-cform .accounts-btns {
	margin-top: 58px;
}

.accounts-cform .accounts-btn {
	font-size: 21px;
	padding-top: 19px;
	padding-bottom: 17px;
}

.accounts-cform .accounts-head3 {
	text-align: center;
	font: 600 27px/33px 'Myriad Pro Cond', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #485e7c;
	margin: -6px 0 38px 0;
}

.accounts-cform .acc-text-place {
	height: 48px;
}

.accounts-cform .accounts-row {
	margin-top: 49px;
}

.accounts-cform .accounts-out-link {
	text-align: center;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	font-size: 16px;
	margin: 59px 0 0 0;
}

.acc-corner {
	width: 8px;
	height: 8px;
	overflow: hidden;
	position: absolute;
	z-index: 5;
}

.acc-corner:before {
	content: '';
	display: block;
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	border: 8px solid #fff;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.acc-corner.tl {
	top: 0;
	left: 0;
}

.acc-corner.tl:before {
	top: -8px;
	left: -8px;
}

.acc-corner.tr {
	top: 0;
	right: 0;
}

.acc-corner.tr:before {
	top: -8px;
	right: -8px;
}

.acc-corner.bl {
	bottom: 0;
	left: 0;
}

.acc-corner.bl:before {
	bottom: -8px;
	left: -8px;
}

.acc-corner.br {
	bottom: 0;
	right: 0;
}

.acc-corner.br:before {
	bottom: -8px;
	right: -8px;
}

.accounts-notification {
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: #d9f9e6;
	font-size: 14px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 25px;
}

.accounts-notification .accounts-text {
	position: relative;
	letter-spacing: 0.04em;
}

.accounts-notification .accounts-text.accounts-with-img {
	padding-left: 42px;
}

.accounts-notification .accounts-text img {
	height: 41px;
	width: auto;
	position: absolute;
	top: -7px;
	left: -13px;
}

.accounts-action-menu3 {
	float: right;
	white-space: nowrap;
	font-size: 0;
	letter-spacing: normal;
	margin: 1px 0 -2px 0;
}

.accounts-head .r + .accounts-action-menu3 {
	margin-right: 15px;
}

.accounts-action-menu3 > * {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	padding: 0 5px;
	min-width: 32px;
	margin: 0 0 5px 10px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #cdd6e4;
	height: 21px;
	line-height: 21px;
	text-align: center;
	color: #FFF;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.accounts-action-menu3 > *.bg-red {
	background-color: #e32b2b;
}

.accounts-action-menu3 > *:hover {
	color: #fff;
	background-color: #006dd6;
}

.accounts-action-menu4 {
	position: relative;
	line-height: 0;
}

.accounts-action-menu4 .acc-toggle {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #fff;
	box-shadow: 0 1px 9px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.12);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.accounts-action-menu4 .acc-toggle span {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -1px;
}

.accounts-action-menu4 .acc-toggle span:before,
.accounts-action-menu4 .acc-toggle span:after {
	content: '';
}

.accounts-action-menu4 .acc-toggle span,
.accounts-action-menu4 .acc-toggle span:before,
.accounts-action-menu4 .acc-toggle span:after {
	position: absolute;
	width: 2px;
	height: 2px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	background: #006dd6;
}

.accounts-action-menu4 .acc-toggle span:before {
	left: -4px;
}

.accounts-action-menu4 .acc-toggle span:after {
	right: -4px;
}

.accounts-action-menu4:hover .acc-toggle {
	background-color: #006dd5;
}

.accounts-action-menu4:hover .acc-toggle span,
.accounts-action-menu4:hover .acc-toggle span:before,
.accounts-action-menu4:hover .acc-toggle span:after {
	background-color: #fff;
}

.accounts-action-menu4 .sub {
	margin-left: 0;
	margin-right: 0;
	left: 0;
}

.accounts-action-menu4.r .sub {
	left: auto;
	right: 0;
}

.accounts-action-menu4 .sub ul {
	min-width: 159px;
}

.accounts-action-menu4 .sub li > * {
	padding-top: 10px;
	padding-bottom: 10px;
}

.accounts-action-menu4:hover .sub {
	padding-top: 10px;
}

.accounts-examples {
	list-style: none;
	margin: 24px -80px 36px 0;
	padding: 0;
	line-height: 24px;
}

.accounts-examples:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-examples li {
	float: left;
	padding: 0;
	margin: 0 80px 0 0;
}

.accounts-examples li strong {
	display: block;
	margin: 0 0 6px 0;
}

.accounts-extras {
	font-size: 0;
	letter-spacing: normal;
	line-height: 0;
	display: inline-block;
	vertical-align: middle;
	margin: 0 -17px -6px 0;
}

.accounts-extras > * {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	font-size: 10px;
	text-transform: none;
	letter-spacing: 0.02em;
	padding: 0 9px;
	height: 21px;
	line-height: 21px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 0 7px 6px 0;
	color: #fff;
}

.accounts-extras .bg-red {
	background-color: #ff425d;
}

.accounts-extras .bg-green {
	background-color: #65d811;
}

.accounts-extras .bg-dgreen {
	background-color: #10c673;
}

.accounts-extras .bg-green2 {
	background-color: #30db85;
}

.accounts-extras .bg-seagreen {
	background-color: #33e6ad;
}

.accounts-extras .bg-blue {
	background-color: #1ed7ff;
}

.accounts-extras .bg-dblue {
	background-color: #1e9dff;
}

.accounts-extras .bg-blue2 {
	background-color: #30b1db;
}

.accounts-extras .bg-orange {
	background-color: #f29f00;
}

.accounts-extras > a:hover {
	color: #fff;
	background-color: #006dd6;
}

ul.accounts-list-products {
	list-style: none;
	margin: 0 0 -18px 0;
	padding: 0;
}

ul.accounts-list-products li {
	margin: 0 0 18px 0;
	padding: 0;
}

ul.accounts-list-commands {
	list-style: none;
	margin: 0 0 -18px 0;
	padding: 0;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-gap: 30px;
}

ul.accounts-list-commands li {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 0 0 18px 0;
	position: relative;
	padding: 0 0 0 15px;
}

ul.accounts-list-commands li:before {
	content: '•';
	position: absolute;
	top: 0;
	left: 0;
}

.acc-opt-link {
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
}

.acc-opt-link.active {
	color: inherit;
	border-bottom-width: 0;
	cursor: inherit;
}

.accounts-statistics .accounts-head {
	border-bottom-width: 0;
	margin-bottom: 0;
}

.accounts-statistics .accounts-head:not(:first-child) {
	margin-top: 30px;
}

.accounts-statistics img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.accounts-vps-details > div + div {
	margin-top: 12px;
}

.accounts-settings2:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-settings2 {
	line-height: 24px;
	margin: -29px -29px 30px -29px;
	padding: 23px 29px 23px 29px;
	border-bottom: 1px solid #eef5fa;
}

.accounts-settings2 .acc-l {
	float: left;
}

.accounts-settings2 .acc-r {
	float: right;
}

.accounts-settings2 .accounts-btn {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
}

.accounts-settings2 .accounts-btn + .accounts-btn {
	margin-left: 20px;
}

.accounts-settings2 .input2 {
	float: left;
	width: 231px;
	margin: 8px 20px -8px 0;
}

.accounts-new-temp-add .accounts-btn .acc-plus {
	font-family: Arial, Helvetica, " sans-serif";
	font-size: 18px;
	font-weight: bold;
	vertical-align: top;
	margin-right: 4px;
	position: relative;
	top: -1px;
}

.accounts-new-temp-add {
	margin: -30px 0 40px 0;
	padding: 30px 0;
}

.accounts-new-temp-add .accounts-btn {
	float: left;
}

.accounts-cover-notifications {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1100;
	padding: 30px 30px 0 0;
}

.accounts-cover-notifications .acc-el {
	width: 278px;
	box-sizing: border-box;
	font: normal 14px/21px Arial, Helvetica, " sans-serif";
	color: #feffff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
	padding: 18px 54px 19px 24px;
	margin: 0 0 10px 0;
	position: relative;
}

.accounts-cover-notifications .acc-el.bg-green {
	background-color: #3ccf8f;
}

.accounts-cover-notifications .acc-el.bg-dgreen {
	background-color: #2bbd7e;
}

.accounts-cover-notifications .acc-el.bg-orange {
	background-color: #fc9a4b;
}

.accounts-cover-notifications .acc-el.bg-dorange {
	background-color: #db6b10;
}

.accounts-cover-notifications .acc-el.bg-red {
	background-color: #fc6473;
}

.accounts-cover-notifications .acc-el .acc-close {
	cursor: pointer;
	width: 54px;
	height: 54px;
	position: absolute;
	top: 0;
	right: 0;
	background: url(../img/cross-white2.png) no-repeat 50% 50%;
	background-size: 12px auto;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
}

.accounts-cover-notifications .acc-el .acc-close:hover {
	opacity: 0.9;
}

.accounts-actions-round {
	white-space: nowrap;
	font-size: 0;
	line-height: 0;
}

.accounts-actions-round .accounts-btn2 {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	width: 42px;
	height: 42px;
	margin: -11px 0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.accounts-actions-round .accounts-btn2 + .accounts-btn2 {
	margin-left: 20px;
}

.accounts-actions-round .accounts-btn2 span {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -9px;
}

.accounts-actions-round .accounts-btn2 span:before,
.accounts-actions-round .accounts-btn2 span:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
}

.accounts-actions-round .accounts-btn2 span:after {
	background-position: 0 -18px;
}

.accounts-actions-round .accounts-btn2 span:after {
	opacity: 0;
}

.accounts-actions-round .accounts-btn2:hover span:before {
	opacity: 0;
}

.accounts-actions-round .accounts-btn2:hover span:after {
	opacity: 1;
}

.accounts-actions-round .accounts-btn2 .acc-star:before,
.accounts-actions-round .accounts-btn2 .acc-star:after {
	background-image: url(../img/actions-round-star.png);
}

.accounts-actions-round .accounts-btn2 .acc-star.active:before {
	background-position: 0 -18px;
}

.accounts-actions-round .accounts-btn2 .acc-star.active:after {
	background-position: 0 0;
}

.accounts-actions-round .accounts-btn2 .acc-edit:before,
.accounts-actions-round .accounts-btn2 .acc-edit:after {
	background-image: url(../img/actions-round-edit.png);
}

.accounts-actions-round .accounts-btn2 .acc-minus:before,
.accounts-actions-round .accounts-btn2 .acc-minus:after {
	background-image: url(../img/actions-round-minus.png);
}

.accounts-actions-round .accounts-btn2 .acc-uarr:before,
.accounts-actions-round .accounts-btn2 .acc-uarr:after {
	background-image: url(../img/actions-round-uarr.png);
}

.accounts-actions-round .accounts-btn2 .acc-darr:before,
.accounts-actions-round .accounts-btn2 .acc-darr:after {
	background-image: url(../img/actions-round-darr.png);
}

.accounts-new-temp-set {
	margin: -17px 0 40px 0;
}

.accounts-new-temp-set .input2 {
	width: 161px;
	top: 12px;
}
