@charset "utf-8";

.hide-tablet2 {
	display: none;
}

.show-tablet2 {
	display: block!important;
}

.accounts-nav-top {
	margin-left: 0;
	margin-right: 0;
}

.accounts-modal-wide {
	padding: 30px;
}

.accounts-modal-wide .accounts-btns {
	margin-left: -30px;
	margin-right: -30px;
	margin-bottom: -30px;
	margin-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.accounts-modal-wide .accounts-head {
	margin-left: -30px;
	margin-right: -30px;
	padding-left: 30px;
	padding-right: 30px;
}

.accounts-modal-wide .accounts-head1 {
	margin-top: -30px;
	margin-bottom: 30px;
}

.accounts-modal-wide .accounts-hr {
	margin-left: -30px;
	margin-right: -30px;
}

.accounts-modal-wide .accounts-table {
	margin-left: -30px;
	margin-right: -30px;
}

.accounts-modal-wide .accounts-table th:first-child,
.accounts-modal-wide .accounts-table td:first-child {
	padding-left: 30px;
}

.accounts-modal-wide .accounts-table th:last-child,
.accounts-modal-wide .accounts-table td:last-child {
	padding-right: 30px;
}

.accounts-modal-wide .accounts-table th:first-child .accounts-sort-link {
	margin-left: -30px;
	padding-left: 30px;
}

.accounts-modal-wide .accounts-table th:last-child .accounts-sort-link {
	margin-right: -30px;
	padding-right: 30px;
}

.accounts-settings2 .acc-l,
.accounts-settings2 .acc-r {
	float: left;
	clear: left;
}

.accounts-settings2 .acc-r {
	margin-top: 20px;
}
