@charset "utf-8";

.wrapper,
.footer {
	min-width: 320px;
}

.container {
	width: auto;
	padding: 0 40px;
}

.header {
	padding-top: 29px;
	padding-bottom: 0;
	height: 51px;
}

.header .menu {
	display: none;
}

.menu-toggle {
	left: 0;
}

.link-logout {
	left: auto;
	right: 0;
}

.cart-toggle {
	right: 0;
	left: auto;
}

.for-tabl {
	display: inline;
}

.footer .container {
	padding-left: 70px;
	padding-right: 70px;
}

.footer .logo {
	margin-top: -10px;
}

.menu > ul > li {
	margin-left: 40px;
}

.hide-tablet {
	display: none;
}

.show-tablet {
	display: block!important;
}

.show-tablet-inline {
	display: inline-block!important;
}

.logo2 {
	display: block;
	position: relative;
}

.logo2.for-mob {
	display: none;
}

/*accounts styles*/



.accounts-hold {
	padding-top: 29px;
}

.accounts-ind {
	padding: 0;
}

.accounts-aside {
	display: none;
}

.accounts-cform {
	padding: 0;
}

.accounts-table th,
.accounts-table td {
	padding-left: 10px;
	padding-right: 10px;
}

.accounts-table th:first-child,
.accounts-table td:first-child {
	padding-left: 30px;
}

.accounts-table th:last-child,
.accounts-table td:last-child {
	padding-right: 30px;
}

.accounts-sort-link {
	margin-right: -10px;
	padding-right: 10px;
	margin-left: -20px;
	padding-left: 20px;
}

th:first-child .accounts-sort-link {
	margin-left: -30px;
	padding-left: 30px;
}

th:last-child .accounts-sort-link {
	margin-right: -30px;
	padding-right: 30px;
}

.accounts-table .center-tablet {
	text-align: center;
}

.accounts-table .center-tablet .accounts-pic-link img {
	margin-right: 0;
}

.accounts-pic-link.acc-img-tab img {
	margin: 0;
}

.accounts-settings2 .accounts-btn {
	padding-left: 20px;
	padding-right: 20px;
}
