@charset "utf-8";

@font-face {
	font-family: 'Myriad Pro';
	src: url('fontsacc/mp-regular-webfont.eot');
	src: url('fontsacc/mp-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fontsacc/mp-regular-webfont.woff') format('woff'), url('fontsacc/mp-regular-webfont.svg#MyriadProRegular') format('svg'), url('fontsacc/mp-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('fontsacc/MyriadPro-Semibold.eot');
	src: url('fontsacc/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'), url('fontsacc/MyriadPro-Semibold.woff') format('woff'), url('fontsacc/MyriadPro-Semibold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro Condensed';
	src: url('fontsacc/MyriadPro-SemiboldCond.eot');
	src: url('fontsacc/MyriadPro-SemiboldCond.eot?#iefix') format('embedded-opentype'), url('fontsacc/MyriadPro-SemiboldCond.woff') format('woff'), url('fontsacc/MyriadPro-SemiboldCond.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

html,
body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
	-webkit-text-size-adjust: none;
}

.invoiceacc {
	font: normal 18px/27px "Myriad Pro", Arial, Helvetica, sans-serif;
	letter-spacing: 0.02em;
	color: #4c5e6d;
	width: 965px;
	margin: 0 auto;
	text-align: left;
}

.invoiceacc *,
.invoiceacc *:before,
.invoiceacc *:after {
	box-sizing: inherit;
}

.invoiceacc form,
.invoiceacc fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

.invoiceacc a {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	text-decoration: none;
	color: #1586e6;
}

.invoiceacc a:hover {
	color: #dc0000;
}

.invoiceacc select {
	position: relative;
	top: -1px;
	height: 29px;
	margin: -1px 0;
	text-transform: none;
	letter-spacing: normal;
	font: normal 15px Arial, Helvetica, sans-serif;
	color: #000;
}

.invoiceacc strong {
	font-weight: 600;
}

.invoiceacc .cellacc {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

.invoiceacc .orangeacc {
	color: #ff7200;
}

.invoiceacc .greenacc {
	color: #29af71;
}

.invoiceacc .greenacc2 {
	color: #27d481;
}

.invoiceacc .darkacc {
	color: #000;
}

.invoiceacc .nofloatacc {
	height: 100%;
	overflow: hidden;
}

.invoiceacc .topacc,
.invoiceacc table th,
.invoiceacc table td,
.invoiceacc .cartacc .headacc,
.invoiceacc .cartacc li,
.invoiceacc .submitacc,
.invoiceacc .navacc,
.invoiceacc .cartacc .operacc,
.invoiceacc .reqacc {
	padding-left: 39px;
	padding-right: 39px;
}

.invoiceacc .topacc:after,
.invoiceacc .topacc .bigacc:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.invoiceacc .topacc {
	padding-top: 69px;
	padding-bottom: 32px;
}

.invoiceacc .topacc .racc {
	float: right;
	text-align: right;
}

.invoiceacc .topacc .bigacc {
	margin: 5px 0 29px 0;
	text-align: right;
	text-transform: uppercase;
	font: 600 33px/29px "Myriad Pro Condensed", Arial, Helvetica, sans-serif;
	letter-spacing: 0.04em;
	color: #000;
}

.invoiceacc .topacc .logoacc {
	float: left;
	margin: -5px 0 0 -39px;
}

.invoiceacc .topacc .logoacc img {
	height: 29px;
	width: auto;
}

.invoiceacc .cartacc .bigacc,
.invoiceacc .cartacc .headacc {
	font-weight: 600;
	font-size: 21px;
	letter-spacing: normal;
	text-transform: uppercase;
}

.invoiceacc .cartacc .racc {
	float: right;
	margin: 0 0 0 20px;
	white-space: nowrap;
	text-align: right;
	text-transform: none;
}

.invoiceacc .cartacc .headacc:after,
.invoiceacc .cartacc li:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.invoiceacc .cartacc .headacc,
.invoiceacc .cartacc ul li {
	border-top: 1px solid #e9edf1;
	padding-top: 34px;
	padding-bottom: 34px;
}

.invoiceacc .cartacc li {
	position: relative;
}

.invoiceacc .cartacc .headacc {
	padding-bottom: 0;
	color: #000;
	padding-top: 37px;
}

.invoiceacc .cartacc .headacc .racc {
	text-transform: inherit;
}

.invoiceacc .cartacc ol {
	counter-reset: li;
	list-style: none;
	margin: 0 0 33px 0;
	padding: 0;
}

.invoiceacc .cartacc ol > li {
	margin: 22px 0 0 0;
}

.invoiceacc .cartacc ol > li:before {
	content: counter(li)".";
	counter-increment: li;
	position: absolute;
	top: 0;
	left: 0;
}

.invoiceacc .cartacc ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.invoiceacc .cartacc select {
	vertical-align: middle;
	min-width: 207px;
	margin-left: 17px;
}

.invoiceacc .cartacc .operacc {
	margin: 6px -39px -34px -39px;
	padding-top: 16px;
	padding-bottom: 16px;
	line-height: 0;
	text-align: justify;
	font-weight: normal;
	color: #4c5e6d;
	letter-spacing: 0.02em;
	text-transform: none;
	font-size: 18px;
	background: #e9f9f2;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.invoiceacc .cartacc .operacc:after {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 0;
}

.invoiceacc .cartacc .operacc > * {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	line-height: 27px;
}

.invoiceacc .submitacc {
	background: #f8f6f2;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-top: 14px;
	padding-bottom: 14px;
	line-height: 31px;
}

.invoiceacc .submitacc img {
	max-height: 31px;
	vertical-align: middle;
	width: auto;
	height: auto;
}

.invoiceacc .submitacc .arracc {
	display: inline-block;
	vertical-align: middle;
	background: url(imgacc/go.png) no-repeat 50% 50%;
	background-size: auto 100%;
	width: 63px;
	height: 15px;
	margin: 0 45px 0 22px;
}

.invoiceacc .navacc:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.invoiceacc .navacc {
	padding-top: 35px;
	padding-bottom: 35px;
}

.invoiceacc .navacc .lacc {
	float: left;
}

.invoiceacc .navacc .racc {
	float: right;
}

.invoiceacc .navacc .arrlacc,
.invoiceacc .navacc .arrdacc {
	display: inline-block;
	position: relative;
	padding-left: 39px;
	margin-left: -39px;
}

.invoiceacc .navacc .arrlacc:before,
.invoiceacc .navacc .arrlacc:after,
.invoiceacc .navacc .arrdacc:before,
.invoiceacc .navacc .arrdacc:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 19.5px;
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
	margin: -8px -7px;
	opacity: 1;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.invoiceacc .navacc .arrlacc:after,
.invoiceacc .navacc .arrdacc:after {
	background-position: 0 -16px;
	opacity: 0;
}

.invoiceacc .navacc a.arrlacc:hover:before,
.invoiceacc .navacc a.arrdacc:hover:before {
	opacity: 0;
}

.invoiceacc .navacc a.arrlacc:hover:after,
.invoiceacc .navacc a.arrdacc:hover:after {
	opacity: 1;
}

.invoiceacc .navacc .arrlacc:before,
.invoiceacc .navacc .arrlacc:after {
	background-image: url(imgacc/larr.png);
}

.invoiceacc .navacc .arrdacc:before,
.invoiceacc .navacc .arrdacc:after {
	background-image: url(imgacc/darr.png);
}

.invoiceacc .btnacc {
	border: 0;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	text-decoration: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
	font: inherit;
	letter-spacing: inherit;
	cursor: pointer;
	font-weight: 600;
	font-size: 21px;
	letter-spacing: normal;
	text-transform: uppercase;
	background: #27d481;
	color: #fff;
	height: 59px;
	line-height: 61px;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.invoiceacc .btnacc:hover {
	opacity: 0.8;
	color: #fff;
}

.invoiceacc .hracc {
	background: #e9edf1;
	height: 1px;
}

.invoiceacc .hracc + .btnacc {
	margin-top: 43px;
}

.invoiceacc .reqacc {
	padding-top: 34px;
	padding-bottom: 34px;
	background: #f8f6f2;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.invoiceacc .reqacc .bigacc {
	font-weight: 600;
	font-size: 21px;
	letter-spacing: normal;
	text-transform: uppercase;
	margin-bottom: 13px;
}

.invoiceacc .balanceacc {
	background: #f8f6f2;
	padding: 18px 39px 19px 39px;
	margin: 34px -39px 37px -39px;
}

.invoiceacc .balanceacc:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.invoiceacc .balanceacc .btnacc,
.invoiceacc .balanceacc input[type="text"] {
	float: right;
	margin: 20px 0 0 21px;
}

.invoiceacc .balanceacc .btnacc {
	float: right;
	width: 182px;
	height: 42px;
	line-height: 44px;
	font-size: 18px;
	padding: 0;
}

.invoiceacc .balanceacc .cellacc {
	height: 81px;
}

.invoiceacc .balanceacc input[type="text"] {
	font: inherit;
	color: inherit;
	border: 0;
	float: right;
	font-size: 21px;
	font-weight: 600;
	background: #fff;
	padding:8px 0 5px 0;
	box-sizing: border-box;
	text-align: center;
	width: 107px;
	height:42px;
	border: 1px solid #c1b8aa;
	color:#4c5e6d;
}

.invoiceacc .balanceacc input[type="text"].placeholderacc {
	color: #e4e4e1;
}
