@charset "UTF-8";

@media only screen and (max-width: 768px) {

.top-img .hold {
	width: 200%;
	margin-left: -50%;
	left: 0;
	margin-top: -12px;
}

.top-img img {
	width: 100%;
	height: auto;
	min-width: 100%;
	margin-left: 0;
}

.top-img.tld-img .hold,
.index.top-img .hold {
	width: 1660px;
	margin-left: -830px;
	right: auto;
	left: 50%;
}

.top-img.tld-img img {
	min-height: 900px;
	width: auto;
}

.index.top-img img {
	min-height: 460px;
	width: auto;
}

.hide-mob {
	display: none!important;
}

.mob-nowrap {
	white-space: nowrap;
}

.fixed-header .hide-mob2 {
	display: none!important;
}

.container {
	padding-left: 30px!important;
	padding-right: 30px!important;
}

.content .container {
	margin-bottom: 0;
	padding-bottom: 60px;
	border-radius: 0;
	-webkit-border-radius: 0;
}

.cform .container {
	width: auto;
}

.header,
.header-place {
	height: 73px;
}

.header-view2 .header,
.header-view2 .header-place {
	height: 102px;
}

.header .container,
.header .menu-hold .container {
	padding-top: 23px;
	padding-bottom: 23px;
}

.header-view2 .header .container,
.header-view2 .menu-hold .container {
	padding-top: 23px;
	padding-bottom: 23px;
}

.fixed-header .header {
	height: 54px;
}

.fixed-header .header .container,
.fixed-header .menu-hold .container {
	padding-top: 14px;
	padding-bottom: 14px;
}

.header-view2 .logo {
	display: none;
}

.fixed-header .header-view2 .logo {
	margin-left: 0;
}

.header-view2 .logo.for-tab {
	display: block;
}

.form2 {
	margin-top: 47px;
}

.hosting-info .bg {
	height: 121px;
	margin-bottom: 22px;
	font-size: 33px;
	line-height: 31px;
}

.hosting-info .bg img {
	height: 100%;
	width: auto;
	min-width: 100%;
}

.hosting-info .bg .text {
	padding-top: 17px;
	padding-left: 51px;
}

.hosting-info .bg .text img {
	height: 60px;
	margin: 1px 2px;
}

.hosting-info .bg .text2 {
	margin: -9px 0;
}

.hosting-info .bg .text2 img {
	min-width: 0;
	height: 18px;
}

.hosting-info .btn {
	margin-top: -9px;
	font-size: 18px;
	height: 57px;
	line-height: 57px;
	padding: 0 25px;
	letter-spacing: 0.1em;
}

.hosting-info .btn:after {
	width: 17px;
	height: 15px;
	margin: -7.5px 0;
	right: 22px;
}

.hosting-info .advantages {
	margin: 0 0 33px 0;
	text-align: left;
	line-height: inherit;
}

.hosting-info .advantages:after {
	display: none;
}

.hosting-info .advantages ul {
	display: block;
	white-space: normal;
	line-height: 21px;
	margin: 0 0 33px 0;
	padding: 0;
}

.hosting-info .advantages ul li {
	padding: 6px 0;
	margin: 9px 0 0 19px;
}

.hosting-info .advantages ul li:first-child {
	margin-top: 0;
}

.search {
	min-height: 0;
	height: auto;
	margin-bottom: 30px;
}

.search .input {
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 0;
}

.search.tld-ind {
	margin-top: 78px;
	margin-bottom: 45px;
}

.search.domains-ind,
.has-cart .header + div + .search {
	margin-top: 40px;
}

.search input[type="text"],
.search .info {
	font-size: 15px;
	height: 48px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
}

.search .btn,
.search .btn:hover,
.search .btn.full {
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	margin: 0;
	width: 48px;
	height: 48px;
	text-align: left;
	text-indent: -10000px;
	background-image: url(../img/search-grey.png);
	background-repeat: no-repeat;
	background-size: auto 18px;
	background-position: 50% 50%;
	background-color: transparent;
}

.tld-page .search .btn,
.tld-page .search .btn:hover,
.sale-info .search .btn,
.sale-info .search .btn:hover {
	background-image: url(../img/search.png);
}

.tld-page .search .btn,
.tld-page .search .btn:hover {
	background-color: #f9832d;
}

.tld-page .search .btn:hover {
	background-color: #ff6b00;
}

.search .info {
	display: none;
}

.search input[type="text"] {
	padding-right: 0;
	padding-left: 21px;
}

.search .tld {
	font-size: 12px;
	padding: 0 15px;
	margin: 0;
	height: 48px;
	line-height: 48px;
	width: auto;
	min-width: 0;
}

.search .all2,
.search .checks {
	display: none;
}

.index .search,
.fixed-header .index .search {
	margin-top: 215px;
}

.has-cart .index .header + div + .search {
	margin-top: 265px;
}

.search .txt {
	font-size: 21px;
	line-height: 39px;
	font-weight: 600;
	margin-bottom: 38px;
	padding: 0 30px;
	letter-spacing: 0.25em;
}

.search .mob-blue {
	color: #42d9f9;
}

.wrap.index {
	height: 389px;
}

.has-cart .wrap.index {
	height: 439px;
}

.notice .close {
	right: 20px;
}

.tld {
	margin-top: -12px;
	margin-bottom: 30px
}

.tld .hold-in,
.tld .row.head {
	margin-left: -5000px;
	margin-right: -5000px;
}

.tld .to-sep {
	padding: 0;
}

.tld .info-pop,
.tld .row input + * {
	display: none;
}

.tld .row,
.tld .to-sep .row {
	display: block;
	width: auto;
	padding: 0;
}

.tld .row .row-in,
.tld .to-sep .row .row-in {
	padding-left: 5020px;
	padding-right: 5030px;
	padding-top: 10px;
	padding-bottom: 11px;
}

.tld .hold-in .row:nth-child(4n-3) .row-in,
.tld .hold-in .row:nth-child(4n-2) .row-in {
	background-color: transparent;
}

.tld .hold-in .row:nth-child(odd) .row-in {
	background: #f4fbff;
}

.tld .bg {
	display: none;
}

.tld .go {
	display: block;
}

.features2 {
	margin-top: 0;
	margin-bottom: -10px;
}

.features2 .half {
	float: none;
	width: auto;
	display: block;
	margin: 30px 0 0 0;
}

.features2 .half:first-child {
	margin-top: 0;
}

.features2 .bg {
	padding-left: 115px;
	padding-right: 10px;
}

.features2 .bg img {
	left: 40px;
}

.payments {
	padding-top: 59px;
	padding-bottom: 63px;
}

.payments .container > * {
	display: none;
}

.payments .l,
.payments .for-mob {
	display: block;
	white-space: normal;
}

.payments .l {
	margin-bottom: 19px;
}

.payments .for-mob {
	margin-bottom: 12px;
}

.cart .elem .btn-hold .btn {
	width: 100%;
	max-width: 300px;
	min-width: 0;
	padding: 0;
}

.cart .payment-method {
	margin-right: 0;
}

.cart .payment-method:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.cart .payment-method label {
	display: block;
	float: left;
	clear: both;
	margin: 33px 0 0 0;
}

.cart .payment-method label.show-tab {
	display: block!important;
}

.cart .payment-method label:first-child {
	margin-top: 0;
}

.cart .hr {
	margin-left: -30px;
	margin-right: -30px;
}

.cart .elem {
	margin-left: -30px;
	margin-right: -30px;
	padding-left: 30px;
	padding-right: 30px;
}

.wrap.tld-page {
	height: auto;
	padding-bottom: 50px;
}

.tld-info {
}

.tld-info .container {
	padding-top: 198px;
}

.tld-info.ind2 .container {
	padding-top: 222px;
}

.tld-info h1 {
	margin-top: -190px;
}

.tld-info h1 strong {
	display: block;
}

.tld-info ul {
	width: 280px;
	margin-left: -140px;
	margin-top: -30px;
}

.cart-info-touch {
	margin: 25px 0 -78px 0;
	letter-spacing: 0.05em;
}

.fixed-header .cart-info-touch strong {
	display: block;
}

.fixed-header .has-cart .header {
	height: 93px;
}

.fixed-header .has-cart .header .cart-info-touch {
	margin-top: -23px;
}

.fixed-header .has-cart-empty .header {
	height: 54px;
}

.fixed-header .has-cart-empty .header .cart-info-touch {
	margin-top: -32px;
}

.domains2 {
	margin-top: -19px;
}

.domains2 .row {
	font-size: 14px;
	line-height: 18px;
	padding-top: 19px;
	padding-bottom: 19px;
}

.domains2 .row .fl {
	padding: 20px 0;
	margin: -20px 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.domains2 .w1 {
	width: 39.28%;
}

.domains2 .row .btn {
	width: 42px;
	padding: 0;
	text-align: left;
	text-indent: -10000px;
	height: 30px;
	line-height: 30px;
	margin: -6px 0 -6px 16px;
	top: 0;
}

.domains2 .row .btn.bg-add {
	background-image: url(../img/cart2.png);
	background-size: 15px auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.domains2 .row .btn.bg-cross {
	background-image: url(../img/cross.png);
	background-size: 12px auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.domains2 .row .btn.bg-info {
	background-image: url(../img/info2.png);
	background-size: 16px auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.domains2 .row .nofloat {
	text-align: right;
}

.domains2 .info-pop {
	display: none;
}

.domains2 .premium {
	margin-top: -12px;
	margin-bottom: 2px;
}

.domains2 .info {
	display: none;
}

.domains2 .info.info-premium {
	background: none;
	padding: 0;
	position: absolute;
	left: 5000px;
	top: 9px;
	display: block;
	font: bold 10px/10px Arial, Helvetica, sans-serif;
	height: 10px;
	white-space: nowrap;
	color: #f3a004;
	margin: 0;
	letter-spacing: 0.1em;
}

.domains2 .row.top .nofloat {
	display: none;
}

.domains2 .row.top .fl {
	float: none;
	width: auto;
}

.domains2 .hide-tab {
	display: block!important;
}

.domains2 .row.na .fl,
.domains2 .row.na .nofloat {
	float: none;
	width: auto;
}

.domains2 .row.na .nofloat {
	font: inherit;
	text-align: inherit;
	text-transform: inherit;
}

.pricing-index .title1,
.offers .title1,
.features .title1,
.domains .title1 {
	font-weight: 600;
	font-size: 21px;
	line-height: 30px;
	letter-spacing: 0.2em;
	margin-bottom: 33px;
}

.all a {
	min-width: 253px;
}

.pricing-index {
	display: block;
}

.pricing-index .tld {
	margin-top: 0;
	margin-bottom: 39px;
}

.pricing-index .tld .hold {
	margin-left: -5010px;
	margin-right: -5010px;
}

.pricing-index .tld .elem {
	margin-bottom: 0;
}

.offers {
	padding-bottom: 24px;
}

.offers .title1 {
	margin-bottom: 38px;
}

.offers ul {
	margin-bottom: -40px;
}

.offers li {
	margin-bottom: 57px;
}

.features {
	padding-bottom: 13px;
}

.features .title1 {
	margin-bottom: 46px;
}

.features ul {
	margin-left: 0;
	margin-right: 0;
}

.features li {
	display: block;
	width: auto;
	margin: 0;
	height: 159px;
}

.domains {
	padding-top: 51px;
	padding-bottom: 70px;
}

.domains .title1 {
	margin-bottom: 57px;
}

.domains ul {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: -12px;
}

.domains li {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 54px;
}

.menu-hold .logo-in {
	display: block;
}

.privacy h1 {
	font-size: 18px;
}

.privacy .text-block {
	padding: 20px 30px;
}

.privacy .btn {
	letter-spacing: 0.1em;
	margin-bottom: 38px;
}

.modal-scroll .in {
	margin: 10px;
}

.modal-scroll .close {
	margin: 25px;
}

.modal-scroll .t,
.modal-scroll .c .ind,
.modal-scroll .b {
	padding-left: 20px;
	padding-right: 20px;
}

.modal-scroll .t {
	font-size: 16px;
	line-height: 21px;
	padding-top: 22px;
	padding-right: 21px;
}

.modal-scroll .c {
	top: 78px;
	bottom: 91px;
}

.modal-scroll .b {
	padding-top: 21px;
	height: 91px;
}

.modal-scroll .b .half {
	padding: 0 10px 0 0;
}

.modal-scroll .b .half + .half {
	padding: 0 0 0 10px;
}

.modal-scroll .b .btn {
	font-size: 14px;
	height: 48px;
	line-height: 48px;
}

.modal-scroll .check {
	padding: 23px 20px 23px 50px;
	line-height: 24px;
	margin-top: 20px;
}

.modal-scroll .check input + span {
	top: 26px;
	left: 20px;
}

/*new 10.11.16 start*/
.sale-info {
	padding-top: 25px;
	padding-bottom: 74px;
}

.sale-info .container {
	padding: 0 30px!important;
}

.sale-info .big1 {
	font-size: 18px;
	margin-bottom: 30px;
}

.sale-info .big2 {
	font-size: 14px;
	margin-bottom: 1px;
}

.sale-info .big3 {
	font-size: 18px;
	margin: -11px 0 45px 0;
}

.sale-info .img.friday:before {
	background-image: url(../img/sale-black-friday-repeat-l320.png);
}

.sale-info .img.friday:after {
	background-image: url(../img/sale-black-friday-repeat-r320.png);
}

.sale-info .go {
	margin: 56px 0 0 0;
}

.sale-info .circle {
	font-size: 12px;
	line-height: 16px;
	width: 64px;
	height: 64px;
	padding-top: 16px;
}

.sale-info .circle .big {
	font-size: 16px;
}

.sale-info .friday .circle {
	margin: -15px 0 0 83px;
}

.sale-info .monday .circle {
	margin: -15px 0 0 93px;
}

.sale-info .search {
	margin: 38px 0 2px 0;
}

.sale-info .search .container {
	padding: 0 35px!important;
}

.sale-info .search .tld {
	min-width: 75px;
	font-size: 12px;
}

.show-320 {
	display: block;
}

.hide-320 {
	display: none;
}
}
