@charset "utf-8";

.show-1024 {
	display: block;
}

.hide-1024 {
	display: none;
}

.header-new .container,
.footer-new .container,
.index-new-block .container {
	padding-left: 70px;
	padding-right: 70px;
	width: auto;
}

.header-new .logo-new {
	float: none;
	margin: 0;
	text-align: center;
}

.header-new .menu-new,
.header-new .auth-links-new,
.header-new .share-new {
	display: none;
}

.fixed-header .header-new .top,
.fixed-header .header-new .lang-new,
.fixed-header .header-new .share-new,
.fixed-header .header-new .top-place,
.fixed-header .header-new .toggle-menu-new {
	padding-top: 18px!important;
	padding-bottom: 18px!important;
}

.header-new .top {
	position: fixed;
}

.fixed-header .header-new .top {
	background: #fff;
	box-shadow: 0 3px 42px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 3px 42px rgba(0, 0, 0, 0.15);
}

.fixed-header .header-new .logo-new img {
	display: none;
}

.fixed-header .header-new .logo-new img:first-child {
	display: inline;
}

.header-new .fastest-new {
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 78px;
	margin-top: 29px;
	margin-top: 35px;
}

.index-prices {
	margin-right: -24px;
}

.index-prices .el {
	padding-right: 24px;
}

.index-prices .text {
	letter-spacing: 0.05em;
}

.header-new .lang-new {
	left: auto;
	margin: 0;
	right: 70px;
}

.header-new .toggle-menu-new {
	left: 70px;
}

.footer-new .inhold {
	margin-right: -24px;
}

.footer-new .bmenu-new .el {
	padding-right: 24px;
}

.presentation {
	padding-top: 65px;
}

.presentation .big {
	height: 88px;
}

.en .presentation .big {
	height: 126px;
}

.presentation .video {
	margin-top: 64px;
	margin-bottom: 44px;
}

.secrets .link-order {
	margin-top: 30px;
}

.testimonials-new .testi-slider .prev-hold,
.testimonials-new .testi-slider .next-hold {
	display: none;
}

.about-new {
	color: #fff;
	background: #3577d1;
	letter-spacing: 0.045em;
}

.about-new .big {
	color: inherit;
}

.about-new .img {
	margin: 52px 0 31px 0;
	position: relative;
	left: -40px;
}

.about-new .img img {
	height: 239px;
	width: auto;
}

.about-new .text {
	position: relative;
}

.about-new .yellow {
	color: #f6ff00;
}

.about-new .link-order {
	margin-top: 51px;
}

.ssl-new .slick-slider {
	margin: 0 -50px 0 -18px;
}

.ssl-new .slick-slider.slick-initialized {
	margin: 0 -18px;
}

.ssl-new .el {
	padding: 0 18px;
}

.ssl-info .el {
	padding: 0 0 0 362px;
}

.ssl-info .el + .el {
	margin-top: 99px;
}

.ssl-info .el:nth-child(3n-1) {
	padding: 0 440px 0 0;
	margin-right: 30px;
}

.ssl-info .el:nth-child(3n) {
	padding: 0 0 0 460px;
	margin-left: -40px;
}

/*new 24.01.17*/
.features-new .txt {
	margin-left: 90px;
	margin-right: 90px;
}

.features-new .el {
	min-height: 130px;
}

.server-info li {
	width: 20.5%;
}

.server-info li:first-child {
	margin-left: -35px;
	width: auto;
	min-width: 20.5%;
}

.server-info .img img {
	height: 133px;
}

.server-info .img {
	padding-top: 10px;
}

.server-info .price {
	margin: -52px -10px 0 0;
}
.index-head .price{
	margin-right: 10px;
}