@charset "utf-8";

body {
	font-size: 18px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.69);
}

p,
ol,
ul {
	margin: 0 0 30px 0;
}

ol,
ul {
	padding: 0 0 0 30px;
}

.hide-mob {
	display: none;
}

.show-tablet.hide-mob {
	display: none!important;
}

.show-mob,
.show-mob2 {
	display: block!important;
}

.show-mob-inline {
	display: inline!important;
}

.container,
.header .container {
	padding: 0 30px;
}

.header,
.header.size-place {
	position: relative;
	height: auto!important;
	min-height: 430px;
	padding: 129px 0 0 0;
}

.header.size-place {
	min-height: 0;
	padding-top: 75px;
}

.header.size-place .logo2 {
	margin-top: -38px;
}

.header.autosize {
	min-height: 0;
	padding-bottom: 32px;
}

.menu-toggle {
	padding: 29px 30px;
}

.lang-toggle {
	padding: 30px 30px;
}

.top-text {
	margin: -11px 0 0 0!important;
	padding: 0!important;
}

.top-text h1 {
	font-size: 72px!important;
	line-height: 69px!important;
	letter-spacing: 2px!important;
	margin: 0!important;
	padding: 0!important;
	white-space: normal;
}

.top-text h1 > span {
	display: inline-block;
	position: relative;
}

.top-text h1 > span img {
	display: none;
}

.top-text h1 > span .for-mob {
	display: inline;
	position: absolute;
	left: 100%;
	top: -29px;
	height: 41px!important;
	width: auto!important;
	margin: 0 0 0 5px!important;
}

.top-text .btn-hold {
	margin-top: 35px;
}

.bg-img .hold {
	width: 1300px;
	margin-left: -650px;
}

.clouds-bg {
	padding: 36px 0 46px 0;
	color: #0576a7;
	line-height: 33px;
}

.clouds-bg h3 {
	display: block;
	font-size: 25px;
	margin: 23px 0 8px 0;
	letter-spacing: 1px;
}

.clouds-bg .btn-hold {
	margin-top: 38px;
}

.tabs {
	display: none;
}

.fastest {
	font-size: 25px!important;
	line-height: 30px!important;
	white-space: normal;
	letter-spacing: 0.6px!important;
	margin: 0!important;
}

.fastest h2 {
	position: relative;
	font-size: 68px!important;
	line-height: 68px!important;
	margin: 18px 0 0 0!important;
	letter-spacing: 2.3px!important;
}

.fastest h2.for-mob {
	display: block;
}

.en .fastest h2 {
	letter-spacing: normal;
	font-size: 66px!important;
}

.fastest h2 strong {
	margin: 0 0 -12px 0;
	position: relative;
	display: block;
	font-size: 96px;
	line-height: 96px;
	letter-spacing: 3.5px;
}

.fastest h2 img {
	position: absolute;
	height: 26px;
	width: auto;
	top: 10px;
	left: 0;
}

.benefits {
	background: #fcfcfc;
	padding: 32px 0 54px 0!important;
}

.benefits h2 {
	font-size: 37px!important;
	line-height: 39px!important;
	font-style: italic;
	margin: 0 0 31px 0!important;
	letter-spacing: 1px!important;
}

.benefits h3 {
	font-size: 25px;
	letter-spacing: 1px;
	margin: 25px 0 8px 0;
}

.benefits .for-mob {
	display: block;
}

.benefits .btn-hold {
	margin-top: 38px;
}

.testimonials,
.about {
	display: none;
}

.footer {
	background: #1f1f1f;
	padding: 63px 0 36px 0;
}

.footer .logo {
	margin: 0 0 27px 0;
	float: none;
}

.footer .logo img {
	height: 39px;
	width: auto;
}

.footer .menu .r,
.footer .lang {
	display: none;
}

.menu2 {
	font-size: 27px;
	line-height: 33px;
	letter-spacing: 2px;
	margin: 0;
}

.menu2 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu2 ul > li,
.menu2 ul > li.color2,
.menu2 ul > li.color3 {
	margin: 45px 0 0 0;
	float: none;
	width: auto!important;
}

.menu2 ul > li > span {
	position: absolute;
	left: -10000px;
}

.menu2 ul > li > ul > li {
	margin: 30px 0 0 0;
}

.menu2 li:first-child {
	margin: 0!important;
}

.menu2 a {
	text-decoration: none;
	color: #fff;
}

.fader {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.88);
}

.lang {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 83px 0 83px 135px;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 24px;
	font-family: "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: rgba(255, 255, 255, 0.5);
}

.lang img {
	vertical-align: middle;
	position: relative;
	top: -1px;
	margin: 0 3px 0 0;
}

.lang ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.lang li {
	margin: 41px 0 0 0;
}

.lang li:first-child {
	margin: 0;
}

.btn,
.btn .t,
.top-text .btn .t {
	display: block!important;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.btn .t,
.top-text .btn .t {
	height: 62px;
	line-height: 62px;
	font-size: 27px;
}

.btn .a {
	display: none;
}

.hide-mob {
	display: none;
}

#tab1,
#tab2,
#tab3 {
	display: block!important;
}

h1,
h2,
h3 {
	white-space: normal!important;
}

.menu2.modal .container,
.menu2.modal .close {
	padding-left: 30px;
	padding-right: 30px;
}

.bg-img .hold {
	width: 800px;
	margin-left: -400px;
}

.logo2 {
	margin-top: -92px;
}

.header.size5 {
	min-height: 0;
	height: 110px;
}

.logo2 img {
	height: 22px;
}

.title-payments {
	font-size: 48px;
	line-height: 48px;
	margin-top: 50px;
}

.pay-methods {
	padding-top: 38px;
}

.pay-methods .container {
	padding: 0 30px;
}

.pay-methods .in {
	width: auto;
}

.pay-methods .block {
	display: block;
}

.pay-methods .block + .block {
	padding: 54px 5000px 0 5000px;
	margin: 10px -5000px 0 -5000px;
	border-top: 1px solid #f0f0f0;
}

.pay-methods .elem {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.footer .share {
	display: none;
}

.footer .menu2 {
	font-size: 21px;
}

.menu3 {
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 83px 0;
	position: relative;
	top: auto;
	left: auto;
	right: auto;
}

.menu3 > * {
	display: block;
	padding: 0;
	margin: 38px 0 0 0;
}

.menu3 > *:first-child {
	margin: 0;
}

.title-shared-hosting {
	font-size: 39px;
	line-height: 45px;
	margin-top: 43px;
	margin-bottom: 45px;
	background-image: url(../img/title-shared-histing320.png);
	background-size: auto;
	background-position: 50% 1px;
}

.menu3 + .pricing1 {
	margin-top: 0;
}

.pricing1 {
	padding-bottom: 34px;
	margin: 0 -50px;
}

.pricing1 .elem {
	width: 220px;
	display: block;
	margin: 0 auto 30px auto;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.pricing1 .elem .btn4 {
	margin-top: 28px;
}

.pluses {
	padding-top: 80px;
	padding-bottom: 44px;
}

.pluses.bg-servers {
	background-image: none!important;
}

.pluses .container {
	padding-left: 40px;
	padding-right: 40px;
}

.pluses .title1 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 71px;
}

.pluses ul li {
	width: 100%!important;
	height: 195px;
}

.pluses ul li.wide {
	width: auto!important;
	height: auto;
	margin: -40px 70px 78px 70px;
	padding: 32px 20px 35px 20px;
	line-height: 33px;
}

.pluses .btn4 {
	margin-top: 3px;
}

.pluses.bg-freedom {
	background-image: url(../img/bg-freedom320.jpg);
}

.services3 {
	font-size: 14px;
	line-height: 21px;
	padding-top: 50px;
	padding-bottom: 40px!important;
}

.services3 .container {
	padding-left: 27px;
	padding-right: 27px;
}

.services3 .title1 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 32px;
}

.services3 ul {
	margin-left: -27px;
	margin-right: -27px;
	margin-bottom: 40px;
}

.services3 ul + ul {
	margin-top: 67px;
}

.services3 li {
	padding-left: 27px;
	padding-right: 27px;
}

.services3 li .r {
	font-size: 15px;
	top: 1px;
}

.services3.mob-big li .r {
	font-size: 18px;
	top: 2px;
}

.services3 li .l {
	width: auto!important;
}

.services3 .btn4 {
	margin: 72px 13px 0 13px;
}

.services3 .center + .btn4 {
	margin-top: 43px;
}

.title-linuxvps {
	font-size: 48px;
	line-height: 48px;
	margin-top: 53px;
	letter-spacing: 0.04em;
}

.header.size-linuxvps {
	height: 105px!important;
	min-height: 0;
}

.vps-info {
	font-size: 16px;
	line-height: 27px;
	padding: 0 0 45px 0;
}

.vps-info .container {
	padding-left: 30px;
	padding-right: 30px;
}

.vps-info p {
	margin: 0 0 27px 0;
}

.vps-info .title1 {
	font-size: 21px;
	line-height: 28px;
	letter-spacing: 0.05em;
	margin-bottom: 21px;
	color: #4c5056;
}

.prices {
	margin: 0 -30px 34px -30px;
	background-position: 0 109px;
}

.prices .slick-list {
	padding: 35px 40px 68px 40px;
}

.prices .dots,
.slick-dots {
	bottom: 30px;
}

.prices .fl {
	width: 230px;
}

.prices .fl.l {
	display: none!important;
}

.prices .bg ul {
	background: #fff;
}

.prices .bg ul {
	margin: 0 10px;
}

.prices.view2 {
	margin: -35px -30px 0 -30px;
}

.prices.view2 .slick-list {
	padding: 34px 27px 123px 27px;
}

.prices.view2 .fl {
	width: 266px;
}

.prices.view2 .dots,
.prices.view2 .slick-dots {
	bottom: 75px;
}

.prices li:first-child {
	padding-bottom: 14px;
}

.prices li:last-child {
	padding-bottom: 32px;
}

.prices .btn4 {
	height: 48px;
	line-height: 50px;
}

.prices ul .show-mob {
	display: inline!important;
}

.os {
	padding-top: 45px;
	padding-bottom: 45px;
}

.os .container {
	padding-left: 40px;
	padding-right: 40px;
}

.os .title1 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 43px;
}

.os ul {
	margin: 0 0 -5px 0;
}

.os ul li {
	width: 100%;
}

.os .btn4 {
	margin-top: 54px;
}

.title-reselling {
	font-size: 39px;
	line-height: 45px;
	padding: 45px 0 35px 0;
	background: url(../img/bg-reselling-title320.png) no-repeat 50% 46px;
	background-size: auto 167px;
}

.title-domains {
	font-size: 48px;
	line-height: 48px;
	margin-top: 66px;
	letter-spacing: 0.1em;
}

.check-domain2 {
	line-height: 33px;
	letter-spacing: 0.045em;
}

.check-domain2 .container {
	padding-left: 30px;
	padding-right: 30px;
}

.check-domain2 input[type="text"] {
	padding-top: 18px;
	padding-bottom: 14px;
	padding-right: 0;
	padding-left: 27px;
	height: 57px;
}

.check-domain2 input[type="submit"] {
	padding: 0;
	width: 63px;
	height: 57px;
	text-align: left;
	text-indent: -10000px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 18px;
}

.check-domain2 .hold {
	margin-bottom: 30px;
}

.domains2 .container {
	padding-left: 30px;
	padding-right: 30px;
}

.domains2 .row {
	width: 100%;
}

.place-int,
.place-price,
.fast-hosting {
	line-height: 33px;
}

.place-int p,
.place-price p,
.fast-hosting p {
	margin-bottom: 33px;
}

.place-int .container,
.fast-hosting .container,
.testimonials.view2 .container {
	padding: 0 40px;
}

.place-int .title1,
.place-price .title1,
.fast-hosting .title1,
.testimonials.view2 .title1 {
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.11em;
}

.place-int {
	padding: 35px 0 59px 0;
	text-align: center;
}

.place-int .img {
	float: none;
	width: auto;
	margin: 0 -30px 42px -30px;
	text-align: center;
}

.place-int .img img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 185px;
}

.place-int .title1 {
	margin-bottom: 24px;
}

.place-int .title1 .arr {
	background: url(../img/place-arr-mob.png) no-repeat;
	width: 47px;
	height: 35px;
	margin: 13px 0 0 -17px;
}

.place-int .btn4 {
	margin: 12px 0 0 0;
}

.place-price {
	padding: 58px 0 23px 0;
}

.place-price .title1 {
	margin-bottom: 26px;
}

.place-price .prices.view2 {
	margin: 30px 0 0 0;
}

.place-price .prices.view2 .fl {
	float: none;
	width: auto;
	margin: 0 0 30px 0;
}

.place-price .prices.view2 .bg ul {
	margin: 0;
}

.place-price .prices.view2 .big {
	font-size: 24px;
}

.place-price .prices.view2 .big > div {
	margin: 0 -20px;
}

.place-price .prices.view2 li:first-child {
	padding-top: 42px;
	padding-bottom: 26px;
}

.fast-hosting {
	padding: 52px 0 57px 0;
	background-image: url(../img/fast-hosting-bg-mob.jpg);
	background-position: 50% 163px;
}

.fast-hosting .title1 {
	height: 287px;
}

.fast-hosting .size1 {
	height: 491px;
}

.fast-hosting .size2 {
	height: auto;
}

.fast-hosting .btn4 {
	margin: 44px 0 0 0;
}

.testimonials.view2 {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.045em;
	display: block;
	padding: 55px 0 71px 0!important;
}

.testimonials.view2 ul {
	margin-top: 60px;
}

.testimonials.view2 ul li {
	display: block;
	width: auto;
	float: none;
	margin: 0 0 67px 0;
}

.testimonials.view2 .img {
	margin-bottom: 16px;
}

.testimonials.view2 .btn4 {
	margin: -11px 0 0 0;
}

/*new 30.11.16 start*/
.bg-img2.bg-white {
	background-color: #fff;
}

.bg-img2 .hold {
	width: 800px;
	margin-left: -400px;
}

.logo-new img {
	height: 22px;
	top: 1px;
}

.header-new .top,
.header-new .lang-new,
.header-new .share-new,
.header-new .top-place,
.header-new .toggle-menu-new {
	padding-top: 36px;
	padding-bottom: 36px;
}

.header-new .container,
.footer-new .container {
	padding-left: 30px;
	padding-right: 30px;
}

.header-new .fastest-new {
	padding-bottom: 56px;
	margin-top: 37px;
	padding-left: 24px;
	padding-right: 24px;
}

.header-new .fastest-new .big {
	height: 153px;
	margin-bottom: 46px;
	background-image: url(../img/index-page/fastest-text320.png), url(../img/index-page/fastest-bg-ru320.png), url(../img/index-page/fastest-bg-lines320.png);
	background-size: auto 153px, auto 153px, auto 153px;
	background-position: 1000px 0, 1000px 0, 955px 1px;
}

.en .header-new .fastest-new {
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 62px;
}

.en .header-new .fastest-new .big {
	background-image: url(../img/index-page/fastest-text-en320.png), url(../img/index-page/fastest-bg-en320.png), url(../img/index-page/fastest-bg-lines320.png);
	height: 148px;
	background-size: auto 147px, auto 153px, auto 153px;
	margin-bottom: 45px;
}

.header-new .fastest-new .arr-link span {
	margin-left: 16px;
}

.index-prices {
	top: 181px;
	margin: -181px -15px 0 -15px;
}

.index-prices .el {
	width: auto;
	float: none;
	padding-right: 0;
	padding-bottom: 20px;
}

.header-new .lang-new {
	right: 30px;
}

.header-new .toggle-menu-new {
	left: 30px;
}

.header-new .toggle-menu-new span {
	width: 24px;
	height: 2px;
	top: 6px;
}

.footer-new .hr,
.footer-new .logo-new,
.footer-new .auth-links-new,
.footer-new .bmenu-new {
	display: none;
}

.footer-new .top {
	padding: 48px 0;
}

.index-new-block {
	padding-top: 45px;
	padding-bottom: 61px;
}

.index-new-block .container {
	padding-left: 40px;
	padding-right: 40px;
}

.index-new-block .big,
.en .secrets .big,
.en .about-new .big {
	font-size: 30px;
	line-height: 37px;
}

.presentation {
	padding-top: 228px;
}

.presentation .big {
	background-image: url(../img/index-page/presentation-text320.png);
	height: 403px;
}

.en .presentation .big {
	background-image: url(../img/index-page/presentation-text-en320.png);
	height: 155px;
	margin-top: -12px;
	margin-bottom: 50px;
}

.presentation .video {
	margin: 61px -15px 42px -15px;
}

.presentation .video .bgl,
.presentation .video .bgr {
	display: none;
}

.presentation .in iframe {
	width: 267px;
	height: 150px;
}

.presentation .text {
	position: relative;
}

.presentation .link-order {
	margin-top: 37px;
}

.presentation .video + .text .link-order {
	margin-top: 62px;
}

.presentation.index-style2 .video {
	margin-top: 40px;
}

.presentation.index-style2 .big {
	margin-bottom: 0;
}

.presentation.presentation-bg {
	padding-bottom: 53px;
	padding-top: 50px;
}

.why {
	background: #000 url(../img/index-page/bg-graph320.jpg) no-repeat 50% 0;
	max-height: none;
}

.why .el {
	margin: 0 -5px;
}

.why .el + .el {
	margin-top: 86px;
}

.why .el img {
	margin-bottom: 31px;
}

.why .big {
	height: 441px;
}

.why .graph {
	-moz-transform: scale(0.75);
	-webkit-transform: scale(0.75);
	-o-transform: scale(0.75);
	transform: scale(0.75);
	margin-top: 180px;
	margin-left: -143px;
}

.why .link-order {
	margin-top: 50px;
}

.secrets .big {
	margin-bottom: 72px;
}

.secrets .hold {
	margin: 0;
}

.secrets .el {
	width: 100%;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	min-height: 0;
	margin-bottom: 65px;
}

.secrets .link-order {
	margin-top: -13px;
}

.testimonials-new .big .small {
	font-size: 24px;
	line-height: 39px;
	margin: 11px 0 0 0;
}

.testimonials-new .bubble {
	-moz-transform: scale(0.86);
	-webkit-transform: scale(0.86);
	-o-transform: scale(0.86);
	transform: scale(0.86);
	margin-top: 29px;
	margin-bottom: -3px;
	left: -25px;
}

.testimonials-new .testi-slider .hold li {
	width: 320px;
}

.testimonials-new .link-hold {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.about-new p {
	margin-bottom: 39px;
}

.about-new .big {
	line-height: 48px;
	margin-top: -3px;
	margin-bottom: -3px;
}

.about-new .img {
	margin-top: 55px;
	margin-bottom: 31px;
	left: -25px;
}

.about-new .img img {
	height: 212px;
}

.about-new .link-order {
	margin-top: 54px;
}

.ssl-new {
	padding-top: 15px;
}

.ssl-new .big {
	font-size: 33px;
	line-height: 51px;
	margin-bottom: 41px;
}

.ssl-new .slick-slider.slick-dotted {
	margin-bottom: 10px!important;
}

.ssl-new .slick-slider,
.ssl-new .slick-slider.slick-initialized {
	margin: 0 -40px;
}

.ssl-new .slick-dots {
	bottom: -45px!important;
}

.ssl-new .slick-list {
	padding: 0;
}

.ssl-new .el {
	width: 100%;
	padding: 0 30px;
}

.ssl-info {
	padding-top: 41px;
	padding-bottom: 88px;
}

.ssl-info .big {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 41px;
}

.ssl-info .el {
	padding: 0!important;
	text-align: center!important;
}

.ssl-info .el + .el {
	margin-top: 78px;
}

.ssl-info .big2 {
	line-height: 29px;
}

.ssl-info .el img {
	margin-bottom: 38px!important;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 194px;
}

.ssl-info .link-order {
	margin-top: 46px;
}

.bitrix-top {
	font-size: 16px;
	line-height: 33px;
	padding: 5px 0 77px 0;
}

.bitrix-top .big {
	font-size: 33px;
	line-height: 51px;
	margin-bottom: 34px;
}

.bitrix-top .inlines > div {
	display: block;
	left: auto;
	margin: 0 -10px;
	text-align: center;
}

.bitrix-top .inlines > div:first-child {
	margin: 0 -30px 30px -30px;
}

.bitrix-top .inlines > div > div:nth-child(2) {
	text-indent: 0;
}

.bitrix-top .inlines > div > div:nth-child(3) {
	text-indent: 0;
}

.bitrix-top .inlines img {
	height: 86px;
	top: auto;
	left: -33px;
}

.bitrix-info {
	line-height: 36px;
	padding-top: 85px;
}

.bitrix-info p {
	margin: 0 0 36px 0;
}

.bitrix-info .big {
	font-size: 24px;
	line-height: 33px;
}

.bitrix-info .stat {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.bitrix-info .stat li {
	float: none;
	width: auto;
 margin:
}

.bitrix-info .stat li + li {
	margin-top: 48px;
}

.bitrix-info .link-order {
	margin: 41px 0 0 0;
}

.index-new-block.tarifes-new {
	padding-top: 63px;
	padding-bottom: 63px;
}

.tarifes-new .el {
	margin: 0 -20px;
	max-width: none;
}

.tarifes-new .out2 {
	text-transform: uppercase;
	margin: 53px 0 -11px 0;
}

.tarifes-new .logo1 {
	display: none;
}

.prices-new .big,
.pluses-new .big {
	font-size: 24px;
	line-height: 33px;
}

.prices-new .big {
	margin-bottom: 35px;
}

.prices-new ul {
	margin: 0 -5px;
}

.prices-new .r {
	text-align: right;
	width: auto;
}

.prices-new .link-order {
	margin: 55px 0 0 0;
}

.prices-new.prices-additional {
	color: #38393d;
}

.prices-new.prices-additional ul {
	border-top-width: 1px;
	font-size: 14px;
	line-height: 21px;
	margin: 0 -5000px;
}

.prices-new.prices-additional li {
	padding: 16px 5000px;
}

.prices-new.prices-additional .r {
	font-size: 15px;
	letter-spacing: 0.05em;
}

.pluses-new {
	padding-top: 80px;
}

.pluses-new .big {
	margin: 0 0 64px 0;
}

.pluses-new .hold {
	margin: 0;
}

.pluses-new .el {
	width: 100%;
}

.pluses-new .link-order {
	margin: 5px 0 0 0;
}

/*new 24.01.17*/
.dedicated-top {
	padding: 14px 0 36px 0;
}

.dedicated-top .big {
	font-size: 33px;
	line-height: 51px;
}

.features-new .big,
.prices-new.style-dedicated .big,
.server-info .big {
	font-size: 24px;
	line-height: 33px;
	margin-top: -8px;
}

.prices-new.style-dedicated .big {
	margin-bottom: 33px;
}

.prices-new.style-dedicated li {
	white-space: normal;
	margin: 0 -5000px -1px -5000px;
	padding: 14px 5000px;
	line-height: 24px;
	border-top: 1px solid #ebebeb;
}

.prices-new.style-dedicated li .r {
	text-align: right;
	width: auto;
	line-height: inherit;
	margin-left: 20px;
}

.features-new .big {
	margin-bottom: 17px;
}

.features-new .txt {
	margin: 0 0 52px 0;
	line-height: 33px;
}

.features-new .hold {
	margin-left: 0;
	margin-right: 0;
}

.features-new .el {
	min-height: 0;
	margin-bottom: 57px;
}

.features-new .link-order {
	margin: 10px 0 0 0;
}

.server-info .big {
	margin-bottom: 110px;
}

.server-info ul {
	margin: 0;
	padding: 0;
}

.server-info li,
.server-info li:first-child {
	width: 100%;
	margin: 0 0 28px 0;
	padding: 0;
}

.server-info .img {
	padding-top: 0;
	margin-bottom: 27px;
}

.server-info .img img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 75px;
}

.server-info .price {
	left: 50%;
	right: auto;
	margin: -85px -52px;
}

.server-info .link-order {
	margin: 13px 0 0 0;
}

.index-new-block.index-style2 .big {
	font-size: 21px;
	letter-spacing: 0.1em;
}

.index-new-block.index-style2 .link-order {
	font-size: 14px;
	max-width: 240px;
}

.index-head {
	padding-top: 33px;
	padding-bottom: 59px;
}

.index-head .big {
	margin-bottom: 25px;
}

.index-head .link-order {
	margin-top: 42px;
}

.index-head .smile {
	display: none;
}
