@charset "utf-8";

@font-face {
		font-family: 'Myriad Pro';
		src: url('../fonts/mp-regular-webfont.eot');
		src: url('../fonts/mp-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mp-regular-webfont.woff') format('woff'), url('../fonts/mp-regular-webfont.svg#MyriadProRegular') format('svg'), url('../fonts/mp-regular-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'Myriad Pro Cond';
		src: url('../fonts/myriadpro-cond-webfont.eot');
		src: url('../fonts/myriadpro-cond-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-cond-webfont.woff') format('woff'), url('../fonts/myriadpro-cond-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'Myriad Pro Cond';
		src: url('../fonts/MyriadPro-SemiboldCond.eot');
		src: url('../fonts/MyriadPro-SemiboldCond.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-SemiboldCond.woff') format('woff'), url('../fonts/MyriadPro-SemiboldCond.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
}

@font-face {
		font-family: 'Myriad Pro Cond';
		src: url('../fonts/MyriadPro-SemiboldCondIt.eot');
		src: url('../fonts/MyriadPro-SemiboldCondIt.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-SemiboldCondIt.woff') format('woff'), url('../fonts/MyriadPro-SemiboldCondIt.ttf') format('truetype');
		font-weight: 600;
		font-style: italic;
}

@font-face {
		font-family: 'Rouble';
		src: url('../fonts/rouble-webfont.eot');
		src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rouble-webfont.woff') format('woff'), url('../fonts/rouble-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

html,
body {
		width: 100%;
		height: 100%;
}

body {
		margin: 0;
		padding: 0;
		background: #fff;
		font: normal 21px/39px "Myriad Pro", "Trebuchet MS", Arial, Helvetica, sans-serif;
		color: #000;
		-webkit-text-size-adjust: none;
}

form,
fieldset {
		margin: 0;
		padding: 0;
		border: 0;
}

input,
select,
textarea,
button {
		font-family: Arial, Helvetica, sans-serif;
		color: #333;
		font-size: 12px;
		outline: none;
}

input[type="text"],
input[type="password"],
textarea,
select {
		border: 1px solid #b9230a;
		background: #fff;
		margin: 0;
		padding: 4px 5px;
}

textarea {
		resize: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
		cursor: pointer;
}

.input {
		zoom: 1;
		position: relative;
		padding: 0 6px;
}

.input input,
.input textarea {
		display: block;
		vertical-align: top;
		position: relative;
		left: -6px;
		width: 100%;
}

header,
nav,
section,
article,
aside,
footer,
menu,
time,
figure,
figcaption {
		display: block;
}

img {
		border: 0;
		vertical-align: top;
}

a {
		color: #27a6e8;
		text-decoration: none;
		outline: none;
		cursor: pointer;
}

a:hover {
		text-decoration: underline;
}

strong {
		font-weight: bold;
}

.table {
		border-collapse: collapse;
}

.table .sep {
		width: 1000px;
}

p,
ol,
ul {
		margin: 0 0 39px 0;
}

ol,
ul {
		padding: 0 0 0 39px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
		font-family: "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight: 600;
		text-transform: uppercase;
}

.nowrap {
		white-space: nowrap;
}

.nofloat {
		height: 100%;
		overflow: hidden;
}

.cell {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
}

.inline {
		display: inline-block;
		text-align: left;
}

.hr {
		height: 1px;
		overflow: hidden;
		margin: 15px 0;
		background: #e6e6e6;
}

.clearfix {
		zoom: 1
}

.clearfix:after,
.menu:after,
.menu2:after,
.container:after {
		content: ' ';
		clear: both;
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
		font-size: 0;
}

.wrapper {
		min-height: 100%;
		min-width: 1000px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		text-align: left;
}

.container {
		width: 960px;
		margin: 0 auto;
		position: relative;
}

.header {
		position: relative;
		height: 700px;
		padding: 56px 0 0 0;
}

.bg-img {
		background: #000;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: hidden;
}

.bg-img .hold {
		width: 1600px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		margin: 0 0 0 -800px;
}
@media only screen and (min-width: 1600px) {

.bg-img .hold {
		margin: 0;
		left: 0;
		right: 0;
		width: auto;
}
}

.bg-img img {
		width: 100%;
		height: auto;
}

.bg-img .cover {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: #000;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=27);
		opacity: 0.27;
}

.menu,
.lang,
.menu2 {
		font-size: 21px;
		line-height: 24px;
		font-family: "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		font-weight: normal;
		letter-spacing: 1.8px;
}

.menu {
		zoom: 1;
		position: relative;
		color: #fff;
		z-index: 100;
}

.menu a,
.menu2 a {
		text-decoration: none;
		color: #fff;
}

.menu a:hover,
.menu a:hover > span > span > span,
.menu2 a:hover,
.menu2 a:hover > span > span > span,
.lang a:hover,
.lang a:hover > span > span > span > span {
		color: #77daff!important;
}

.menu > ul > li:hover span > span > span > span {
		color: rgba(255, 255, 255, 0.5)!important;
}

.menu .l {
		float: left;
}

.menu .r {
		float: right;
}

.menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
}

.menu > ul > li {
		position: relative;
		float: left;
		margin: 0 0 0 52px;
}

.menu > ul > li > a,
.menu > ul > li > span {
		display: inline-block;
		position: relative;
		vertical-align: top;
}

.menu > ul > li > span:before,
.menu > ul.l > li > a:before,
.lang .sub ul:before {
		content: '';
		position: absolute;
		bottom: -25px;
		left: -10000px;
		background: url(../img/pop-arr.png) no-repeat;
		width: 22px;
		height: 13px;
		margin: 0 0 0 -11px;
}
.menu > ul.l > li > .logo1:before{
	display:none;}

.menu > ul > li:hover > span:before,
.menu > ul.l > li:hover > a:before {
		left: 50%;
}

.menu > ul > li:first-child {
		margin-left: 0!important;
}

.menu .sub,
.lang .sub {
		position: absolute;
		top: 100%;
		left: -10000px;
		white-space: nowrap;
		padding: 25px 0 0 0;
}

.menu li:hover > .sub {
		left: -41px;
}

.menu .sub ul,
.lang .sub ul {
		padding: 35px 41px;
		background: rgba(40, 30, 21, 0.69);
		-pie-background: rgba(40, 30, 21, 0.69);
		behavior: url(js/PIE.htc);
		zoom: 1;
		position: relative;
		float: left;
}

.menu .sub li,
.lang .sub li {
		margin: 27px 0 0 0;
}

.menu .sub li:first-child,
.lang .sub li:first-child {
		margin: 0;
}

.top-text {
		margin: 117px 0 0 113px;
		white-space: nowrap;
}

.top-text h1 {
		zoom: 1;
		position: relative;
		margin: 0 0 0 -433px;
		padding: 0 0 0 433px;
		background: url(../img/blur.png) no-repeat 0 3px;
		font-size: 122px;
		line-height: 111px;
		font-style: italic;
		color: #fff;
		letter-spacing: 4.5px;
}

.en .top-text {
		margin-left: 260px;
		margin-top: 92px;
}

.en .top-text h1 {
		background-image: url(../img/blur-en.png);
		font-size: 143px;
		line-height: 127px;
		background-position: 0 1px;
}

.windows .top-text h1 {
		background-position: 0 13px;
}

.windows.en .top-text h1 {
		background-position: 0 14px;
}

.en .top-text h1 img {
		height: 100px;
		width: auto;
		margin-left: -125px;
		margin-top: 1px;
}

.windows .top-text h1 img {
		margin-top: 14px;
}

.top-text img {
		position: absolute;
		margin-top: 3px;
		margin-left: -113px;
}

.lang {
		text-align: center;
		position: absolute;
		top: 56px;
		right: 0;
		left: 50%;
		margin: 0 0 0 480px;
		z-index: 100;
}
@media only screen and (min-width: 1000px) and (max-width: 1150px) {

.header .menu .r {
		min-width: 334px;
}

.lang {
		margin-left: 430px;
}
}

.footer .lang {
		top: 100px;
}

.footer .lang .sub ul {
		background: rgba(27, 20, 13, 0.69)
}

.footer .lang .sub ul:before {
		background-image: url(../img/pop-arr2.png);
}

.lang .hold {
		display: inline-block;
		vertical-align: top;
		position: relative;
}

.lang img {
		vertical-align: middle;
		position: relative;
		top: -2px;
}

.lang .sub img {
		margin-right: 3px;
}

.lang a {
		text-decoration: none;
		color: #fff;
}

.lang li > span {
		color: #b7b5b4;
		color: rgba(255, 255, 255, 0.5);
}

.lang .sub {
		margin-left: -54px;
		width: 108px;
}

.lang .sub ul {
		list-style: none;
		margin: 0;
		padding-left: 29px;
		padding-right: 0;
		float: none;
		text-align: left;
		position: relative;
		zoom: 1;
}

.lang .hold:hover .sub {
		left: 50%;
}

.lang .sub ul:before {
		bottom: 100%;
		left: 50%;
}

.clouds-bg {
		background: #fff;
		zoom: 1;
		position: relative;
		color: #0073a4;
		padding: 86px 0 90px 0;
}

.en .clouds-bg {
		padding-top: 72px;
}

.clouds-bg .bg-l {
		position: absolute;
		bottom: 0;
		left: 0;
		background: url(../img/rocket.jpg) no-repeat;
		width: 442px;
		height: 376px;
}

.clouds-bg .bg-r {
		position: absolute;
		bottom: 0;
		right: 0;
		background: url(../img/clouds.jpg) no-repeat;
		width: 448px;
		height: 152px;
}
@media only screen and (max-width: 1300px) {

.clouds-bg .bg-r,
.clouds-bg .bg-l {
		display: none;
}
}

.fastest {
		margin: 0 0 48px 0;
		font-size: 57px;
		line-height: 57px;
		font-family: "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight: 600;
		font-style: italic;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		white-space: nowrap;
}

.fastest h2 {
		zoom: 1;
		position: relative;
		margin: 14px 0 0 0;
		font: inherit;
		font-size: 139px;
		line-height: 139px;
		letter-spacing: 6px;
}

.fastest h2 strong {
		font: inherit;
}

.fastest h2 img {
		position: absolute;
		top: 8px;
		left: -8px;
}

.windows .fastest h2 img {
		margin-top: 11px;
}

.en .fastest {
		font-size: 89px;
		line-height: 89px;
		letter-spacing: 3.5px;
}

.en .fastest h2 {
		font-size: 144px;
		line-height: 144px;
		letter-spacing: 4px;
		margin-top: -7px;
		letter-spacing: 5.5px;
}

.tabs {
		list-style: none;
		padding: 0;
		font-family: "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 33px;
		margin: 0 0 14px 0;
		letter-spacing: 1.3px;
}

.tabs li {
		display: inline;
}

.tabs a {
		color: inherit;
		text-decoration: none;
		margin: 0 0 0 33px;
		position: relative;
		top: -5px;
		color: #3ec5ff;
		border-bottom: 1px dotted #65ccff;
}

.tabs a:hover {
		color: #ff3e3e;
		border-bottom-color: #ff6565;
}

.tabs a.active {
		color: inherit;
		cursor: default;
		border: 0;
}

.tabs li:first-child a {
		margin: 0;
}

.tabs a > span {
		top: 5px;
		position: relative;
}

.benefits {
		background: #f2f6f4 url(../img/scheme.jpg) 50% 0;
		padding: 84px 0 73px 0;
		line-height: 30px;
		color: #4e4e4e;
		color: rgba(0, 0, 0, 0.69);
}

.benefits h2 {
		font-size: 88px;
		line-height: 88px;
		font-style: italic;
		margin: 0 0 58px 0;
		white-space: nowrap;
		letter-spacing: 3.2px;
}

.en .benefits {
		padding-bottom: 103px;
		padding-top: 78px;
}

.en .benefits h2 {
		letter-spacing: 1.5px;
		font-size: 96px;
		line-height: 96px;
}

.benefits h3 {
		font-size: 33px;
		margin: 49px 0 12px 0;
		letter-spacing: 1px;
}

.benefits h3:first-child {
		margin-top: 0;
}

.benefits .half {
		width: 470px;
}

.benefits .l {
		float: left;
}

.benefits .r {
		float: right;
}

.testimonials {
		background: #3cbe88;
		color: #fff;
		padding: 80px 0 50px 0;
}

.testimonials h2 {
		font-size: 72px;
		line-height: 72px;
		margin: 0 0 54px 0;
		font-style: italic;
		white-space: nowrap;
		letter-spacing: 2.5px;
		text-align: left;
}

.en .testimonials {
		padding-bottom: 73px;
}

.en .testimonials h2 {
		font-size: 118px;
		line-height: 118px;
		margin-top: 2px;
		margin-bottom: 30px;
}

.testimonials a {
		color: inherit;
		text-decoration: none;
		position: relative;
		border-bottom: 1px solid rgba(255, 255, 255, 0.39);
		top: -3px;
}

.testimonials a > span {
		top: 3px;
		position: relative;
}

.testimonials a:hover {
		border-bottom-color: #fff;
}

.testimonials .img {
		display: inline-block;
		top: 0;
		vertical-align: top;
		width: 157px;
		height: 157px;
		line-height: 157px;
		text-align: center;
		background: rgba(255, 255, 255, 0.1);
		-pie-background: rgba(255, 255, 255, 0.1);
		border-radius: 50%;
		-webkit-border-radius: 50%;
		behavior: url(js/PIE.htc);
		border: 0;
}

.testimonials .img:hover {
		background: rgba(255, 255, 255, 0.2);
		-pie-background: rgba(255, 255, 255, 0.2);
}

.testimonials .img img {
		vertical-align: middle;
		position: relative;
		top: -1px;
}

.testimonials ul {
		list-style: none;
		margin: 0 -30px;
		text-align: center;
		padding: 0;
}

.testimonials li {
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0 0 17px 0;
		width: 334px;
}

.en .testimonials ul {
		margin-bottom: 21px;
}

.en .testimonials {
		line-height: 27px;
		text-align: center;
}

.en .testimonials li {
		width: 286px;
}

.en .testimonials .img {
		width: 210px;
		height: 210px;
		line-height: 210px;
}

.about {
		padding: 99px 0 81px 0;
		background: #fff;
}

.about h2 {
		white-space: nowrap;
		letter-spacing: 2.8px;
		font-style: italic;
		font-size: 73px;
		margin: 0 0 63px 0;
}

.en .about {
		padding-top: 82px;
}

.en .about h2 {
		font-size: 125px;
		line-height: 125px;
		letter-spacing: 1px;
		margin-bottom: 34px;
}

.footer {
		zoom: 1;
		position: relative;
		background: #281e15;
		padding: 100px 0 30px 0;
}

.footer .logo {
		float: left;
		margin: -8px 0;
}

.footer .logo > * {
		display: block;
		width: 157px;
		height: 39px;
		background: url(../img/logo2.png) no-repeat;
		background-size: 100% 100%;
}

.footer .menu {
		margin: 0 0 94px 0;
}

.footer .menu .r {
		min-width: 294px;
}

.en .footer .menu .r {
		min-width: 244px;
}

.menu2 {
		zoom: 1;
		position: relative;
		margin: 0 -40px 0 0;
}

.menu2 > ul {
		list-style: none;
		margin: 0;
		padding: 0;
}

.menu2 > ul > li {
		float: left;
		width: 320px;
}

.menu2 > ul > li.color1 {
		width: 355px;
}

.menu2 > ul > li.color2 {
		width: 310px;
}

.en .menu2 > ul > li {
		width: 280px;
}

.en .menu2 > ul > li.color1 {
		width: 375px;
}

.en .menu2 > ul > li.color2 {
		width: 340px;
}

.menu2 > ul > li > span {
		color: #948f8a;
		color: rgba(255, 255, 255, 0.5);
}

.menu2 > ul > li > ul {
		list-style: none;
		margin: 22px 0 68px 0;
		padding: 0;
}

.menu2 > ul > li > ul > li {
		margin: 22px 0 0 0;
}

.en .menu2 > ul > li > ul,
.en .menu2 > ul > li > ul > li {
		margin-top: 27px;
}

.en .menu2 > ul > li > ul {
		margin-bottom: 78px;
}

.btn-hold {
		margin: 60px 5px 0 5px;
}

.top-text .btn-hold {
		margin-top: 56px;
}

.clouds-bg h3 {
		display: none;
}

.clouds-bg .btn-hold {
		margin-top: 66px;
}

.benefits .btn-hold {
		margin-top: 63px;
}

.about .btn-hold {
		margin-top: 59px;
}

.btn {
		display: block;
		position: relative;
		text-decoration: none;
		color: #fff;
		vertical-align: top;
}

.btn .t {
		position: relative;
		font-family: "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight: 600;
		font-style: italic;
		font-size: 33px;
		text-transform: uppercase;
		letter-spacing: 1px;
		display: inline-block;
		padding: 3px 41px 0 41px;
		height: 77px;
		line-height: 77px;
		display: block;
		text-align: left;
}

.top-text .btn,
.top-text .btn .t {
		display: inline-block;
}

.top-text .btn .t {
		padding-left: 87px;
		padding-right: 87px;
		height: 68px;
		line-height: 68px;
}

.btn .b {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		-moz-transform: skew(-10deg);
		-o-transform: skew(-10deg);
		-webkit-transform: skew(-10deg);
		transform: skew(-10deg);
}

.btn:hover .b {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
		opacity: 0.9;
}

.top-text .btn .b {
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmN2UwMCIgc3RvcC1vcGFjaXR5PSIwLjYzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmMwMDAiIHN0b3Atb3BhY2l0eT0iMC42MyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left, rgba(255,126,0,0.63) 0%, rgba(255,192,0,0.63) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,126,0,0.63)), color-stop(100%, rgba(255,192,0,0.63)));
		background: -webkit-linear-gradient(left, rgba(255,126,0,0.63) 0%, rgba(255,192,0,0.63) 100%);
		background: -o-linear-gradient(left, rgba(255,126,0,0.63) 0%, rgba(255,192,0,0.63) 100%);
		background: -ms-linear-gradient(left, rgba(255,126,0,0.63) 0%, rgba(255,192,0,0.63) 100%);
		background: linear-gradient(to right, rgba(255,126,0,0.63) 0%, rgba(255,192,0,0.63) 100%);
}

.top-text .btn:hover .b {
		opacity: 1;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmN2UwMCIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYzAwMCIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
		background: -moz-linear-gradient(left, rgba(255,126,0,0.9) 0%, rgba(255,192,0,0.9) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,126,0,0.9)), color-stop(100%, rgba(255,192,0,0.9)));
		background: -webkit-linear-gradient(left, rgba(255,126,0,0.9) 0%, rgba(255,192,0,0.9) 100%);
		background: -o-linear-gradient(left, rgba(255,126,0,0.9) 0%, rgba(255,192,0,0.9) 100%);
		background: -ms-linear-gradient(left, rgba(255,126,0,0.9) 0%, rgba(255,192,0,0.9) 100%);
		background: linear-gradient(to right, rgba(255,126,0,0.9) 0%, rgba(255,192,0,0.9) 100%);
}

.btn.green .b {
		background: #70c154;
}

.btn.blue .b {
		background: #1cb6f5;
}

.btn.orange .b {
		background: #ffb400;
}

.btn .a {
		position: absolute;
		top: 50%;
		right: 34px;
		line-height: 0;
		margin: -12.5px 0 0 0;
}

.btn .a img {
		height: 25px;
		width: auto;
}

.for-tabl,
.for-mob {
		display: none;
}

.menu-toggle,
.lang-toggle {
		display: none;
}

.fader {
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.88);
}

.lang2 {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		padding: 83px 0 83px 135px;
		text-transform: uppercase;
		font-size: 21px;
		line-height: 24px;
		font-family: "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		color: rgba(255, 255, 255, 0.5);
}

.lang2 img {
		vertical-align: middle;
		position: relative;
		top: -1px;
		margin: 0 3px 0 0;
}

.lang2 ul {
		list-style: none;
		margin: 0;
		padding: 0;
}

.lang2 li {
		margin: 41px 0 0 0;
}

.lang2 li:first-child {
		margin: 0;
}

.close {
		position: absolute;
		top: 0;
		padding: 30px 50px;
}

.close img {
		width: 18px;
		height: auto;
}

.lang2 .close {
		right: 0;
}

.lang2 a {
		text-decoration: none;
		color: inherit;
}

.menu2.modal {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		padding: 76px 0;
		font-size: 27px;
		line-height: 33px;
		letter-spacing: 2px;
		margin: 0;
}

.menu2.modal .container {
		width: auto;
		padding: 0 50px;
}

.menu2.modal ul {
		list-style: none;
		margin: 0;
		padding: 0;
}

.menu2.modal ul > li,
.menu2.modal ul > li.color2,
.menu2.modal ul > li.color3 {
		margin: 45px 0 0 0;
		float: none;
		width: auto!important;
}

.menu2.modal ul > li > span {
		position: absolute;
		left: -10000px;
}

.menu2.modal ul > li > ul > li {
		margin: 30px 0 0 0;
}

.menu2.modal li:first-child {
		margin: 0!important;
}

/*new 02.12.14*/



















































































































.links {
		list-style: none;
		margin: 57px 0 0 0;
		padding: 0;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 33px;
		line-height: 33px;
		font-family: "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-style: italic;
		color: #ffd138;
		letter-spacing: 0.5px;
}

.en .links {
		margin-left: -260px;
}

.links a {
		top: -5px;
		color: inherit;
		position: relative;
		border-bottom: 1px solid #e4c045;
		text-decoration: none;
}

.links a:hover {
		border: 0;
}

.links.view2 a {
		border: 0;
}

.links.view2 a:hover {
		border-bottom: 1px solid #e4c045;
}

.links li {
		display: inline-block;
		white-space: nowrap;
		vertical-align: top;
		margin: 0 62px 0 0;
		padding: 0;
}

.links a span {
		position: relative;
		top: 5px;
}

.rub {
		font-family: 'Rouble';
		text-transform: none;
		font-size: 92%;
}

/*new 10.02.15*/































.header.inner {
		height: 365px;
}

.menu3 {
		position: absolute;
		left: 0;
		right: 0;
		top: 281px;
		font-weight: normal;
		color: #fff;
		text-align: center;
		margin: 0 -50px;
		font-size: 18px;
		line-height: 24px;
}

.menu3 > * {
		display: inline-block;
		vertical-align: top;
		padding: 26px 0 0 0;
		height: 58px;
		color: #77daff;
		text-decoration: none;
		position: relative;
		margin: 0 29px;
}

.menu3 > a:hover {
		text-decoration: underline;
}

.menu3 > .active {
		color: #fff;
}

.menu3 > .active:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0;
		height: 0;
		border: 12px solid #fff;
		border-top: 0;
		border-left-color: transparent!important;
		border-right-color: transparent!important;
		margin: 0 0 0 -12px;
}

.top-text2 {
		font-family: "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight: 600;
		font-style: italic;
		text-transform: uppercase;
		text-align: center;
		font-size: 111px;
		line-height: 99px;
		margin: 55px -20px 0 -20px;
		letter-spacing: 3.5px;
}

.text-block {
		background: #fff;
		padding: 71px 0 66px 0;
		color: #918c89;
		font: normal 16px/27px "Roboto", Arial, Helvetica, sans-serif;
}

.text-block a {
		color: #58abd3;
}

.text-block .title1 {
		font: 600 33px/36px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		color: #7f7976;
		margin: 38px 0 30px 0;
		letter-spacing: 0.95px;
}

.text-block .title1 a {
		color: #0e95c8;
}

.text-block .title1:first-child {
		margin-top: 0;
}

.text-block p,
.text-block ul,
.text-block ol {
		margin: 0 0 13px 0;
}

.text-block .lind {
		margin-left: 45px;
}

.text-block ul {
		list-style: none;
		padding: 0;
}

.text-block li {
		margin: 0;
		padding: 0 0 0 32px;
		position: relative;
}

.text-block ul > li:before {
		content: '';
		position: absolute;
		top: 11px;
		left: 10px;
		width: 3px;
		height: 3px;
		border: 2px solid #edeae9;
		border-radius: 50%;
		-webkit-border-radius: 50%;
}

.btn.blue,
.btn.green,
.btn.orange {
		color: #fff;
}

.green {
		color: #86c1b1;
}

.orange {
		color: #ff834f;
}

.blue {
		color: #27a6e8;
}

.hosting-info {
		padding: 42px 0 0 0;
		background: #fff;
}

.hosting-info .title1 {
		text-align: center;
		text-transform: uppercase;
		font: 600 60px/60px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		margin: 0 0 36px 0;
		color: #86c1b1;
		letter-spacing: 2px;
}

.hosting-info .services,
.hosting-info .services li,
.hosting-info .activate {
		zoom: 1;
}

.hosting-info .services:after,
.hosting-info .services li:after,
.hosting-info .activate:after {
		content: ' ';
		clear: both;
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
		font-size: 0;
}

.hosting-info .services ul {
		list-style: none;
		float: left;
		width: 50%;
		margin: 0 -5000px 0 0;
		padding: 0 5000px 0 0;
		color: #716a66;
		text-transform: uppercase;
		font: 600 24px/27px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		letter-spacing: 0.5px;
}

.hosting-info .services ul:first-child {
		margin: 0 0 0 -5000px;
		padding: 0 0 0 5000px;
		text-align: right;
}

.hosting-info .services ul li {
		position: relative;
		padding: 11px 5000px 12px 115px;
		margin: 0 -5000px 0 0;
}

.hosting-info .services ul li:before {
		content: '';
		position: absolute;
		top: 50%;
		left: -3.5px;
		margin: -3.5px 0 0 0;
		width: 3px;
		height: 3px;
		border: 2px solid #edeae9;
		border-radius: 50%;
		-webkit-border-radius: 50%;
}

.hosting-info .services ul:first-child li {
		padding-left: 5000px;
		margin: 0 0 0 -5000px;
		padding-right: 115px;
}

.hosting-info .services ul:first-child li:before {
		display: none;
}

.hosting-info .services ul li.bg,
.hosting-info .services.table-hold tr.bg td,
.hosting-info .services.table-hold tr.bg th {
		background: #faf9f7;
}

.hosting-info .services.view2 ul:first-child {
		width: auto;
		float: none;
		margin: 0 -5000px;
		padding: 0;
		text-align: left;
}

.hosting-info .services.view2 ul:first-child li {
		padding-left: 5000px;
		padding-right: 5000px;
		margin: 0;
}

.hosting-info .services.view2 .l {
		float: left;
		width: 50%;
		margin: 0 115px 0 0;
		box-sizing: border-box;
		padding: 0 115px 0 0;
		text-align: right;
}

.hosting-info .services.view2 ul:first-child li:before {
		display: block;
		left: 50%;
		margin-left: -3.5px;
}

.hosting-info .services .big,
.hosting-info .services tr.big td {
		font: 600 42px/44px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		letter-spacing: 1.1px;
}

.hosting-info .services ul li.big {
		padding-top: 0;
		padding-bottom: 26px;
}

.hosting-info .services ul li.big:before {
		display: none;
}

.hosting-info .services ul li.link-hold {
		padding-bottom: 0;
		padding-top: 31px;
}

.hosting-info .services ul li.link-hold:before {
		display: none;
}

.hosting-info .services .btn {
		color: #ff834f;
		border: 1px solid #ff8e64;
		width: 294px;
		height: 55px;
		padding: 0;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		line-height: 55px;
		font-family: "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight: 600;
		font-size: 24px;
		text-transform: uppercase;
		letter-spacing: 0.5px;
}

.hosting-info .services .btn:hover {
		text-decoration: none;
}

.hosting-info .services.table-hold {
		text-align: center;
		color: #998f89;
		font-size: 18px;
		line-height: 27px;
		padding-bottom: 49px;
}

.hosting-info .services.table-hold .big {
		margin-bottom: 7px;
}

.hosting-info .services.table-hold .hold {
		margin: 30px -5000px 0 -5000px;
}

.hosting-info .services.table-hold .hold:first-child {
		margin-top: 0;
		margin-bottom: -15px;
}

.hosting-info .services.table-hold table {
		border-collapse: collapse;
		width: 100%;
		color: #a8a198;
		text-transform: uppercase;
		font: 600 24px/27px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		letter-spacing: 0.5px;
}

.hosting-info .services.table-hold table.small {
		color: #9e9692;
		font-size: 18px;
}

.hosting-info .services.table-hold th,
.hosting-info .services.table-hold td {
		padding: 11px 0 12px 0;
		text-align: left;
}

.hosting-info .services.table-hold table.small th,
.hosting-info .services.table-hold table.small td {
		padding-top: 7px;
		padding-bottom: 7px;
}

.hosting-info .services.table-hold table.small .big td,
.hosting-info .services.table-hold table.small .big th {
		font-size: 33px;
		letter-spacing: 0.5px;
		padding-bottom: 19px;
}

.hosting-info .services.table-hold th:first-child,
.hosting-info .services.table-hold td:first-child {
		padding-left: 5000px;
}

.hosting-info .services.table-hold th:last-child,
.hosting-info .services.table-hold td:last-child {
		padding-right: 5000px;
}

.hosting-info .services.table-hold th {
		color: #7d7366;
}

.hosting-info .services.table-hold .center {
		text-align: center;
}

.hosting-info .services.table-hold .w1 {
		width: 360px;
}

.hosting-info .services.table-hold .w0 {
		width: 1px;
		white-space: nowrap;
}

.hosting-info .services.table-hold .w2 {
		width: 198px;
		text-align: center;
}

.hosting-info .services.table-hold .w3 {
		width: 169px;
		text-align: center;
}

.hosting-info .services.table-hold .w4 {
		width: 205px;
		white-space: nowrap;
}

.hosting-info .services.table-hold table .first {
		color: #79726f;
		white-space: nowrap;
		text-transform: none;
}

.hosting-info .services.table-hold .link-hold {
		margin: 43px 0 26px 0;
}

.hosting-info .services.table-hold table .link-hold td {
		margin: 0;
		padding-top: 22px;
		padding-bottom: 0;
}

.hosting-info .services.table-hold .link-hold .btn {
		letter-spacing: 1.4px;
		padding-top: 4px;
		display: block;
		width: auto;
}

.hosting-info .services.table-hold table .link-hold .btn {
		border-width: 2px;
		width: 114px;
		height: 34px;
		line-height: 34px;
		padding: 1px 0 0 0;
		display: inline-block;
		vertical-align: top;
		font-size: 18px;
}

.hosting-info .services.prices {
		line-height: 30px;
}

.hosting-info .services.prices .hold {
		margin-top: 52px;
		margin-bottom: 46px;
}

.hosting-info .services.prices .hold:first-child {
		margin-bottom: 46px;
		margin-top: 0;
}

.hosting-info .services.prices .hold:last-child {
		margin-bottom: 0;
}

.hosting-info .activate {
		margin: 45px 0 64px 0;
		background: #86c1b1 url(../img/bg-pluses.png) 50% 50%;
		padding: 58px 0;
		color: #fff;
		position: relative;
		line-height: 0;
		text-align: justify;
}

.hosting-info .activate .container:after {
		content: '';
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 0;
}

.hosting-info .activate p {
		text-align: center;
		line-height: 33px;
		margin-bottom: 46px;
		margin-top: 17px;
}

.hosting-info .activate:last-child {
		margin-bottom: 0;
}

.hosting-info .activate a {
		color: #cbf5ff;
}

.hosting-info .activate .title1 {
		color: #ffeebf;
		margin-bottom: 35px;
		letter-spacing: normal;
		text-align: center;
}

.hosting-info .activate:before {
		content: '';
		position: absolute;
		width: 72px;
		height: 72px;
		left: 50%;
		top: -36px;
		margin: 0 0 0 -36px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		background: #ff8e64 url(../img/plus.png) no-repeat 50% 50%;
}

.hosting-info .activate ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		vertical-align: top;
		font-size: 21px;
		line-height: 39px;
}

.hosting-info .activate ul.ind {
		margin-left: 103px;
}

.hosting-info .activate ul.ind li {
		margin-left: 0;
}

.hosting-info .activate ul.ind:last-child {
		margin-left: 0;
		margin-right: 103px;
}

.hosting-info .activate ul li {
		margin: 24px 0 0 47px;
		padding: 0 0 0 40px;
		position: relative;
}

.hosting-info .activate ul.ind2 li {
		margin-top: 52px;
}

.hosting-info .activate ul:first-child li,
.hosting-info .activate .title1 + ul li {
		margin-left: 23px;
}

.hosting-info .activate ul li:first-child {
		margin-top: 0;
}

.hosting-info .activate ul li:before {
		content: '';
		position: absolute;
		top: 9px;
		left: 0;
		width: 20px;
		height: 20px;
		background: #fff url(../img/plus2.png) no-repeat 50% 50%;
		border-radius: 50%;
		-webkit-border-radius: 50%;
}

.hosting-info .info {
		text-align: center;
		color: #c4bbb6;
		margin: 55px 0 60px 0;
}

.frame-hold {
		text-align: center;
		padding: 30px 0 0 0;
}

.frame-hold iframe {
		vertical-align: top;
}

.menu img {
		height: 29px;
		width: auto;
		vertical-align: middle;
		margin: -3px 18px -2px 0;
}

.container_12 {
		text-align: center;
}
@media only screen and (min-width: 1000px) and (max-width: 1150px) {

.header.inner .menu .r {
		min-width: 0;
}

.header.inner .lang {
		margin-left: 480px;
}
}

.share {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
}

ul.share > li {
		margin: 0 15px;
		float: none;
		display: inline-block;
		vertical-align: middle;
		line-height: 16px;
}

/*new 19.02.15*/

















































.header.inner.size2 {
		height: 297px;
}

.header.inner.size2 .menu3 {
		top: 213px;
}

.header.inner.size2 .top-text2 {
		font-size: 139px;
		line-height: 123px;
		padding-top: 7px;
}

.bg-img .grad {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 161px;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
		background: -o-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
		background: -ms-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
}

.text-block.view2,
.text-block.view3 {
		color: #6e6e6e;
		padding-top: 60px;
		padding-bottom: 95px;
}

.text-block.view2 .title1 {
		color: #59514a;
		margin-top: 52px;
		margin-bottom: 26px;
}

.text-block.view2 .title1:first-child {
		margin-top: 0;
}

.text-block.view2 p {
		margin-bottom: 27px;
}

.text-block.view3 .title1 {
		color: #c4bbb6;
}

.menu3 .arr-green:after {
		border-color: #86c1b1;
}

.check-domain {
		zoom: 1;
		position: relative;
		padding: 55px 0 67px 0;
		background: #86c1b1;
}

.check-domain .title1 {
		font: 600 42px/42px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #fff;
		margin: 0 0 20px 0;
}

.check-domain .btn2 {
		float: right;
		font: 600 24px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #fff;
		cursor: pointer;
		border: 0;
		background: #ffc000;
		padding: 0 44px;
		height: 65px;
}

.check-domain .tld {
		float: right;
		position: static;
		font: 600 24px/30px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		color: #59514a;
		border-left: 1px solid #e1e1e1;
		letter-spacing: 0.03em;
}

.check-domain .tld .toggle {
		position: relative;
		z-index: 101;
		overflow: hidden;
}

.check-domain .tld.open .toggle {
		margin: -13px -13px -10px -13px;
		padding: 13px 13px 0 13px;
}

.check-domain .tld .toggle div {
		padding: 0 56px 0 0;
		height: 65px;
		line-height: 65px;
		width: 80px;
		text-align: right;
		float: left;
		cursor: pointer;
		background: #fff;
		position: relative;
}

.check-domain .tld.open .toggle div {
		padding-bottom: 10px;
}

.check-domain .tld .toggle div:after {
		content: '';
		position: absolute;
		top: 30px;
		right: 26px;
		width: 0;
		height: 0;
		border: 6px solid #e1e1e1;
		border-bottom: 0;
		border-left-color: transparent!important;
		border-right-color: transparent!important;
}

.check-domain .tld .sub {
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		right: 0;
		margin: 10px 0 0 0;
		z-index: 100;
		background: #fff;
		padding: 39px 0 40px 45px;
}

.check-domain .tld.open .sub {
		display: block;
}

.check-domain .tld .sub:after {
		content: ' ';
		clear: both;
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
		font-size: 0;
}

.check-domain .tld.open .toggle div,
.check-domain .tld .sub {
		box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.21);
		-webkit-box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.21);
}

.check-domain .tld .sub .fl {
		float: left;
}

.check-domain .tld .sub .fl.w1 {
		width: 405px;
}

.check-domain .tld .sub .fl.w2 {
		width: 326px;
}

.check-domain .tld .sub .fl.w3 {
		width: 180px;
}

.check-domain .tld .sub a {
		color: #afa39c;
		text-decoration: none;
}

.check-domain .tld .sub a:hover {
		color: #27a6e8;
}

.check-domain .tld .sub ul {
		list-style: none;
		margin: 0;
		padding: 0;
}

.check-domain .tld .sub ul li {
		padding: 0;
		margin: 21px 0 0 0;
}

.check-domain .input {
		overflow: hidden;
		padding: 0 0 0 28px;
}

.check-domain .input input {
		font: 600 24px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		left: -28px;
		padding: 18px 0 18px 28px;
		height: 29px;
		color: #59514a;
		border: 0;
}
.check-domain .input input::-webkit-input-placeholder {
color:#e0ddda;
opacity:1;
}
.check-domain .input input::-moz-placeholder {
color:#e0ddda;
opacity:1;
}

.domains {
		font: 600 24px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		color: #59514a;
		padding: 65px 0 111px 0;
}

.domains .fr {
		float: right;
}

.domains .fl {
		float: left;
		width: 196px;
		margin: 0 0 0 60px;
		text-align: center;
}

.domains li:after,
.domains .top:after,
.domains .btns:after {
		content: ' ';
		clear: both;
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
		font-size: 0;
}

.domains .sect {
		margin: 67px 0 0 0;
}

.domains .sect:first-child {
		margin-top: 0;
}

.domains .top {
		zoom: 1;
		margin: 0 0 9px 0;
}

.domains .in {
		display: none;
		margin: 0 -5000px;
		padding: 0 5000px;
}

.domains .open .in {
		display: block;
}

.domains ul {
		list-style: none;
		margin: 0 -5000px;
		padding: 0;
		color: #afa39c;
}

.domains li {
		zoom: 1;
		padding: 11px 5000px;
}

.domains li:nth-child(odd) {
		background: #faf9f7;
}

.domains .btns {
		margin: 34px 0 0 0;
		zoom: 1;
}

.domains .btns .btn {
		border: 2px solid #ff8e64;
		color: #ff7200;
		font-size: 24px;
		line-height: 53px;
		height: 53px;
		padding: 0 51px;
		display: inline-block;
		vertical-align: top;
		letter-spacing: 0.05em;
}

.domains .fl .btn {
		display: block;
		padding: 0;
}

.domains .btns .btn.toggle {
		cursor: pointer;
		color: #27a6e8;
		border-color: #27a6e8;
}

.domains .open .btns .btn.toggle {
		display: none;
}

/*new 09.03.15*/

















.header.size3 {
		height: 263px;
}

.header.size3 .menu3 {
		top: 179px;
}

.header.size3 .bg-img .cover {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=63);
		opacity: 0.63;
}

.header.size3 .bg-img .cover.color2 {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=42);
		opacity: 0.42;
}

.top-text3 {
		text-align: center;
		font: 600 italic 93px/90px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		color: #f0f0f0;
		margin: 42px -20px 0 -20px;
		letter-spacing: 0.025em;
}

.top-text3.ind2 {
		margin-top: 77px;
}

.top-text3.color2 {
		color: #f49f05;
}

.top-text3 div {
		font-size: 45px;
		line-height: 40px;
		color: #c6c5c4;
		letter-spacing: 0.015em;
		margin: -1px 0 0 0;
}

.hosting-info.view2 {
		padding-top: 0;
}

.hosting-info.view2 .services {
		padding-top: 55px;
		padding-bottom: 66px;
}

.hosting-info.view2 .services ul {
		margin-left: -5000px;
		margin-right: -5000px;
		width: auto;
		float: none;
		color: #9e9692;
}

.cms .services .grey {
		color: #e5ded5;
}

.hosting-info.view2 .services ul li {
		text-align: center;
		padding-left: 5000px;
		padding-right: 5000px;
}

.hosting-info.view2 .services ul li::before {
		display: none;
}

.hosting-info.view2 .services .sides li {
		text-align: left;
}

.hosting-info .services .sides .r {
		float: right;
}

.hosting-info.view2 .services .sides li.link-hold {
		text-align: center;
}

.hosting-info.view2 .info {
		color: #beb8b5;
		margin-top: 42px;
		margin-bottom: 0;
}

.hosting-info.view2 .activate {
		padding-top: 71px;
		padding-bottom: 84px;
		margin-top: 0;
}

.hosting-info.view2 .activate ul {
		line-height: 33px;
		float: left;
		width: auto;
}

.hosting-info.view2 .activate ul + ul {
		float: right;
}

.hosting-info.view2 .activate ul li {
		margin-left: 0;
		margin-top: 44px;
}

.hosting-info.view2 .activate ul li:before {
		top: 6px;
}

.hosting-info.view2 .activate ul li:first-child {
		margin-top: 0;
}

.hosting-info.view2 .activate ul:first-child li,
.hosting-info.view2 .activate .title1 + ul li {
		margin-left: 0;
}

.hosting-info .activate .light {
		color: #dbf3ed;
}

.menu3 .arr-grey:after {
		border-color: #faf9f7;
}

.menu3 .arr-red:after {
		border-color: #ff8e64;
}

.top-info,
.files {
		background: #faf9f7;
		text-align: center;
		color: #6c6b6b;
		padding: 46px 0 35px 0;
		margin: 0 0 -10px 0;
		font-size: 17px;
		line-height: 27px;
		font-weight: normal;
}

.top-info.bg-red {
		color: #fff;
		background: #ff8e64;
		min-height: 66px;
}

.top-info .big {
		font: 600 33px/36px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		letter-spacing: 0.025em;
		text-transform: uppercase;
		color: #86c1b1;
		margin: -1px 0 2px 0;
}

.top-info .orange {
		color: #f3a001;
}

.files {
		padding-top: 47px;
		padding-bottom: 47px;
		min-height: 0;
}

.files a {
		margin: 0 72px;
}

.files img {
		height: 54px;
		vertical-align: middle;
		margin: 0 20px 0 0;
		position: relative;
		top: -1px;
}

.hosting-info .files + .activate {
		margin-top: 0;
}

/*new 12.03.15*/




























































.cms-nav {
		text-align: center;
		padding: 53px 0 100px 0;
		font-size: 21px;
		line-height: 36px;
		color: #6d6561;
}

.cms-nav ul {
		margin: 67px -100px 0 -100px;
		list-style: none;
		padding: 0;
		font-size: 18px;
}

.cms-nav li {
		display: inline-block;
		vertical-align: top;
		margin: 0 62px;
		padding: 0;
}

.cms-nav img {
		display: block;
		margin: 0 auto 10px auto;
}

.contact-us {
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		background: #77daff;
		padding: 57px 0 58px 0;
		text-align: center;
		color: #fff;
}

.contact-us a {
		color: #fff;
}

/*new 31.03.15*/




























.top-text3.big {
		top: -18px;
		position: relative;
		font-size: 169px;
		line-height: 169px;
}

.top-text3.big div {
		margin-top: -8px;
}

.top-text3.big2 {
		font-size: 115px;
		line-height: 115px;
		color: #e9feff;
		margin-top: 70px;
}

.hosting-info .services.view3 li:before {
		display: none!important;
}

.hosting-info .services.view3 .l {
		text-align: left;
}

.hosting-info .services.view3 .r {
		text-align: right;
}

.noup {
		text-transform: none;
}

.beige {
		color: #c4bbb6!important;
}

.beige2 {
		color: #a1968b!important;
}

.hosting-info .services.quarters {
		padding-bottom: 26px;
}

.hosting-info .services.quarters ul {
		font-size: 22px;
}

.hosting-info .services.quarters ul:first-child li {
		padding: 13px 4975px;
}

.hosting-info .services.quarters ul li:before {
		display: none!important;
}

.hosting-info .services.quarters ul li.big {
		font-size: 36px;
		line-height: 38px;
		padding-top: 3px;
		padding-bottom: 22px;
}

.hosting-info .services.quarters .l {
		width: 25%;
		margin: 0;
		padding: 0;
		text-align: center;
}

.hosting-info .services.quarters ul li.link-hold {
		padding-top: 31px;
}

.hosting-info .services.quarters .link-hold .btn {
		font-size: 24px;
		width: auto;
		min-width: 0;
		display: block;
		margin: 0 25px;
}

.hosting-info .services .color1,
.hosting-info .services .color1 .btn {
		color: #ffd35d;
		border-color: #ffd35d;
}

.hosting-info .services .color2,
.hosting-info .services .color2 .btn {
		color: #ffb24f;
		border-color: #ffb24f;
}

.hosting-info .services .color3,
.hosting-info .services .color3 .btn {
		color: #ff834f;
		border-color: #ff834f;
}

.hosting-info .services .color4,
.hosting-info .services .color4 .btn {
		color: #ff4b00;
		border-color: #ff4b00;
}

.activate + .text-block2 {
		margin-top: -64px;
}

.text-block2 {
		zoom: 1;
		padding: 65px 0 37px 0;
		font-size: 18px;
		line-height: 30px;
		font-weight: normal;
		color: #46403d;
}

.text-block2:last-child {
		padding-bottom: 52px;
}

.text-block2:after {
		content: ' ';
		clear: both;
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
		font-size: 0;
}

.text-block2 .title1 {
		text-align: left;
		color: #b9afa5;
		font-size: 42px;
		line-height: 42px;
		margin: 0 0 35px 0;
		letter-spacing: 0.03em;
		text-align: center;
}

.text-block2 p,
.text-block2 ul {
		margin: 0 0 28px 0;
}

.text-block2 .half {
		width: 442px;
		float: right;
}

.text-block2 .half:first-child {
		float: left;
		margin-left: 43px;
}

.text-block2 .half .title1 {
		text-align: left;
}

.text-block2 ul {
		list-style: none;
		padding: 0;
}

.text-block2 li {
		zoom: 1;
		position: relative;
		margin: 3px 0 0 0;
		padding: 0;
}

.text-block2 li:first-child {
		margin-top: 0;
}

.text-block2 li:before {
		content: '-';
		position: absolute;
		top: 0;
		right: 100%;
		margin: 0 9px 0 0;
}

.text-block2.bg-blue {
		background: #3d9acb;
		color: #fff;
}

.text-block2.bg-blue .title1 {
		color: inherit;
}

.top-text3.mid {
		font-size: 111px;
		line-height: 99px;
		margin-top: 43px;
}

.partners-download {
		font-size: 18px;
		line-height: 30px;
		padding: 52px 0 62px 0;
}

.partners-download .title1 {
		font: 600 33px/36px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: left;
		font-size: 42px;
		line-height: 44px;
		margin: 44px 0 38px 0;
}

.partners-download .title1:first-child {
		margin-top: 0;
}

.partners-download ul {
		list-style: none;
		margin: 0;
		padding: 0;
}

.partners-download ul li {
		display: inline-block;
		vertical-align: top;
		margin: 0;
		padding: 0;
		text-align: center;
}

.partners-download ul img {
		display: block;
		margin: 0 0 23px 0;
}

.partners-download ul a {
		margin: 0 10px;
}

.partners-download .view1 {
		margin-right: -56px;
}

.partners-download .view1 li {
		margin-right: 49px;
}

.partners-download .view2 {
		margin-right: -40px;
}

.partners-download .view2 li {
		margin-right: 33px;
}

.partners-download .view3 > li {
		display: block;
		margin-top: 30px;
		text-align: left;
}

.partners-download .view3 > li > img {
		display: inline-block;
		vertical-align: middle;
		margin-right: 16px;
		margin-bottom: 0;
}

.partners-download .view3 > li:first-child {
		margin-top: 0;
}

.partners-download .view3 ul {
		margin-right: -30px;
}

.partners-download .view3 ul li {
		margin-right: 26px;
}

.partners-download .view3 ul img {
		margin-bottom: 29px;
}

.features {
		font-size: 18px;
		line-height: 24px;
		color: #4f4842;
		text-align: center;
		padding: 70px 0 50px 0;
}

.activate + .features {
		margin-top: -64px;
}

.features .title1 {
		font: 600 42px/42px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #a1968b;
		margin: 0 0 35px 0;
}

.features ul {
		list-style: none;
		margin: 0 -180px;
		padding: 0;
}

.features li {
		display: inline-block;
		width: 30%;
		margin: 41px 0 43px 0;
		padding: 0;
		vertical-align: top;
}

.features ul img {
		display: block;
		height: 68px;
		width: auto;
		margin: 0 auto 17px auto;
}

.features .grey {
		color: #a1968b;
}

.features .binfo {
		color: #c4bbb6;
		margin: 25px 0 0 0;
}

.top-text3.yellow {
		color: #ffd200;
}

.red {
		color: #ab5252;
}

.modal {
		position: absolute;
		background: #fff;
		z-index: 1000;
		font-size: 18px;
		line-height: 33px;
		color: #46403d;
		padding: 61px;
		width: 708px;
		left: -10000px;
}

.modal .close {
		cursor: pointer;
		width: 28px;
		height: 28px;
		position: absolute;
		top: 61px;
		right: 61px;
		background: url(../img/close.png) no-repeat;
		padding: 0;
}

.modal .title1 {
		font: 600 42px/42px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		color: #000;
		margin: -3px 0 37px 0;
		letter-spacing: 0.03em;
}

/*new 14.04.15*/





























.top-text3.mid div {
		font-size: 75px;
		line-height: 75px;
		color: #fff;
}

.top-text3.trans,
.top-text3.trans div {
		color: #fff;
}

.top-text3.trans {
		opacity: 0.63;
}

.hosting-info .services.nodot ul li:before {
		display: none!important;
}

.hosting-info .services li.top {
		color: #928b87;
		padding-bottom: 25px;
}

.hosting-info .activate.halves ul {
		display: block;
}

.hosting-info .activate.halves ul li {
		margin-left: 0;
		padding: 0;
		zoom: 1;
}

.hosting-info .activate.halves ul li:after {
		content: ' ';
		clear: both;
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
		font-size: 0;
}

.hosting-info .activate.halves ul li:before {
		left: 50%;
		margin-left: -10px;
}

.hosting-info .activate.halves .l {
		float: left;
		box-sizing: border-box;
		width: 50%;
}

.hosting-info .activate.halves .l {
		margin: 0 115px 0 0;
		padding: 0 115px 0 0;
		text-align: right;
}

.hosting-info .activate.halves .r {
		overflow: hidden;
		text-align: left;
}

/*new 20.05.15*/
















.top-text3.color3 {
		margin-top: 82px;
		color: #88da60;
}

.top-text3.color3 div {
		font-size: 42px;
		color: #fff;
		opacity: 0.9;
}

.top-text4,
.top-text5,
.top-text6,
.top-text7 {
		text-align: center;
		font: 600 italic 63px/63px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		margin: 32px -20px 0 -20px;
		letter-spacing: 0.025em;
		color: #fff;
		opacity: 0.9;
}

.top-text6 {
		font-size: 111px;
		line-height: 99px;
		margin-top: 55px;
		letter-spacing: 3.5px;
}

.top-text5 {
		font-size: 72px;
		line-height: 72px;
		margin-top: 80px;
}

.top-text7 {
		font-size: 69px;
		line-height: 72px;
		margin-top: 50px;
		color: #a9f0ff;
}

.top-text7 span {
		color: #c5ffa9;
}

.top-text4 h1,
.top-text5 h1,
.top-text6 h1,
.top-text7 h1,
.top-text3.color3 h1 {
		font: inherit;
		margin: 0;
		display: inline;
		color: inherit;
}

.articles-nav {
		padding: 66px 0;
		color: #4a5d6d;
		font-size: 18px;
		line-height: 33px;
}

.articles-nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
}

.articles-nav li {
		margin: 18px 0 0 0;
		padding: 0;
}

.articles-nav li:first-child {
		margin-top: 0;
}

.article {
		padding: 63px 0 30px 0;
}

.article,
.news,
.offer,
.program {
		font-size: 18px;
		line-height: 33px;
		color: #4a5d6d;
}

.article p,
.article ul,
.article ol,
.offer p,
.offer ul,
.offer ol,
.program p,
.program ul,
.program ol,
.article li,
.offer li,
.program li {
		margin: 0 0 33px 0;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
		font: inherit;
		text-transform: none;
		letter-spacing: inherit;
		color: #000;
		font-size: 21px;
		margin: 50px 0 10px 0;
}

.article h1:first-child,
.article h2:first-child,
.article h3:first-child,
.article h4:first-child,
.article h5:first-child,
.article h6:first-child {
		margin-top: 0;
}

.article .center,
.offer .center {
		text-align: center;
}

.article .hosting-info {
		margin: 60px -5000px 56px -5000px;
		padding: 0;
}

.hosting-info .activate.text {
		margin: 0;
		font-size: 21px;
		line-height: 39px;
		padding: 74px 0 38px 0;
}

.hosting-info .activate.text p {
		text-align: left;
		margin: 0 0 30px 0;
}

.hosting-info .activate.text p:last-child {
		margin-bottom: 0;
}

.docs {
		padding: 75px 0;
		font-size: 18px;
		line-height: 27px;
		color: #333;
}

.docs figure {
		margin: 51px 0 0 0;
		padding: 0 0 0 51px;
		min-height: 54px;
		position: relative;
}

.docs figure:first-child {
		margin-top: 0;
}

.docs .pic {
		position: absolute;
		top: 4px;
		left: 0;
		width: 32px;
		height: 42px;
		background: url(../img/document.png) no-repeat;
}

.news {
		position: relative;
		padding: 53px 0;
}

.news .year {
		text-align: center;
		position: absolute;
		left: 0;
		right: 50%;
		color: #aab6bd;
		opacity: 0.3;
		font: 600 42px/42px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		margin: 4px 480px 0 0;
}

.news .top {
		font-size: 21px;
		color: #000;
		margin: 0 0 10px 0;
}

.news article {
		margin: 39px 0 0 0;
}

.news article:first-child,
.news .year:first-child + article {
		margin-top: 0;
}

.pay-methods {
		color: #4a5d6d;
		font-size: 16px;
		line-height: 28px;
		padding: 66px 0 1px 0;
}

.pay-methods .title1 {
		font: 600 39px/43px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		margin: 0 0 43px 0;
		letter-spacing: 0.95px;
}

.pay-methods ul {
		list-style: none;
		margin: 0 -150px 75px 0;
		padding: 0;
		position: relative;
		line-height: 52px;
}

.pay-methods li {
		display: inline-block;
		vertical-align: middle;
		white-space: nowrap;
		margin: 0 50px 0 0;
		padding: 0;
		min-width: 155px;
}

.pay-methods li img {
		vertical-align: middle;
		max-height: 52px;
		position: relative;
		width: auto;
		height: auto;
}

.pay-methods .text {
		position: absolute;
		top: 28px;
}

.pay-methods .text + img {
		top: -6px;
}

.support {
		font-size: 18px;
		line-height: 30px;
		color: #000;
		padding: 57px 0;
}

.support .half {
		float: left;
		width: 480px;
}

.support .half + .half {
		float: right;
}

.support h2 {
		letter-spacing: 0.95px;
		font-size: 42px;
		line-height: 46px;
		color: #aab6bd;
		margin: 0 0 42px 0;
}

.support .contact {
		position: relative;
		padding: 0 0 0 40px;
		margin: 30px 0 0 0;
}

.support .contact:first-child {
		margin-top: 0;
}

.support .contact:before {
		content: '';
		position: absolute;
		left: 0;
		background: url(../img/contacts.png) no-repeat 0 -10000px;
		width: 20px;
}

.support .bg-mail:before {
		height: 16px;
		background-position: 0 0;
		top: 7px;
}

.support .bg-skype:before {
		height: 20px;
		background-position: 0 -18px;
		top: 5px;
}

.support .bg-phone:before {
		height: 20px;
		background-position: 0 -40px;
		top: 5px;
}

.support .bg-chat:before {
		height: 20px;
		background-position: 0 -62px;
		top: 7px;
}

.support .bg-form:before {
		height: 19px;
		background-position: 0 -86px;
		top: 6px;
}

.offer {
		padding: 57px 0 37px 0;
}

.offer .btn {
		display: block;
		color: #ff834f;
		border: 1px solid #ff8e64;
		height: 66px;
		padding: 0;
		text-align: center;
		line-height: 66px;
		font-family: "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight: 600;
		font-size: 24px;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		margin: 43px 0;
}

.offer .container {
		width: 928px;
}

.offer h2,
.program h2 {
		letter-spacing: 0.95px;
		font-size: 42px;
		line-height: 46px;
		color: #000;
		margin: 63px 0 22px 0;
		text-align: center;
}

.offer h2:first-child,
.program h2:first-child {
		margin-top: 0;
}

.article ol,
.offer ol {
		counter-reset: li;
		padding: 0;
		list-style: none;
}

.article ol > li,
.offer ol > li {
		position: relative;
		padding: 0 0 0 35px;
}

.article ol > li:before,
.offer ol > li:before {
		content: counter(li)'.';
		counter-increment: li;
		position: absolute;
		top: 0;
		left: -3px;
		color: #000;
}

.program {
		padding: 59px 0 10px 0;
		background: #f3f2ee;
		text-align: center;
}

.program h2 {
		color: #53514c;
		margin-bottom: 15px;
}

.program .table {
		color: #a8a198;
}

.program .table th {
		color: #7d7366;
}

.program .color1 {
		color: #f1a037;
}

.program .color2 {
		color: #ff7200;
}

.program .color3 {
		color: #ff4200;
}

.program .color4 {
		color: #da350f;
}

.program a {
		color: #1082dd;
}

.table {
		margin: 48px -5000px 40px -5000px;
		padding: 0 120px;
}

.table table {
		border-collapse: collapse;
		width: 100%;
		margin: 0;
}

.table th,
.table td {
		font: 600 24px/35px "Myriad Pro Cond", "Trebuchet MS", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		width: 1;
		padding: 8px 0;
		text-align: center;
		vertical-align: middle;
}

.table th:first-child,
.table td:first-child {
		padding-left: 5000px;
}

.table th:last-child,
.table td:last-child {
		padding-right: 5000px;
}

.table tr:nth-child(even) td {
		background: #eeedea;
}
