@charset "utf-8";

.wrapper {
	min-width: 320px;
}

.container {
	width: auto;
	padding: 0 50px;
}

.header {
	height: auto;
}

.header.size-place {
	padding-top: 56px;
	padding-bottom: 0;
	height: 59px;
}

.header .menu,
.header .lang {
	display: none;
}

.header .container {
	padding-right: 50px;
}

.menu-toggle {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 50px;
}

.menu-toggle span {
	display: block;
	margin: 4px auto 0 auto;
	width: 23px;
	height: 3px;
	background: #fff;
}

.header.bg-white .menu-toggle span {
	background: #4e6481;
}

.menu-toggle span:first-child {
	margin-top: 0;
}

.lang-toggle {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 50px;
	text-align: center;
	line-height: 0;
}

.lang-toggle img {
	vertical-align: middle;
	position: relative;
	top: -1px;
}

.for-tabl {
	display: inline;
}

.top-text {
	margin-top: 0!important;
	padding-top: 95px;
	margin-left: 188px!important;
}

.top-text h1 {
	font-size: 102px!important;
	line-height: 94px!important;
	background: none!important;
	padding-left: 82px!important;
	margin-left: -82px!important;
}

.top-text h1 img {
	height: 69px!important;
	width: auto!important;
	margin-left: -82px!important;
	margin-top: 2px!important;
}

.top-text .btn-hold {
	margin-top: 65px;
}

.top-text .btn .t {
	font-size: 33px;
	line-height: 68px;
	height: 68px;
}

.clouds-bg {
	padding-top: 55px;
	padding-bottom: 63px;
}

.clouds-bg .btn-hold {
	margin-top: 41px;
}

.fastest {
	font-size: 41px!important;
	line-height: 41px!important;
	letter-spacing: 1.4px!important;
	margin-bottom: 30px!important;
}

.fastest h2 {
	font-size: 100px!important;
	line-height: 100px!important;
	margin-top: 11px!important;
	letter-spacing: 3.6px!important;
}

.fastest h2 img {
	height: 44px;
	width: auto;
}

.tabs {
	line-height: 0;
	text-align: justify;
}

.tabs:after {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 0;
}

.tabs li {
	display: inline-block;
	vertical-align: top;
}

.tabs a {
	text-align: left;
	margin: 0;
	line-height: 39px;
	font-size: 27px;
}

.benefits {
	padding-top: 64px!important;
	padding-bottom: 71px!important;
}

.benefits h2 {
	font-size: 62px!important;
	line-height: 62px!important;
	margin-bottom: 47px!important;
	letter-spacing: 2.3px!important;
}

.benefits .half {
	float: none;
	width: auto;
	margin-bottom: 49px;
}

.benefits .btn-hold {
	margin-top: 16px;
}

.testimonials {
	padding-top: 54px!important;
	padding-bottom: 37px!important;
}

.testimonials h2 {
	letter-spacing: 1.6px!important;
	font-size: 51px!important;
	line-height: 51px!important;
	margin-bottom: 39px!important;
}

.en .testimonials h2 {
	text-align: center;
}

.testimonials ul {
	margin-left: -60px;
	margin-right: -60px;
}

.testimonials li {
	width: 254px;
}

.testimonials.view2 {
	padding: 68px 0 83px 0!important;
}

.testimonials.view2 .container {
	padding: 0 50px;
}

.testimonials.view2 .title1 {
	letter-spacing: 0.07em;
}

.testimonials.view2 li {
	width: 224px;
}

.testimonials.view2 .btn4 {
	margin: 0 25px;
}

.about {
	padding-top: 53px!important;
	padding-bottom: 54px!important;
}

.about h2 {
	letter-spacing: 2px!important;
	font-size: 51px!important;
	line-height: 51px!important;
	margin-bottom: 24px!important;
}

.about .btn-hold {
	margin-top: -3px;
}

.footer {
	padding-top: 70px;
}

.footer .logo > * {
	width: 124px;
	height: 31px;
	margin-top: 3px;
}

.footer .lang {
	left: auto;
	right: 50px;
	top: 71px;
}

.footer .menu {
	margin-right: 82px;
	margin-bottom: 0;
}

.footer .menu .r {
	min-width: 0;
}

.menu > ul > li {
	margin-left: 40px;
}

.btn-hold {
	margin-right: 15px;
}

.btn .t {
	height: 74px;
	line-height: 74px;
	font-size: 27px;
}

.menu2 {
	letter-spacing: 1px;
	font-size: 18px;
	margin-top: 80px;
	margin-right: 0;
}

.menu2 > ul > li {
	width: 35%!important;
}

.menu2 > ul > li.color2 {
	width: 30%!important;
}

/*new 02.12.14*/







.links {
	font-weight: 600;
	font-size: 27px;
	margin: 32px 0 0 0;
	padding: 0 0 30px 0;
}

.links.view2 {
	font-size: 22px;
}

.en .links {
	margin-left: 0;
}

.links li {
	white-space: normal;
	display: block;
	margin: 0 0 20px 0;
}

.for-big {
	display: none;
}

.hide-tablet {
	display: none;
}

.show-tablet {
	display: block!important;
}

.btns-hold {
	margin-top: 44px;
	margin-bottom: 57px;
	margin-left: 17px;
}

.btns-hold li {
	font-size: 21px;
	line-height: 24px;
	letter-spacing: 0.06em;
	margin-bottom: 34px;
	display: block;
}

.btns-hold li > a,
.btns-hold .link {
	font-size: 21px;
	line-height: 53px;
	height: 49px;
	margin-left: 7px;
	min-width: 212px;
	margin-bottom: 10px;
}

.btns-hold li > a:before,
.btns-hold .link:before {
	margin: 0 -20px;
}

.btns-hold .link a:before {
	margin-top: -12px;
}

.bg-img .hold {
	width: 1300px;
	margin-left: -650px;
}

.logo2 {
	display: block;
	position: relative;
	top: -12px;
}

.header.size5 {
	height: 275px;
}

.title-payments {
	font-size: 88px;
	line-height: 88px;
	margin-top: 95px;
}

.pay-methods {
	padding-top: 45px;
	text-align: center;
}

.pay-methods .container {
	padding: 0 50px;
}

.pay-methods .hold {
	max-width: 820px;
	margin: 0 auto;
}

.pay-methods .title1 {
	text-align: center;
	margin-right: 0;
}

.pay-methods .block {
	text-align: left;
}

.pay-methods .text {
	margin: 0;
}

.pay-methods .in {
	display: block;
	width: 750px;
	margin: 0 auto;
}

.pay-methods .elem {
	margin-left: 20px;
	margin-right: 20px;
}

@media only screen and (max-width: 900px) {

.header.size5 {
	height: 230px;
}

.title-payments {
	font-size: 69px;
	line-height: 69px;
	margin-top: 71px;
}

.pay-methods {
	padding-top: 50px;
	text-align: left;
}

.pay-methods .hold {
	max-width: 596px;
}

.pay-methods .in {
	width: 500px;
}
}

.menu3 {
	font-size: 16px;
	margin: 0;
	padding: 0 40px;
}

.menu3 > * {
	margin-left: 15px;
	margin-right: 15px;
}

.menu3.noarr > * {
	padding: 0;
	margin-bottom: 8px;
	height: auto;
}

.size-shared-hosting .bg-img .hold {
	width: 1600px;
	position: absolute;
	top: -60px;
	bottom: 0;
	left: 50%;
	margin: 0 0 0 -800px;
}

.title-shared-hosting {
	font-size: 60px;
	line-height: 60px;
	margin-top: 50px;
	margin-bottom: 20px;
	background-size: auto 110px;
	background-position: 50% -3px;
}

.menu3 + .pricing1 {
	margin-top: 42px;
}

.pricing1 .elem {
	width: 220px;
	margin-left: 24px;
	margin-right: 24px;
}

.pluses {
	padding-bottom: 79px;
}

.pluses .container {
	padding-left: 84px;
	padding-right: 84px;
}

.pluses ul {
	margin-left: -84px;
	margin-right: -84px;
}

.pluses ul li {
	width: 33.33%;
}

.pluses ul li.wide {
	margin-left: 84px;
	margin-right: 84px;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 27px;
	padding-bottom: 46px;
	margin-bottom: 54px;
}

.pluses .btn4 {
	margin-top: 45px;
}

.services3 {
	padding-top: 76px;
	padding-bottom: 69px;
}

.services3 .container {
	padding-left: 84px;
	padding-right: 84px;
}

.services3 ul {
	margin-left: -34px;
	margin-right: -34px;
}

.services3 li .l {
	width: 168px;
}

.services3 li .l:last-child {
	width: 86px;
}

.services3.lic li .l {
	width: 141px;
}

.services3.lic li .l:last-child {
	width: 86px;
}

.title-linuxvps {
	font-size: 69px;
	line-height: 69px;
	margin-top: 97px;
}

.vps-info {
	font-size: 16px;
	line-height: 33px;
	padding-top: 38px;
}

.vps-info .container {
	padding: 0 50px;
}

.vps-info .title1 {
	font-size: 30px;
	line-height: 43px;
	margin-bottom: 9px;
}

.prices {
	margin: -29px -50px -80px -50px;
	text-align: left;
	border-bottom: 1px solid #e9eff4;
	overflow: hidden;
	position: relative;
	background: url(../img/prices-bg.png) repeat-x 0 125px;
}

.prices .hold {
	overflow: hidden;
}

.prices .slick-list {
	padding: 50px 60px 98px 204px;
}

.prices *,
.slick-dots * {
	outline: none!important;
}

.prices .fl {
	width: 200px;
	float: left;
	text-align: center;
}

.prices .fl.l {
	position: relative;
	z-index: 5;
	width: 144px;
	padding: 0 0 0 60px;
	margin-right: -204px;
	margin-top: 50px;
}

.prices .fl.l:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #fff url(../img/prices-bg.png) repeat-x 0 125px;
	opacity: 0.9;
	margin: -50px 0;
}

.prices .fl.l li {
	position: relative;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	background: none!important;
}

.prices .bg ul {
	margin: 0 8px 0 9px;
}

.prices.view2 {
	margin: -50px -50px 0 -50px;
	background: none;
	border: 0;
}

.prices.view2 .slick-list {
	padding: 50px 37px 124px 37px;
}

.prices.view2 .fl {
	width: 249px;
}

.os {
	padding-bottom: 84px;
}

.os .container {
	padding-left: 84px;
	padding-right: 84px;
}

.os ul {
	margin-left: -84px;
	margin-right: -84px;
}

.header.size-reselling {
	padding-bottom: 0;
}

.title-reselling {
	font-size: 60px;
	line-height: 60px;
	padding: 68px 0 43px 0;
	margin: 0;
	background-size: auto 196px;
	background-position: 50% 27px;
}

.title-domains {
	font-size: 69px;
	line-height: 69px;
	margin-top: 63px;
}

.check-domain2 .container {
	padding-right: 50px;
	padding-left: 50px;
}

.domains2 .container {
	padding-left: 70px;
	padding-right: 70px;
}

.domains2 .row {
	width: 50%;
}

.domains2 .pop-info2 {
	display: none!important;
}

.place-int,
.place-price,
.fast-hosting {
	font-size: 16px;
	line-height: 30px;
}

.place-int p,
.place-price p,
.fast-hosting p {
	margin-bottom: 30px;
}

.place-int {
	padding-top: 66px;
	padding-bottom: 74px;
}

.place-int .img {
	margin-right: -25px;
	margin-left: 15px;
}

.place-int .img img {
	height: 270px;
}

.place-int .title1 {
	margin-bottom: 29px;
}

.place-int .btn4 {
	margin: 23px 25px 0 25px;
}

.place-price {
	padding-bottom: 94px;
}

.place-price .prices.view2 {
	overflow: visible;
	margin-left: -14px;
	margin-right: -14px;
}

.place-price .prices.view2 .fl {
	width: 50%;
}

.place-price .prices.view2 .bg ul {
	margin: 0 19px;
}

.place-price .prices.view2 li:first-child {
	padding-top: 35px;
}

.fast-hosting {
	line-height: 33px;
	background-image: url(../img/fast-hosting-bg-tab.jpg);
}

.fast-hosting .container {
	padding: 0 75px;
}

.fast-hosting .fix {
	max-width: 638px;
	margin: 0 auto;
}

.fast-hosting .size2 {
	height: 282px;
}

.fast-hosting .btn4 {
	margin: 0;
}

/*new 30.11.16 start*/

.header-new .container,
.footer-new .container {
	padding-left: 60px;
	padding-right: 60px;
}

.header-new .fastest-new {
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 57px;
}

.index-prices {
	margin-right: -31px;
	padding-bottom: 0;
	margin-top: -86px;
	top: 86px;
	z-index: 90;
}

.index-prices .el {
	padding-right: 31px;
	padding-bottom: 30px;
	width: 50%;
}

.index-prices .text {
	letter-spacing: 0.075em;
}

.header-new .lang-new {
	right: 60px;
}

.header-new .toggle-menu-new {
	left: 60px;
}

.footer-new {
	font-size: 15px;
}

.footer-new .inhold {
	margin: 0;
}

.footer-new .auth-links-new {
	width: auto;
	min-width: 41%;
}

.footer-new .share-new2 li {
	display: block;
	margin: 0;
}

.footer-new .share-new2 li + li {
	margin-top: 10px;
}

.footer-new .bmenu-new {
	padding: 55px 0;
}

.footer-new .bmenu-new .el {
	width: 32%;
}

.footer-new .bmenu-new .el:nth-child(2) {
	width: 29%;
}

.footer-new .bmenu-new .el:nth-child(3) {
	width: 39%;
}

.footer-new .bmenu-new ul {
	margin-bottom: 63px;
}

.index-new-block {
	padding-bottom: 50px;
	padding-top: 56px;
}

.index-new-block .container {
	padding-left: 55px;
	padding-right: 55px;
}

.index-new-block .big {
	letter-spacing: 0.09em;
	margin-left: -20px!important;
	margin-right: -20px!important;
}

.presentation {
	padding-top: 112px;
}

.presentation .big {
	height: 67px;
}

.en .presentation .big {
	height: 93px;
	margin-top: 1px;
	margin-bottom: 35px;
}

.presentation .video {
	margin-top: 50px;
	margin-bottom: 39px;
}

.presentation .video .bgl {
	width: 256px;
	height: 307px;
	margin: -26px -180px;
}

.presentation .bgr {
	width: 439px;
	height: 250px;
	margin: 42px -92px;
}

.presentation .in iframe {
	width: 530px;
	height: 300px;
}

.presentation .video + .text .link-order {
	margin-top: 73px;
}

.presentation.index-style2 .big {
	margin-bottom: 50px;
}

.presentation.presentation-bg {
	padding-bottom: 73px;
	padding-top: 57px;
}

.why .el + .el {
	margin-top: 34px;
}

.why .el img {
	margin-bottom: 21px;
}

.why .big {
	height: 519px;
}

.why .graph {
	margin-top: 196px;
}

.why .link-order {
	margin-top: 47px;
}

.secrets .el {
	width: 50%;
	min-height: 199px;
}

.en .secrets .big {
	font-size: 42px;
}

.secrets .link-order {
	margin-top: 25px;
}

.testimonials-new .big .small {
	font-size: 33px;
	margin-top: -4px;
	letter-spacing: 0.1em;
}

.testimonials-new .bubble {
	margin-bottom: 24px;
}

.testimonials-new .testi-slider .dots {
	margin-top: 38px;
}

.testimonials-new .link-order {
	margin-top: 48px;
}

.about-new .link-order {
	margin-top: 47px;
}

.ssl-new {
	padding-top: 12px;
}

.ssl-new .big {
	font-size: 39px;
	line-height: 51px;
	margin-bottom: 47px;
}

.ssl-new .slick-slider,
.ssl-new .slick-slider.slick-initialized {
	margin: 0 -60px;
}

.ssl-new .slick-list {
	padding: 0 37px;
}

.ssl-new .el {
	width: 50%;
	padding: 0 23px;
}

.ssl-info {
	padding-top: 57px;
	padding-bottom: 67px;
}

.ssl-info .big {
	margin-bottom: 55px;
}

.ssl-info .el {
	padding: 0!important;
	margin-left: 0!important;
	margin-right: 0!important;
	text-align: center!important;
}

.ssl-info .el + .el {
	margin-top: 87px;
}

.ssl-info .el img {
	position: static!important;
	margin: 0 auto 50px auto!important;
	height: 190px;
	left: auto;
	top: auto;
}

.ssl-info .link-order {
	margin-top: 53px;
}

.bitrix-top {
	font-size: 17px;
	line-height: 33px;
	padding-top: 19px;
	padding-bottom: 109px;
}

.bitrix-top .big {
	font-size: 42px;
	line-height: 48px;
	margin-bottom: 65px;
}

.bitrix-top .inlines img {
	height: 89px;
	top: 6px;
}

.bitrix-info {
	padding-top: 75px;
}

.bitrix-info .stat {
	margin-left: -5030px;
	margin-right: -5030px;
	padding: 0 5000px 51px 5000px;
	border-bottom: 1px solid #ebebeb;
	line-height: 30px;
}

.bitrix-info .stat:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.bitrix-info .stat li {
	float: left;
	width: 33.33%;
	margin: 0;
	padding: 0;
}

.bitrix-info .link-order {
	margin-top: 48px;
	margin-left: 30px;
	margin-right: 30px;
}

.tarifes-new {
	padding-top: 80px;
	padding-bottom: 80px;
}

.tarifes-new .out {
	display: none;
}

.prices-new {
	padding-bottom: 76px;
}

.prices-new ul {
	margin: 0 38px;
}

.prices-new .r.w1,
.prices-new .r.w2 {
	left: 40px;
}

.prices-new .link-order {
	margin-left: 30px;
	margin-right: 30px;
}

.pluses-new {
	padding-top: 70px;
	padding-bottom: 86px;
}

.pluses-new .hold {
	margin: 0;
}

.pluses-new .el {
	width: 33.33%;
	min-height: 194px;
}

.pluses-new .link-order {
	margin: 10px 30px 0 30px;
}

/*new 24.01.17*/
.dedicated-top {
	padding: 4px 0 51px 0;
}

.dedicated-top .big {
	font-size: 39px;
	line-height: 51px;
	letter-spacing: 0.12em;
}

.features-new .big,
.prices-new.style-dedicated .big,
.server-info .big {
	margin-top: -3px;
}

.features-new .txt {
	margin-left: 65px;
	margin-right: 65px;
	margin-bottom: 72px;
}

.features-new .hold {
	margin-left: -10px;
	margin-right: -10px;
}

.features-new .link-order {
	margin-left: 30px;
	margin-right: 30px;
}

.server-info .big {
	margin-bottom: 48px;
}

.server-info .hold {
	padding: 0;
}

.server-info ul {
	font-size: 0;
	margin: 0 -40px;
	text-align: center;
}

.server-info li,
.server-info li:first-child {
	float: none;
	clear: none;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
	margin-bottom: 12px;
}

.server-info .img {
	position: relative;
	padding: 0;
	margin: 0 0 31px 0;
}

.server-info .price {
	margin: -31px -31px 0 0;
}

.server-info .link-order {
	margin-left: 30px;
	margin-right: 30px;
}

.index-new-block.index-style2 .big {
	font-size: 24px;
	letter-spacing: 0.05em;
}

.index-head {
	padding-top: 44px;
	padding-bottom: 99px;
}

.index-head .price {
	display: none;
}

.index-head .smile.pos1 {
	display: none;
}

.index-head .smile.pos2 {
	right: 58px;
}
