@charset "UTF-8";

@media only screen and (max-width: 1100px) {

.container {
	padding-left: 60px!important;
	padding-right: 60px!important;
}

.container,
.form-hold .container {
	min-width: 320px;
	width: auto;
}

.content .container {
	padding-bottom: 120px;
	margin-bottom: 0;
}

.mainContent,
.aside {
	float: none;
	width: auto;
}

.wrapper {
	min-height: 0;
}

.footer {
	text-align: center;
	margin-top: 0!important;
}

.footer-place {
	display: none;
}

.payments {
	padding: 39px 0 47px 0;
}

.payments .container {
	white-space: normal;
	line-height: 0;
	text-align: justify;
}

.payments .container:after {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 0;
}

.payments .container > * {
	margin: 0;
}

.payments .l {
	display: block;
	text-align: center;
	font: 600 21px/33px 'SF UI Display', Arial, Helvetica, sans-serif;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000;
	margin: 0 0 24px 0;
}

.bmenu {
	padding: 74px 0 32px 0;
}

.bmenu .elem {
	display: none;
}

.socials {
	float: none;
	margin: 0;
	display: inline-block;
	vertical-align: top;
}

.contacts3 {
	background: #0097ff;
	padding-bottom: 70px;
}

.contacts3 .container {
	text-align: center;
}

.contacts3 .container > * {
	display: block;
	margin: 15px 0 0 0;
}

.contacts3 .container > *:first-child {
	margin-top: 0;
}

.tld {
	margin-top: 0;
}

.tld .hold {
	margin-right: -60px;
}

.tld .row input + * {
	top: 17px;
}

.tld .third,
.tld .half,
.tld .third2,
.tld .elem {
	float: none;
	width: auto;
	display: inline;
	margin-bottom: 0;
	margin-top: 0;
}

.tld .elem {
	display: block;
	margin-bottom: 42px;
}

.tld .row {
	padding-top: 14px;
	padding-bottom: 15px;
}

.tld .row.tind {
	margin-top: 0;
}

.tld .to-sep {
	padding-right: 40px;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
}

.tld .to-sep.one,
.tld .to-sep.two,
.tld .to-sep.three {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.notice,
input + .notice {
	padding-top: 13px;
	padding-bottom: 14px;
}

.notice .close {
	right: 60px;
}

.search .btn {
	text-align: left;
	text-indent: -10000px;
	padding: 0;
	width: 61px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-size: auto 18px;
	background-position: 50% 50%;
}

.search .btn.full {
	text-indent: 0;
	background-image: none;
	width: 253px;
	text-align: center;
}

.search .txt {
	font-size: 27px;
	line-height: 42px;
	margin-bottom: 46px;
	padding: 0 60px;
}

.features2 {
	margin-top: 24px;
}

.features2 .bg {
	padding-left: 136px;
}

.features2 .bg img {
	left: 62px;
}

.hosting-info h2 {
	font-size: 18px;
	line-height: 33px;
	margin: 40px 0 14px 0;
}

.hosting-info .bg {
	margin-bottom: 44px;
}

.hosting-info .advantages {
	margin-top: 35px;
}

.hosting-info .advantages li {
	margin-left: 14px;
}

.wrap.tld-page {
	overflow: hidden;
	height: 756px;
}

.tld-info {
	position: relative;
	margin: 0;
	padding: 0;
	line-height: 36px;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

.tld-info .sale {
	display: none;
}

.tld-info .container {
	padding-top: 257px;
}

.tld-info.ind2 .container {
	padding-top: 281px;
}

.tld-info h1 {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: -153px 0 0 0;
	font: 600 21px/30px "SF UI Display", Arial, Helvetica, sans-serif;
	letter-spacing: 0.1em;
}

.tld-info p {
	opacity: 1;
}

.tld-info ul {
	position: absolute;
	top: 0;
	left: 50%;
	margin: 8px -180px 0 -180px;
	font: bold 15px/24px Arial, Helvetica, sans-serif;
	color: #fff;
	text-transform: uppercase;
	background: none;
	width: 360px;
	padding: 0;
}

.tld-info li {
	padding: 19px 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin: 0;
}

.tld-info li .r {
	font-weight: bold;
	color: #04ff98;
}

.tld-info .yellow,
.tld-info .red {
	color: #ffd200!important;
}

.tld-info ul del {
	font: inherit;
	opacity: 0.6;
	color: #fff;
}

.tld-info ul del:after {
	background: #fff;
}

.wrap.size2 .content .container,
.wrap.size3 .content .container {
	margin-bottom: 0;
}

.wrap.size2,
.wrap.size3 {
	min-height: 0;
}

.cform {
	width: auto;
	margin: 0;
	background: #fff;
}

.cform .container {
	max-width: 380px;
}

.domains2 .w1 {
	width: 46.15%;
}

.domains2 .mainContent2 {
	float: none;
	width: auto;
}

.domains2 .aside2 {
	display: none;
}

.hide-tab {
	display: none!important;
}

.offers .title1,
.features .title1,
.domains .title1 {
	font-size: 27px;
}

.offers {
	padding-top: 53px;
	padding-bottom: 36px;
}

.offers .title1 {
	margin-bottom: 48px;
}

.offers ul {
	margin-bottom: -24px;
}

.features {
	padding-top: 40px;
	padding-bottom: 28px;
}

.features .title1 {
	margin-bottom: 73px;
}

.features li {
	width: 183px;
}

.domains {
	padding-top: 70px;
	padding-bottom: 78px;
}

.domains .title1 {
	margin-bottom: 58px;
}

.domains ul {
	margin-bottom: -30px;
}

.domains li {
	margin-left: 41px;
	margin-right: 41px;
}

.show-tab {
	display: block!important;
}

.cart {
	font: normal 15px/24px Arial, Helvetica, sans-serif;
	color: #202e3e;
	padding: 0;
	margin-top: -12px;
}

.cart h1 {
	display: none;
}

.cart .label {
	font-size: 16px;
	line-height: 33px;
	color: #0f1430;
	margin: 0 0 24px 0;
}

.cart .table {
	display: none;
}

.cart .hr {
	display: block;
	height: 1px;
	margin: 43px 0 30px 0;
	background: #e1ebf1;
}

.cart .hr + .label {
	margin-top: 34px;
}

.cart .info-list {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	list-style: none;
	margin: 0;
	padding: 0;
}

.cart .info-list li:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.cart .info-list li {
	margin: 18px 0 0 0;
	padding: 0;
}

.cart .info-list li:first-child {
	margin-top: 0;
}

.cart .info-list .r {
	float: right;
	text-align: right;
}

.cart .green {
	color: #29af71;
}

.cart .elem {
	margin: 30px 0 0 0;
	padding: 28px 0 0 0;
	border-top: 1px solid #e1ebf1;
}

.cart .elem + .hr,
.cart .show-tab + .hr {
	margin-top: 30px;
}

.cart .label1 + .elem,
.cart .elem:first-child {
	margin-top: -2px;
}

.cart .elem .btn-hold {
	text-align: center;
	margin: 23px 0 0 0;
}

.cart .elem .btn-hold .btn {
	font: bold 14px/35px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 20px;
	min-width: 300px;
	height: auto;
	border-width: 2px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.payment-method {
	margin: 27px -100px 55px 0;
	font-weight: bold;
	font-size: 14px;
	line-height: 28px;
	text-transform: uppercase;
}

.payment-method .show-tab {
	display: inline!important;
}

.payment-method label {
	cursor: pointer;
	color: #537a9e;
	margin: 0 93px 0 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.payment-method img {
	height: 28px;
	width: auto;
	vertical-align: middle;
	position: relative;
	top: -1px;
}

.cart .checks.view2 {
	line-height: 21px;
	text-transform: none;
	font: inherit;
	margin: -5px 0 24px 0;
}

.cart .checks.view2 + .hr {
	margin-top: 0;
}

.cart .checks.view2 label {
	color: inherit;
}

.cart .checks.view2 li {
	display: block;
	white-space: normal;
	margin: 9px 0 0 0;
	padding-top: 3px;
	padding-bottom: 4px;
}

.cart .checks.view2 li:first-child {
	margin-top: 0;
}

.cart .checks.view2 input + span {
	top: 7px;
}

.cart .submit {
	margin: 31px 0 0 0;
}

.cart .submit .btn {
	background: #26c97e;
	font: 600 18px/54px Roboto, Arial, Helvetica, sans-serif;
	height: 55px;
	padding: 0;
	letter-spacing: 1px;
}

.cart .total {
	font-weight: bold;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.cart .total li {
	margin: 18px 0 0 0;
	padding: 0;
}

.cart .total li:first-child {
	margin-top: 0;
}

.cart .total li:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.cart .total .l {
	float: left;
}

.cart .total .r {
	float: right;
	color: #29af71;
	font-weight: bold;
}

.cart .check + .hr {
	margin-top: 30px;
}
}
