@charset "UTF-8";

@media only screen and (max-width: 1100px) {

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 300;
}

.header,
.header-place {
	height: 73px;
}

.top-img.index ~ .wrap.index .container {
	z-index: auto;
}

.header-view2 .top-img .hold {
	height: auto!important;
}

.header-view2 .header,
.header-view2 .header-place {
	height: 188px;
}

.login-menu {
	display: block;
}

.menu-hold {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 1000;
	background: #2b83ae url(../img/menu-bg.jpg) no-repeat 50% 0;
	background-size: cover;
	overflow: hidden;
	overflow-y: auto;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.menu-hold .hi {
	display: block;
}

#open-menu:checked + span + .menu-hold,
#open-login:checked + span + .menu-hold {
	height: 100%;
}

.menu-hold .close {
	display: block;
}

.header .container,
.header .menu-hold .container {
	display: block;
	text-align: center;
	height: 100%;
	min-height: 0;
	padding-top: 23px;
	padding-bottom: 23px;
}

.header-view2 .header .container,
.header-view2 .menu-hold .container {
	padding-top: 57px;
	padding-bottom: 57px;
}

.fixed-header .header .container,
.fixed-header .menu-hold .container {
	padding-top: 23px;
	padding-bottom: 23px!important;
}

.logo {
	display: none;
	float: none;
	margin: 0;
}

.logo.for-tab {
	display: block;
	position: relative;
	float: none;
	left: auto;
}

.header-view2 .logo {
	display: block;
}

.fixed-header .header-view2 .logo {
	margin-left: 139px;
}

.header-view2 .logo.for-tab {
	display: none;
}

.header .contacts {
	position: absolute;
	left: -10000px;
}

.toggle-menu,
.toggle-login,
.toggle-exit {
	display: block;
}

.menu {
	display: block;
	text-align: center;
	margin: 0!important;
	padding: 0 0 35px 0;
	font: 600 18px/24px 'SF UI Display', Arial, Helvetica, sans-serif;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.menu.show-touch {
	display: block;
}

.menu.hide-touch {
	display: none;
}

.menu + .menu {
	margin-top: 49px!important;
}

.menu li,
.menu .sub li {
	display: block;
	margin: 30px 0 0 0;
	padding: 0;
}

.menu.for-btns li {
	margin-left: 0;
}

.menu li:first-child,
.menu .sub li:first-child {
	margin-top: 0;
}

.menu a,
.menu li.sub-hold:hover > *:first-child {
	color: #00d8ff;
}

.menu a:hover,
.menu li.sub-hold:hover > a:first-child:hover {
	color: #fff;
}

.menu li.sub-hold {
	padding-left: 13px;
}

.menu li.sub-hold > *:first-child:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -1px;
	border: 3px solid #00d8ff;
	border-color: inherit;
	margin: 0 0 0 7px;
	border-bottom-width: 0;
	border-left-color: transparent!important;
	border-right-color: transparent!important;
}

.menu li.sub-hold.open > *:first-child:after {
	border-bottom-width: 3px;
	border-top-width: 0;
}

.menu .sub {
	position: static;
	top: auto;
	left: auto;
	margin: 0;
	z-index: auto;
	opacity: 1;
	width: auto;
	padding: 0!important;
	height: 0;
	overflow: hidden;
}

.menu li:hover .sub {
	height: 0;
	overflow: hidden;
}

.menu li.open .sub {
	height: auto;
}

.menu .sub ul {
	background: none;
	margin: 30px 0 0 0;
	padding: 0;
	font: inherit;
	text-align: center;
}

.menu .sub ul:before {
	display: none;
}

.menu .sub li > * {
	display: inline;
	margin: 0;
	padding: 0;
	color: #9cf0ff;
}

.menu .sub li > a:hover {
	color: #fff;
	background: none;
}

.menu .btn2,
.menu .btn2:hover {
	display: inline;
	font: inherit;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	background: none!important;
	border: 0;
	color: #00ff8a!important;
}

.menu .btn2:hover {
	color: #fff!important;
}

.search,
.tld-page .search {
	margin-top: 0;
}

.index .search {
	margin-top: 119px;
}

.cart-info-touch {
	display: block;
}

.header-place {
	display: block;
}

.fixed-header .header {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.09);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 300;
	background: #fff;
	height: auto;
}

.fixed-header .header.hide-logo .logo {
	opacity: 0;
}

.fixed-header .cart-info-touch {
	margin-top: -31px;
	color: #26c97e;
}

.fixed-header .cart-info-touch a {
	color: #0071db;
}

.fixed-header .cart-info-touch a:hover {
	color: #e20a0a;
}

.fixed-header .cart-info-touch .go {
	padding: 0;
}

.fixed-header .cart-info-touch .go:before,
.fixed-header .cart-info-touch .go:after {
	display: none;
}

.show-mob {
	display: block;
}
 .modal-scroll .c::-webkit-scrollbar {
 background:transparent;
}
.modal-scroll .c::-webkit-scrollbar-thumb {
 background:rgba(0, 0, 0, 0.5);
}
.lighter-scroll .modal-scroll .c::-webkit-scrollbar-thumb {
 background:rgba(0, 0, 0, 0.25);
}

.modal-scroll .in {
	width: auto;
	left: 0;
	right: 0;
	margin: 60px;
}
}
