@charset "utf-8";

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/myriadpro-semibold-webfont.eot');
	src: url('../fonts/myriadpro-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-semibold-webfont.woff') format('woff'), url('../fonts/myriadpro-semibold-webfont.ttf') format('truetype'), url('../fonts/myriadpro-semibold-webfont.svg#MyriadProSemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro Cond';
	src: url('../fonts/MyriadPro-SemiboldCond.eot');
	src: url('../fonts/MyriadPro-SemiboldCond.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-SemiboldCond.woff') format('woff'), url('../fonts/MyriadPro-SemiboldCond.svg#MyriadProRegular') format('svg'), url('../fonts/MyriadPro-SemiboldCond.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

html,
body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
	font: normal 14px/30px Arial, Helvetica, sans-serif;
	letter-spacing: 0.04em;
	color: #000;
	-webkit-text-size-adjust: none;
	max-height: 9001em;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

input,
select,
textarea,
button {
	font: bold 14px Arial, Helvetica, sans-serif;
	letter-spacing: 0.04em;
	color: #648697;
	outline: none;
}

.outtaHere {
	position: fixed!important;
	left: -10000px!important;
}

header,
nav,
section,
article,
aside,
footer,
menu,
time,
figure,
figcaption {
	display: block;
}

img {
	border: 0;
	vertical-align: top;
}

a {
	color: #2f6cbd;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}

strong,
.bold {
	font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title1 {
	font: bold 15px/20px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #000;
	margin: 0 0 10px 0;
}

p,
ol,
ul,
li {
	margin: 12px 0;
}

ol,
ul {
	padding: 0 0 0 10px;
}

.radio,
.checkbox {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 17px;
	cursor: pointer;
	position: relative;
	border: 2px solid #c1d2e0;
	background: #fff;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.checkbox {
	background-image: url(../img/checkbox.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 9px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.radio {
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

input:checked + .radio {
	border-width: 5px;
	border-color: #2f6cbd;
}

input:checked + .checkbox {
	border-color: #2f6cbd;
	background-color: #2f6cbd;
}

.delete {
	display: inline-block;
	vertical-align: middle;
	background: url(../img/cross.png) no-repeat 50% 50%;
	background-size: auto 13px;
	width: 23px;
	height: 23px;
	margin: -5px;
}

.orange {
	color: #e66201!important;
}

.orange2 {
	color: #f39604!important;
}

.red {
	color: #d20101!important;
}

.red2 {
	color: #e50016!important;
}

.red3 {
	color: #ed1c24!important;
}

.blue {
	color: #2f6cbd!important;
}

.grey {
	color: #648697!important;
}

.green {
	color: #29af71!important;
}

.green2 {
	color: #00ff8a!important;
}

.longword {
	display: block;
	word-break: break-all;
}

.nowrap {
	white-space: nowrap;
}

.break {
	word-break: break-all;
}

.spinner,
.spinner:before,
.spinner:after {
	position: relative;
	display: inline-block;
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
	text-align: center;
	width: 6px;
	height: 6px;
	background: #26c97e;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	margin: 0 9px;
}

.spinner:before,
.spinner:after {
	margin: 0;
	content: '';
	position: absolute;
	top: 0;
}

.spinner:before {
	left: -9px;
}

.spinner:after {
	right: -9px;
}

.spinner:before {
	-webkit-animation: spinner 500ms ease -250ms infinite alternate;
	animation: spinner 500ms ease -250ms infinite alternate;
}

.spinner {
	-webkit-animation: spinner 500ms ease -125ms infinite alternate;
	animation: spinner 500ms ease -125ms infinite alternate;
}

.spinner:after {
	-webkit-animation: spinner 500ms ease -125ms infinite alternate;
	animation: spinner 500ms ease -125ms infinite alternate;
}
 @-webkit-keyframes spinner {
to {
 background: #ccc;
}
}
 @keyframes spinner {
to {
 background: #ccc;
}
}

.uppercase,
.jcf-select-uppercase {
	text-transform: uppercase;
}

.lh2 {
	line-height: 21px;
	padding: 4px 0 5px 0;
}

.lh3 {
	line-height: 24px;
	padding: 3px 0;
}

.nofloat {
	height: 100%;
	overflow: hidden;
}

.cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.inline {
	display: inline-block;
	text-align: left;
}

.hr {
	height: 1px;
	overflow: hidden;
	margin: 14px -23px 15px -23px;
	background: #838485;
	opacity: 0.1;
}

.clearfix {
	zoom: 1
}

.clearfix:after,
.container:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.container {
	padding: 17px 23px 23px 23px;
}

.novind .container {
	padding-top: 0;
	padding-bottom: 0;
}

.menu-fader {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	z-index: -1;
	opacity: 0;
}

.menu {
	width: 279px;
	position: fixed;
	top: 0;
	left: 0;
	transform: translate3d(-279px, 0, 0);
	-webkit-transform: translate3d(-279px, 0, 0);
	height: 100%;
	z-index: 100;
	overflow: hidden;
	overflow-y: auto;
	background: #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#open-menu:checked + .menu-fader {
	opacity: 0.42;
	z-index: 99;
}

#open-menu:checked + .menu-fader + .menu,
#open-menu:checked ~ .menu {
	box-shadow: 1px 3px 42px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: 1px 3px 42px rgba(0, 0, 0, 0.33);
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

.menu .top {
	letter-spacing: 0.1em;
	position: relative;
	background: #648697 url(../img/menu-img.jpg) no-repeat;
	background-size: cover;
	box-shadow: none;
	-webkit-box-shadow: none;
	height: 183px;
	width: auto;
	z-index: auto;
	text-align: left;
	color: #fff;
	font-size: 15px;
	line-height: 24px;
	margin: 0 0 8px 0;
}

.menu .top .container {
	padding-top: 0;
	padding-bottom: 0;
}

.menu .top .b {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 0 19px 0;
}

.menu .top .btn {
	float: right;
	width: auto;
	margin: -1px 0 0 10px;
}

.menu .link2 {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	display: block;
	text-decoration: none;
	color: #000;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	letter-spacing: 0.07em;
	padding: 16px 23px 16px 60px;
	position: relative;
	margin: 0 0 5px 0;
}

.menu .link2 .r {
	float: right;
	font-weight: bold;
	font-size: 13px;
	margin: 0 0 0 10px;
}

.menu .link2 img {
	height: 18px;
	width: auto;
	position: absolute;
	top: 16px;
	left: 23px;
}

.menu .hr {
	margin: 7px 0;
}

.menu .link2:hover,
.menu .link2.active {
	background: #f5f7f9;
}

.header {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
	z-index: 10;
	text-align: center;
	height: 54px;
	line-height: 54px;
}

.header .container {
	height: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6,
.header .title1 {
	line-height: inherit;
	margin: 0;
	display: inline;
	position: relative;
	top: 1px;
}

.header .link,
.menu .top .link {
	height: 54px;
	line-height: 54px;
	font-size: 0;
	width: 64px;
	text-align: center;
	border: 0;
	overflow: hidden;
	background: none;
	min-width: 1px;
	position: absolute;
	top: 0;
	cursor: pointer;
	z-index: 2;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
}

.header .link input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	cursor: pointer;
}

.header .link:hover,
.menu .top .link:hover {
	opacity: 0.6;
}

.header .link.l,
.menu .top .link.l {
	left: 0;
}

.header .link.r,
.menu .top .link.r {
	right: 0;
}

.header .link img,
.menu .top .link img {
	vertical-align: middle;
	width: auto;
	height: 18px;
}

.header .link.link-menu .lines {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 12px;
	border-top: 2px solid #1b1b20;
	border-bottom: 2px solid #1b1b20;
	position: relative;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.header .link.link-menu .lines:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 2px;
	margin: -1px 0;
	background: #1b1b20;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.header .link.link-menu .lines .new {
	width: 9px;
	height: 9px;
	background: #27d481;
	border: 1px solid #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	position: absolute;
	top: 0;
	right: 0;
	margin: -6px -5px;
}

.header .search {
	padding: 0 64px;
	position: absolute;
	top: 0;
	transform: translate3d(0, -54px, 0);
	-webkit-transform: translate3d(0, -54px, 0);
	left: 0;
	right: 0;
	height: 54px;
	background: #fff;
	z-index: 11;
	overflow: hidden;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.header #open-search:checked + .search {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

.header .search input[type="text"] {
	width: 100%;
	display: block;
	background: none;
	border: 0;
	font-size: 16px;
	letter-spacing: 0.05em;
	color: #000;
	padding: 18px 0;
	height: 54px;
	font-weight: bold;
	text-transform: uppercase;
}
 .header .search input::-webkit-input-placeholder {
 opacity:0.2;
 font-weight:normal;
 text-transform:none;
}
.header .search input::-moz-placeholder {
 opacity:0.2;
 font-weight:normal;
 text-transform:none;
}

.content {
	z-index: 9;
	min-height: 100%;
	position: relative;
	padding: 54px 0 0 0;
}

.with-tabs .header {
	height: 99px;
}

.with-tabs .content {
	padding-top: 99px;
}

.content.tabs-content {
	overflow: hidden;
	position: relative;
	box-sizing: content-box;
}

.content.tabs-content * {
	box-sizing: border-box;
}

.with-tabs .content .swipe-wrap {
	width: 99999px;
	overflow: hidden;
	position: relative;
}

.content .swipe-wrap .container {
	width: 100vw;
	float: left;
}

.form {
	margin: 29px 0 0 0;
}

.hr + .form,
.row + .form {
	margin-top: 32px;
}

.form:first-child {
	margin-top: 12px;
}

.form .hr {
	margin-top: 49px;
	margin-bottom: 38px;
}

.input,
.phone-hold {
	margin: 0 0 35px 0;
}

.input {
	position: relative;
	line-height: 0;
	padding: 0;
}

.input.center .label,
.input.center input {
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

.input input,
.input textarea,
.input .label,
.input .err-text,
.input .jcf-select-text {
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #648697;
	letter-spacing: 0.04em;
	display: block;
	outline: none;
	width: 100%;
	background: none;
	border: 0;
	-webkit-appearance: none;
	text-align: left;
	padding: 9px 4px;
	margin: 0;
	position: relative;
	z-index: 5;
	height: 35px;
}

.input input,
.input textarea .input textarea {
	resize: none;
}

.input .jcf-select-text,
.jcf-select select {
/*font-weight: normal;
	color: #435660;
	letter-spacing: 0.04em;*/
}

.jcf-select {
	display: block;
	position: relative;
}

option[default] {
	display: none;
}

.jcf-select select {
	z-index: 6;
	cursor: pointer;
}

.input .jcf-select-text {
	padding-right: 20px;
}

.input .jcf-select-text:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 12px;
	border-style: solid;
	border-color: #435660;
	border-left-color: transparent!important;
	border-right-color: transparent!important;
	border-width: 4px 3px 0 3px;
	margin: -2px 0;
}

.input .line {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #7a8faa;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.input .line.focus,
.input .line.ok,
.input .line.error {
	height: 2px;
	width: 0;
}

.input.focus .line.focus,
.input .jcf-focus ~ .line.focus,
.input.error .line.error,
.input.ok .line.ok {
	z-index: 3;
	width: 100%;
}

.input.focus .line.focus,
.input .jcf-focus ~ .line.focus {
	z-index: 4;
}

.input .line.focus {
	/*background: #ff7200;*/
	background: #27d481;
}

.input .line.ok {
	background: #27d481;
}

.input .line.error {
	background: #ed1c24;
}

.input .label,
.input .err-text {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	white-space: nowrap;
	position: absolute;
	left: 0;
	color: #c5cad2;
	z-index: 4;
	font-size: 12px;
	font-family: "Myriad Pro", "Trebuchet MS", Verdana, sans-serif;
	font-weight: 600;
	bottom: 100%;
	/*margin-bottom: -17px;*/
	margin-bottom: -12px;
}

.input .err-text {
	letter-spacing: normal;
	bottom: auto;
	top: 100%;
	margin-bottom: 0;
	margin-top: -4px;
	opacity: 0;
	z-index: -1;
	white-space: normal;
}

.input.error {
	margin-bottom: 45px;
}

.input.error .err-text {
	z-index: auto;
	opacity: 1;
}

.input.error .label,
.input.error .err-text {
	color: #ed1c24;
}

.input.placeholder .label {
	font-size: 14px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	bottom: 0;
	margin-bottom: 0;
}

.btn {
	cursor: pointer;
	padding: 3px 0 0 0;
	margin: 48px 0 0 0;
	opacity: 1;
	display: block;
	width: 100%;
	text-decoration: none;
	outline: none;
	-webkit-appearance: none;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font: 600 18px/45px "Myriad Pro Cond", "Myriad Pro", "Trebuchet MS", Verdana, sans-serif;
	height: 48px;
	letter-spacing: 0.3em;
	border: 0;
	background: #27d481;
	box-shadow: 0 12px 33px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 12px 33px rgba(0, 0, 0, 0.12);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	position: relative;
}

.btn.spacing {
	letter-spacing: 0.16em;
}

.btn.small {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
	font: bold 11px/25px Arial, Helvetica, sans-serif;
	height: 26px;
	letter-spacing: 0.1em;
	padding: 1px 10px 0 10px;
	width: auto;
	min-width: 71px;
}

.btn.bg-blue {
	background: #2190e6;
}

.btn + .btn {
	margin-top: 15px!important;
}

.btn:hover {
	opacity: 0.8;
	text-decoration: none;
}

.btn:disabled {
	opacity: 0.3;
	cursor: default;
}

input.btn {
	line-height: none!important;
}

.notice {
	line-height: 24px;
	padding-top: 140px;
	padding-bottom: 93px;
	text-align: center;
	color: #6c8399;
}

.notice .container {
	padding: 0 31px;
}

.notice .btn {
	margin: 0;
}

.notice .t {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
}

.notice .b {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 31px;
}

.notice img {
	display: block;
	height: 82px;
	width: auto;
	margin: -20px auto 31px auto;
}

.notice .big {
	font-size: 16px;
	color: #435660;
	margin: 0 0 16px 0;
}

.onoff {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -2px;
}

.onoff label {
	display: block;
	height: 32px;
	line-height: 32px;
	margin: -7px -12px;
	padding: 0 12px;
	font-size: 0;
	cursor: default;
}

.onoff .line {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 42px;
	height: 6px;
	vertical-align: middle;
	background: #e7e9ee;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.onoff .line > span {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 50%;
	left: 18px;
	margin: -9px -18px;
}

.onoff .line > span:before {
	content: '';
	display: block;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	width: 100%;
	height: 100%;
	background: #aabfc9;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.onoff input:checked + .line > span {
	left: 100%;
}

.onoff input:checked + .line > span:before {
	background-color: #27d481;
}

.rows-ind {
	margin: 24px 0 21px 0;
}

.row {
	font-size: 13px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 -23px;
	padding: 0 23px;
	border-top: 1px solid rgba(131, 132, 133, 0.1);
	border-bottom: 1px solid rgba(131, 132, 133, 0.1);
	clear: both;
	position: relative;
}

.cover-link {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
}

.novind .row:first-child {
	border-top-width: 0;
}

.row + .row {
	border-top-width: 0;
}

.row:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.row .r,
.row .nofloat {
	padding: 21px 0 19px 0;
}

.row .r {
	float: right;
	white-space: nowrap;
	margin: 0 0 0 20px;
}

.row .btn {
	margin: -5px 0;
}

.row .ind {
	margin: 15px 0 0 0;
}

.crown {
	background: url(../img/crown.png) no-repeat;
	background-size: auto 100%;
	width: 9px;
	height: 7px;
	position: absolute;
	margin: -7px 0 0 0;
}

.tabs {
	border-top: 1px solid rgba(131, 132, 133, 0.1);
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.tabs .tab {
	float: left;
	width: 33.33%;
	position: relative;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 13px;
	line-height: 44px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
	height: 44px;
}

.tabs .tab:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: #27d481;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.swipe-line {
	width: 0%;
	height: 2px;
	background: #27d481;
	position: absolute;
	bottom: 0;
	left: 0;
}

.tabs .tab.active {
	color: #27d481;
}

/*.tabs .tab.active:after {
	height: 2px;
}*/

.phone-hold:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.phone-hold {
	padding: 0 0 0 71px;
}

.phone-hold .r {
	float: left;
	width: 100%;
}

.phone-hold .l {
	float: left;
	margin: 0 0 0 -71px;
	width: 50px;
}

.phone-hold .input {
	margin-bottom: 0;
}

.phone-hold .input.error {
	margin-bottom: 10px;
}

.login {
	padding-top: 30px;
	padding-bottom: 90px;
	text-align: center;
}

.login .container {
	padding-top: 0;
	padding-bottom: 0;
}

.login .form {
	margin: 0;
}

.login .top {
	font-size: 16px;
	line-height: 24px;
	color: #435660;
	margin: 0 0 44px 0;
	min-height: 99px;
}

.login .top img {
	height: 25px;
	width: auto;
	display: block;
	margin: 0 auto 26px auto;
}

.login .b {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 0 23px 0;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

.login .input {
	margin-bottom: 20px;
}

.login .btn {
	margin-top: 37px;
}

.login .input input {
	font-weight: normal;
	color: #435660;
}

.ctext {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #435660;
	position: absolute;
	margin: -18px 0 0 0;
	left: 0;
	right: 0;
	top: 50%;
}

.ctext.for-cart {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.11em;
}

.ctext img {
	display: block;
	height: 55px;
	width: auto;
	margin: 0 auto 22px auto;
}

.ctext.with-img {
	margin-top: -76px;
}

.with-tabs .ctext {
	margin-top: 5px;
}

.with-tabs .ctext.with-img {
	margin-top: -53px;
}

.order .label1 {
	font-weight: bold;
	margin-top: 20px;
}

.order .label1:first-child {
	margin-top: 0;
}

.order .btn {
	margin-top: 28px;
}

.cart .item {
	list-style: none;
	margin: 27px 0 23px 0;
	padding: 0;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

.cart .item li:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.cart .item li {
	margin: 24px 0 0 0;
	padding: 0;
}

.cart .item li:first-child {
	margin-top: 0!important;
}

.cart .item .small {
	font-size: 13px;
}

.cart .item .r {
	float: right;
	margin: 0 0 0 20px;
}

.jcf-select-inline-style .jcf-select-text {
	color: #2f6cbd;
	cursor: pointer;
	white-space: nowrap;
}

.jcf-select-inline-style .jcf-select-text:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	border-color: inherit;
	border-left-color: transparent!important;
	border-right-color: transparent!important;
	border-style: solid;
	border-width: 4px 3px 0 3px;
	margin: 0 7px 0 0;
}

.checks {
	font-weight: normal;
	font-size: 15px;
	line-height: 21px;
	color: #202e3e;
	list-style: none;
	margin: 19px 0 28px 0;
	padding: 0;
}

.checks li {
	position: relative;
	margin: 32px 0 0 0;
	padding: 0 0 0 29px;
}

.checks li:first-child {
	margin-top: 0!important;
}

.checks .radio,
.checks .checkbox {
	position: absolute;
	top: 2px;
	left: 0;
	margin: 0;
}

.checks label {
	cursor: pointer;
}

.payments {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: #537a9e;
	margin-top: 27px;
}

.payments li {
	margin-top: 38px;
	padding-left: 33px;
}

.payments img {
	height: 30px;
	width: auto;
	vertical-align: top;
	margin: -5px 0;
}

.total {
	list-style: none;
	margin: 20px 0 24px 0;
	padding: 0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
}

.total li:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.total li {
	margin: 24px 0 0 0;
	padding: 0;
}

.total li:first-child {
	margin-top: 0!important;
}

.total .r {
	float: right;
}

.whois-set .label1 {
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	margin: -4px 0 31px 0;
}

.whois-set .form {
	margin-bottom: 39px;
}

.whois-set .form:first-child {
	margin-top: 0;
}

.whois-set .btn {
	margin-top: 33px;
}

.whois-set .hold + .hold .row {
	border-top-width: 0;
}

.whois-set .hold.open + .hold .row {
	border-top-width: 1px;
}

.profile {
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
}

.profile .container {
	padding-top: 21px;
}

.profile .label1 {
	text-transform: uppercase;
	font-size: 13px;
	margin: -2px 0 18px 0;
}

.profile .btn.small {
	float: right;
	margin: -1px 0 -1px 20px;
}

.profile ul {
	list-style: none;
	margin: 0 0 17px 0;
	padding: 0;
}

.profile li {
	margin: 18px 0 0 0;
	padding: 0;
}

.profile li:first-child {
	margin-top: 0;
}

.profile .btn {
	margin-top: 26px;
}

.modal .fader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	z-index: -1;
}

.modal .bg {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 260px;
	background: #fff;
	font-size: 16px;
	line-height: 24px;
	padding: 24px 30px;
	margin: 0 -130px;
	opacity: 0;
	z-index: -1;
}

input:checked + .modal .fader,
.modal.open .fader {
	opacity: 0.69;
	z-index: 199;
}

input:checked + .modal .bg,
.modal.open .bg {
	opacity: 1;
	z-index: 200;
	box-shadow: 0 3px 21px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 3px 21px rgba(0, 0, 0, 0.15);
}

.modal .transfer-key {
	margin-top: -126px;
}

.modal .close {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	text-align: right;
	color: #2f6cbd;
}

.modal .close > * {
	cursor: pointer;
}

.transfer-key .big {
	letter-spacing: 0.05em;
	text-align: center;
	font-size: 21px;
	line-height: 30px;
	font-weight: normal;
	white-space: nowrap;
	color: #648697;
	margin: 35px 0 0 0;
}

.transfer-key .btn {
	display: block;
	width: 100%;
	height: 36px;
	line-height: 35px;
	margin: 15px 0 42px 0;
}

.modal .task-progress {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: auto;
	margin: 30px;
}

.task-progress .el {
	margin: 18px -30px 22px -30px;
	padding: 16px 30px 19px 30px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-weight: bold;
	font-size: 14px;
	line-height: 28px;
	color: #435660;
}

.task-progress .el + .el {
	margin-top: -22px;
	border-top-width: 0;
}

.task-progress .name {
	line-height: 21px;
	margin: 0 0 5px 0;
}

.task-progress .el ul {
	list-style: none;
	margin: 0 0 -5px 0;
	padding: 0;
}

.task-progress .el li:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.task-progress .el li {
	margin: 0;
	padding: 0;
}

.task-progress .el li + li {
	margin-top: 2px;
}

.task-progress .el .spinner {
	float: right;
	margin-top: 11px;
}

.task-progress .el.bg-green {
	background-color: #e9fbf2;
	color: #649783;
}
