@charset "utf-8";

.accounts-hold,
.accounts-modal {
	font-size: 13px;
	line-height: 21px;
}

.accounts-hold {
	margin-top: 54px;
}

.accounts-hold p,
.accounts-hold ol,
.accounts-hold ul {
	margin: 0 0 21px 0;
}

.accounts-hold p:last-child {
	margin-bottom: 0;
}

.accounts-action-menu2.for-tab {
	display: none !important;
}

.accounts-hold ol,
.accounts-hold ul {
	padding: 0 0 0 24px;
}

.hide-mob {
	display: none;
}

.show-mob {
	display: block!important;
}

.show-mob-inline {
	display: inline!important;
}

.container,
.header .container {
	padding: 0 20px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	height: 54px;
	padding: 0;
}

.jcf-select-for-lang .jcf-select-text {
	padding: 0 20px;
	height: 54px;
	line-height: 54px;
}

.menu-toggle,
.cart-toggle,
.link-back {
	padding: 0 20px;
	height: 54px;
}

.menu-toggle span {
	top: 21px;
}

.cart-toggle:before {
	top: 17px;
}

.link-back {
	left: 0;
}

.footer {
	padding: 56px 0 1px 0;
}

.footer .container {
	padding: 0 44px;
}

.footer .logo {
	margin: 0 0 20px 0;
	float: none;
}

.footer .logo img {
	height: 39px;
	width: auto;
}

.footer .menu .r,
.footer .lang {
	display: none;
}

.menu2 {
	font-size: 21px;
	line-height: 30px;
	letter-spacing: 2px;
	margin: 0;
}

.menu2 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu2 ul > li,
.menu2 ul > li.color2,
.menu2 ul > li.color3 {
	margin: 55px 0 0 0;
	float: none;
	width: auto!important;
}

.menu2 ul > li > span {
	position: absolute;
	left: -10000px;
}

.menu2 ul > li > ul {
	margin-bottom: 55px;
}

.menu2 ul > li > ul > li {
	margin: 27px 0 0 0;
}

.menu2 li:first-child {
	margin: 0!important;
}

.menu2 a {
	text-decoration: none;
	color: #fff;
}

.fader {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.88);
}

.hide-mob {
	display: none;
}

.menu2.modal .container,
.menu2.modal .acc-close {
	padding-left: 30px;
	padding-right: 30px;
}

.accounts-top-title {
	display: block;
}

.accounts-top-title + .logo2 {
	display: none;
}

.logo2 {
	top: 16px;
	margin-top: 0;
}

.logo2 img {
	height: 22px;
}

.footer .menu2 {
	font-size: 21px;
}

.input2 input,
.input2 textarea,
.input2 .label,
.input2 .err-text,
.jcf-select-input2-style .jcf-select-text,
.form .phone-hold .plus,
.input2.input2-big input,
.input2.input2-big textarea,
.input2.input2-big.placeholder .label {
	font-size: 13px;
}

.input2 .label,
.input2 .err-text {
	font-size: 11px;
}

.input2.placeholder .label {
	font-size: 13px;
}

/*accounts styles*/


.accounts-hold {
	padding-top: 20px;
	padding-bottom: 25px;
}

.accounts-path {
	display: none;
}

.accounts-block {
	padding: 23px;
	margin-bottom: 40px;
}

.accounts-head,
.accounts-foot,
.accounts-head2,
.accounts-tarif-submit .acc-label,
.accounts-cform .accounts-head3 {
	line-height: 18px;
}

.accounts-head,
.accounts-foot,
.accounts-base .accounts-head,
.accounts-cform .accounts-head3 {
	margin: -23px -23px 24px -23px;
	padding: 19px 23px;
}

.accounts-foot {
	margin-top: 24px;
	margin-bottom: -23px;
}

.accounts-head2 {
	margin-top: 11px;
}

.accounts-hello {
	margin-bottom: 34px;
}

.accounts-text {
	line-height: 21px;
	margin: -7px 0;
}

.accounts-text-style1 {
	line-height: 24px;
	margin: -9px 0;
}

.accounts-text-style2,
.accounts-ticket2 .accounts-text {
	line-height: 27px;
	margin: -6px 0;
}

.accounts-text-style3 {
	line-height: 27px;
	margin: -6px 0 -3px 0;
}

.accounts-text-style3 p {
	margin-bottom: 27px;
}

.accounts-text-style3 p:last-child {
	margin-bottom: 0;
}

.accounts-hr {
	margin: 24px -23px;
}

ul.accounts-links,
.accounts-links li {
	margin: 9px 0;
	padding: 0;
}

.accounts-hr.b {
	margin-top: 24px;
}

.accounts-row {
	margin: 24px 0;
}

.accounts-row + .accounts-row,
.accounts-hr + .accounts-row,
.accounts-head + .accounts-row,
.accounts-row + .accounts-hr,
.accounts-text + .accounts-row,
.accounts-row + .accounts-btns,
.accounts-row .half + .half,
.accounts-row .half .half.full + .half.full {
	margin-top: 30px;
}

.accounts-row + .accounts-btns,
.accounts-row + .accounts-btns.with-line,
.accounts-row + .accounts-btns.with-line-mob {
	margin-top: 40px;
}

.accounts-text + .accounts-row {
	margin-top: 24px;
	margin-left: -23px;
	margin-right: -23px;
	padding-top: 35px;
	padding-left: 23px;
	padding-right: 23px;
	border-top: 1px solid #eef5fa;
}

.accounts-row:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-row .half,
.accounts-row .half + .half,
.accounts-settings .half,
.accounts-settings .half + .half,
.accounts-btns .half,
.accounts-btns .half + .half,
.accounts-row .half .half.full,
.accounts-row .half .half.full + .half.full {
	float: none;
	width: auto;
	padding: 0;
}

.accounts-row .half:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-row .half .half {
	float: left;
	width: 50%;
	margin: 0;
	padding: 0 10px 0 0;
}

.accounts-row .half .half + .half {
	margin: 0;
	padding: 0 0 0 10px;
}

.accounts-row.accounts-file {
	text-align: center;
}

.accounts-row.accounts-file .accounts-btn {
	margin-top: 15px;
}

.accounts-row.accounts-file + .accounts-btns {
	margin-top: 40px;
}

.accounts-row.accounts-file .acc-name {
	white-space: nowrap;
	padding: 0 26px;
}

.accounts-row.accounts-file .acc-name span {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
}

.accounts-row.accounts-file .acc-name .accounts-status-img {
	margin: 0 -26px 0 10px;
}

.accounts-row.accounts-file .acc-e {
	margin-top: 30px;
}

.accounts-row.accounts-file .acc-file-err-text {
	margin: 23px 0 34px 0;
	line-height: 21px;
	font-size: 14px;
}

.accounts-done2 {
	text-align: center;
	line-height: 24px;
	margin: 26px 0 19px 0;
}

.accounts-done2 .ind2 {
	margin-bottom: 24px;
}

.accounts-done2:before {
	content: '';
	display: block;
	background: url(../img/check-done.png) no-repeat 50% 50%;
	background-size: 100% 100%;
	width: 81px;
	height: 81px;
	margin: 0 auto 42px auto;
}

.accounts-done {
	margin-top: 50px;
	margin-bottom: 19px;
}

.hide-mob + .accounts-done {
	margin-top: 26px;
}

.accounts-done + .accounts-btns,
.accounts-done2 + .accounts-btns {
	margin-top: 43px;
}

.accounts-done .ind,
.accounts-done .ind2 {
	margin-bottom: 24px;
}

.accounts-done:before {
	margin-bottom: 42px;
}

.accounts-done.accounts-done-style3 {
	margin-bottom: 16px;
}

.hide-mob + .accounts-done.accounts-done-style3 {
	margin-top: 23px;
}

.accounts-done.accounts-done-style3 + .accounts-btns {
	margin-top: 40px;
}

.accounts-done.accounts-done-style3 .ind,
.accounts-done.accounts-done-style3 .ind2 {
	margin-bottom: 30px;
}

.accounts-done.accounts-done-style3:before {
	margin-bottom: 39px;
}

.accounts-done.accounts-done-style3 .tind {
	margin-top: 30px;
}

.accounts-done-left {
	text-align: left;
}

.accounts-checks li,
.accounts-pay-methods li {
	margin-top: 27px;
	line-height: 21px;
}

.accounts-checks .radio {
	top: 2px;
}

.accounts-checks.view2,
.accounts-checks.view2.bind {
	margin: -6px 0 -4px 0;
}

.accounts-checks.view2 li {
	line-height: 18px;
	margin-top: 21px;
}

.accounts-checks.view2 .radio {
	top: 0;
}

.accounts-check-set {
	margin: -2px 0 -20px 0;
}

.accounts-check-set.acc-after-table {
	margin-top: 52px;
}

.accounts-text + .accounts-check-set {
	margin: 26px -23px -20px -23px;
	padding: 22px 23px 0 23px;
	border-top: 1px solid #eef5fa;
}

.accounts-check-set .acc-l,
.accounts-check-set .acc-r {
	float: none;
	width: auto;
}

.accounts-check-set .acc-r {
	margin: 30px -23px 0 -23px;
	padding: 22px 23px 0 23px;
	border-top: 1px solid #eef5fa;
}

.accounts-check-set .input2 {
	max-width: none;
	margin-top: 16px;
	margin-bottom: 40px;
}

.accounts-check-set .accounts-checks {
	margin-top: 24px;
}

.accounts-ref-link {
	margin: -7px 0 0 0;
	padding: 0;
	background: none;
	line-height: 21px;
}

.accounts-ref-link .acc-link {
	margin: 17px -24px 16px -24px;
	padding: 17px 24px;
	background: #faf7f5;
}

.accounts-ref-link .accounts-hr {
	margin-top: 17px;
	margin-bottom: 24px;
}

.accounts-ref-link .accounts-btn {
	float: none;
	margin: 0;
	padding-top: 16px;
	padding-bottom: 14px;
}

ul.accounts-stat {
	margin: -7px -24px -24px -24px;
	padding: 0;
}

.accounts-stat li {
	float: none;
	width: auto;
	text-align: left;
	border-top: 1px solid #eef5fa;
	margin: 0;
	padding: 20px 24px;
	height: auto;
}

.accounts-stat li:first-child {
	border-top-width: 0;
	padding-top: 0;
}

.accounts-stat li:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-stat strong {
	float: right;
	font-weight: bold;
	font-size: inherit;
	line-height: inherit;
	margin: 0 0 0 10px;
}

.accounts-pay-methods {
	text-align: left;
	margin: -3px -24px 0 -24px;
	padding: 0 24px 0 24px;
}

.accounts-pay-methods:after {
	display: none;
}

.accounts-pay-methods li {
	display: block;
	margin-left: 0;
	margin-right: 0;
}

.accounts-check {
	margin: -10px -24px 30px -24px;
	padding: 21px 24px 21px 54px;
	border-radius: 0;
	-webkit-border-radius: 0;
	line-height: 18px;
}

.accounts-check .checkbox {
	top: 23px;
	left: 24px;
}

ul.accounts-checks2 {
	padding: 0;
	margin-top: 20px;
}

.accounts-settings {
	margin-top: 24px;
	margin-bottom: -4px;
}

.accounts-settings .half,
.accounts-settings .half + .half {
	float: none;
	width: auto;
	padding: 0;
}

.accounts-settings .half + .half {
	margin: 20px -24px 0 -24px;
	padding: 22px 24px 0 24px;
	border-top: 1px solid #eef5fa;
}

.accounts-btn {
	letter-spacing: 0.1em;
}

.accounts-btns {
	margin-top: 24px;
}

.accounts-btns.with-line,
.accounts-btns.with-line-mob {
	margin: 24px -24px -24px -24px;
	padding: 24px;
	border-top: 1px solid #eef5fa;
}

.accounts-btns .half + .half {
	margin: 18px 0 0 0;
}

.accounts-tarif-submit {
	letter-spacing: inherit;
	margin: 0 0 29px 0;
}

.accounts-tarif-submit table {
	line-height: 18px;
	margin-bottom: -24px;
}

.accounts-tarif-submit td {
	padding-bottom: 24px;
}

.accounts-tarif-submit table .w0 {
	min-width: 0;
	text-align: right;
}

.accounts-tarif-submit .acc-info {
	line-height: 24px;
	margin: 26px -24px 24px -24px;
	padding: 22px 24px;
	border-radius: 0;
	-webkit-border-radius: 0;
}

.accounts-tarif-submit .accounts-row {
	margin: 21px 0 35px 0;
}

ul.accounts-img-menu {
	margin-bottom: -36px;
	padding: 0;
}

.accounts-img-menu li,
.accounts-img-menu.acc-three li {
	width: 50%;
	padding: 0;
}

ul.accounts-info-list {
	padding: 0;
	line-height: 24px;
	margin: -9px 0;
}

.accounts-info-list .l {
	float: none;
	width: auto;
	padding: 0;
}

.accounts-search-place {
	height: 75px;
}

.accounts-search {
	position: fixed;
	top: 74px;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 0;
	z-index: 100;
}

.accounts-search input[type="text"] {
	font-size: 13px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 51px;
}

.accounts-search input[type="submit"] {
	width: 51px;
}

.accounts-modal,
.accounts-modal-wide.accounts-modal-size2 {
	position: absolute;
	width: auto;
	margin: 20px;
	left: 0;
	right: 0;
	top: 0;
	padding: 24px;
}

.accounts-modal .acc-close {
	display: none;
}

.accounts-action-menu2 .accounts-modal {
	line-height: 18px;
}

.accounts-action-menu2 .accounts-modal .accounts-head {
	padding-top: 19px;
	padding-bottom: 19px;
}

.accounts-action-menu2 li > * {
	padding-top: 17px;
	padding-bottom: 18px;
}

.accounts-action-menu2 .acc-toggle {
	font-size: 13px;
	line-height: 18px;
	text-align: left;
	padding: 0 50px 0 26px;
}

.accounts-action-menu2 .acc-toggle .cell {
	height: 70px;
}

.accounts-action-menu2 .acc-toggle .arr {
	position: absolute;
	top: 50%;
	right: 26px;
	margin: -3px 0;
}

.accounts-table2 {
	margin: 1px -24px -24px -24px;
}

.accounts-table2 .e:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-table2 .e {
	border-top: 1px solid #eef5fa;
	padding: 25px 24px 24px 24px;
	line-height: 24px;
}

.accounts-table2.ind2 {
	margin-top: -9px;
}

.accounts-table2.ind2 .e {
	padding-top: 15px;
	padding-bottom: 16px;
}

.accounts-table2 .e:first-child {
	border-top-width: 0;
	padding-top: 0;
}

.accounts-table2 .accounts-pic-link {
	float: right;
	margin: -5px -5px -5px 5px;
	padding: 5px;
}

.accounts-table2 .accounts-pic-link img {
	margin: 0;
	top: auto;
}

.accounts-table2 ul {
	list-style: none;
	margin: 27px 0 0 0;
	padding: 0;
	font-weight: bold;
	text-align: right;
}

.accounts-table2 li:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-table2 li {
	margin: 27px 0 0 0;
	padding: 0;
}

.accounts-table2 li:first-child {
	margin-top: 0!important;
}

.accounts-table2 ul.norm {
	font-weight: normal;
	text-align: left;
	margin-top: 18px;
}

.accounts-table2 ul.norm li {
	margin-top: 12px;
}

.accounts-table2 li .l {
	font-weight: normal;
	float: left;
	text-align: left;
	margin: 0 4px 0 0;
}

.accounts-table2 .checkbox {
	float: right;
	position: relative;
	z-index: 5;
	margin: 2px 0 0 10px;
}

.accounts-domains {
	margin-top: -3px;
}

.accounts-domains .e {
	line-height: 18px;
	padding-top: 23px;
	padding-bottom: 30px;
}

.accounts-table2 .accounts-btn {
	margin: 26px 0 0 0;
}

.accounts-table2 .big {
	font-size: 16px;
	line-height: 21px;
	position: relative;
	top: -1px;
	margin: 0 0 13px 0;
}

.accounts-domains .e ul {
	text-align: left;
	margin-top: 9px;
}

.accounts-domains .e ul li {
	margin-top: 3px;
}

.accounts-notifications {
	margin-top: -8px;
}

.accounts-notifications .e {
	line-height: 21px;
	padding-top: 16px;
	padding-bottom: 18px;
}

.accounts-notifications ul {
	margin-top: 6px;
}

.accounts-notifications li {
	margin-top: 0;
}

.accounts-notifications .acc-new {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 6px;
	height: 6px;
	background: #46db9a;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.accounts-hosting,
.accounts-hosting2,
.accounts-invoices {
	margin-top: -1px;
}

.accounts-hosting .e,
.accounts-hosting2 .e,
.accounts-invoices .e {
	line-height: 21px;
	padding-bottom: 30px;
	padding-top: 25px;
}

.accounts-hosting .acc-img {
	float: left;
	margin: 0 15px 0 0;
}

.accounts-hosting2 ul,
.accounts-invoices ul {
	font-weight: normal;
	text-align: left;
	margin-top: 15px;
}

.accounts-hosting2 ul.b {
	font-weight: bold;
}

.accounts-hosting2 li,
.accounts-invoices li {
	margin-top: 3px;
}

.accounts-invoices .acc-addit {
	line-height: 30px;
	margin-top: 9px;
}

.accounts-invoices .acc-addit + .acc-addit {
	margin-top: 17px;
}

.accounts-table2 .acc-total {
	font-weight: bold;
	background-color: #faf7f5;
	border-color: #f7f1ec;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 24px;
}

.accounts-tickets {
	margin-top: 0;
}

accounts-tickets .e {
	line-height: 24px;
	padding-top: 24px;
	padding-bottom: 30px;
}

.accounts-tickets ul {
	margin-top: 18px;
	text-align: left;
	font-weight: normal;
}

.accounts-tickets li {
	margin-top: 18px;
}

.accounts-tickets ul .l {
	float: none;
	margin: 0;
}

.accounts-tld {
	margin-top: -8px;
}

.accounts-tld .e {
	line-height: 21px;
	padding-bottom: 18px;
	padding-top: 18px;
}

.accounts-tld .e ul {
	font-weight: normal;
	text-align: left;
	margin-top: 3px;
}

.accounts-tld .e li {
	margin-top: 3px;
}

.accounts-cform {
	padding: 198px 0 53px 0;
}

.accounts-cform .acc-monster,
.accounts-cform .acc-monster2 {
	position: absolute;
	top: 0;
	bottom: auto;
	left: 50%;
	height: 198px;
	background-position: 0 100%;
}

.accounts-cform .acc-monster {
	background-image: url(../img/monster-mob.png);
	width: 226px;
	margin: 0 0 0 -137px;
}

.accounts-cform .acc-monster2 {
	background-image: url(../img/monster-done-mob.png);
	width: 329px;
	margin-left: -131px;
}

.accounts-cform .acc-bg-l {
	background-image: url(../img/bg-rocket-l-mob.png);
	width: 183px;
	height: 185px;
}

.accounts-cform .acc-bg-r {
	background-image: url(../img/bg-rocket-r-mob.png);
	width: 182px;
	height: 65px;
}

.accounts-cform .accounts-block {
	width: auto;
	padding: 24px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
}

.accounts-cform .accounts-head3 {
	font-family: inherit;
	font-size: inherit;
	letter-spacing: 0.04em;
	font-weight: bold;
	text-transform: none;
	border-bottom: 1px solid #eef5fa;
}

.accounts-cform .accounts-btns {
	margin: 24px -24px -24px -24px;
	padding: 24px;
	border-top: 1px solid #eef5fa;
}

.accounts-cform .accounts-btn {
	font-size: 18px;
	padding-top: 16px;
	padding-bottom: 14px;
}

.accounts-cform .acc-text-place {
	height: auto;
}

.accounts-cform .accounts-row {
	margin-top: 17px;
}

.accounts-cform.accounts-login {
	padding-top: 30px;
	padding-bottom: 108px;
}

.accounts-cform.accounts-login .accounts-block {
	margin-bottom: 0;
}

.accounts-cform.accounts-login .accounts-head3 {
	margin-bottom: 21px;
}

.accounts-cform.accounts-login .accounts-row {
	margin: 0 0 35px 0;
}

.accounts-cform.accounts-login .accounts-btns {
	margin-top: 40px;
}

.accounts-cform .accounts-out-link {
	margin-top: 43px;
}

.accounts-stat2 {
	margin: 0 -15px 27px 0;
	position: relative;
	padding-bottom: 115px;
	font-weight: bold;
}

.accounts-stat2 .acc-e {
	width: 50%;
}

.accounts-stat2 .acc-e.w2 {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

.accounts-stat2 .acc-link {
	margin: 0 15px 15px 0;
	height: 100px;
}

.accounts-stat2 a:hover .accounts-block {
	margin: 0;
}

.accounts-stat2 .acc-e strong,
.accounts-stat2 .acc-e.w2 strong {
	font-size: 33px;
	line-height: 33px;
	padding-top: 20px;
	margin-bottom: 7px;
}

.accounts-stat2 .acc-e.w2 strong {
	float: none;
	width: auto;
	margin-right: 0;
}

.accounts-stat2 .acc-e .cell {
	display: inline;
	text-align: inherit;
	height: auto;
}

.accounts-index,
.accounts-base .half,
.accounts-base .half + .half {
	border-radius: 8px;
	-webkit-border-radius: 8px;
	background: #fff;
	box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
	padding: 24px;
	margin: 0 0 42px 0;
}

.accounts-index .accounts-block {
	margin: 0 -24px;
	padding: 21px 24px;
	background: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-top: 1px solid #eef5fa;
	line-height: 24px;
}

.accounts-index .accounts-head {
	margin-bottom: 0;
}

.accounts-index .accounts-head + .accounts-block {
	border-top-width: 0;
}

.accounts-index .accounts-foot {
	margin-top: 0;
}

.accounts-index .accounts-block .acc-new {
	float: right;
	margin: 7px 0 8px 24px;
	width: 9px;
	height: 9px;
	background: #46db9a;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.accounts-base-hold {
	background: none;
	padding: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.accounts-base {
	margin-bottom: 41px;
}

.accounts-base .half,
.accounts-base .half + .half {
	float: none;
	width: auto;
	margin: 0 0 30px 0;
}

.accounts-base .accounts-head {
	border-bottom-width: 1px;
}

.accounts-base .acc-nav {
	margin: -24px;
}

.accounts-base .acc-nav li,
.accounts-base .acc-qu {
	margin: 0;
	border-top: 1px solid #eef5fa;
}

.accounts-base .acc-nav li:first-child,
.accounts-base .accounts-head + .acc-qu {
	border-top-width: 0;
}

.accounts-base .acc-nav li > *,
.accounts-base .acc-qu {
	display: block;
	padding: 17px 24px 18px 24px;
	line-height: 18px;
}

.accounts-base .acc-qu,
.accounts-base .acc-qu + .acc-qu {
	line-height: 21px;
	margin: -24px;
	padding-top: 22px;
	padding-bottom: 24px;
}

.accounts-base .acc-qu + .acc-qu {
	margin-top: 24px;
}

.accounts-base .acc-qu .acc-ind {
	line-height: 24px;
	margin: 4px 0 15px 0;
}

.accounts-questions {
	margin: -24px;
}

.accounts-questions .acc-e {
	line-height: 24px;
	padding-left: 24px;
	padding-right: 24px;
}

ul.accounts-actions {
	margin: 27px -24px 24px -24px;
	padding: 0;
	border-top-width: 0;
	border-bottom-width: 0;
}

.accounts-actions li {
	float: none;
	line-height: 24px;
	margin: 0;
	border-bottom: 1px solid #eef5fa;
	padding: 21px 0 22px 24px;
}

.accounts-actions img {
	height: 20px;
	width: auto;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -1px;
	margin: 0 10px 0 0;
}

.accounts-survey .accounts-head {
	margin: 0 0 20px 0;
}

.accounts-survey .accounts-checks {
	margin: 0 -37px 0 0;
}

.accounts-survey .accounts-checks li {
	margin: 0 37px 0 0;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
}

.accounts-survey-done {
	margin: 24px -24px -24px -24px;
	line-height: 24px;
	padding: 19px 24px 20px 24px;
	border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	border-top: 1px solid #eef5fa;
}

.accounts-server-status {
	line-height: 24px;
	margin: -24px -24px 0 -24px;
	padding: 24px;
	border-radius: 0;
	-webkit-border-radius: 0;
}

ul.accounts-stat3 {
	font-size: 14px;
	line-height: 24px;
	margin: 59px -24px 48px -24px;
	padding: 0 24px 3px 24px;
}

.accounts-stat3 li {
	float: none;
	width: auto;
	margin: 0 0 52px 0;
}

.accounts-stat3 strong {
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 17px 0;
	display: block;
}

.accounts-stat3 .acc-small {
	line-height: 21px;
	font-size: 13px;
	margin: 10px 0 0 0;
}

.accounts-offer .acc-img {
	max-width: 424px;
	margin-top: 0;
	margin-bottom: 24px;
}

.accounts-offer .acc-img img {
	height: 130px;
}

.accounts-offer .acc-img .acc-disc {
	width: 48px;
	height: 48px;
	margin: -10px;
	font-size: 15px;
	line-height: 48px;
}

.accounts-ticket ul.accounts-checks {
	margin: 33px 0 0 0;
}

.accounts-ticket .accounts-checks li {
	display: block;
	min-width: none;
	margin-top: 30px;
}

.accounts-ticket2 {
	font-size: inherit;
}

.accounts-ticket2 .accounts-head {
	border-bottom-width: 1px;
	padding-bottom: 19px;
	margin-bottom: 17px;
	font-size: inherit;
}

.accounts-ticket2 .accounts-btns {
	margin-top: 24px;
}

.accounts-text-border {
	margin: 41px 0 39px 0;
	padding: 12px 0 14px 0;
}

.accounts-date {
	float: none;
	margin: 0;
	white-space: normal;
}

ul.accounts-ticket-info {
	font-size: 14px;
	line-height: 21px;
	padding: 0;
}

.accounts-ticket-info li {
	margin: 15px 0 0 0;
	padding: 3px 0;
}

.accounts-ticket-info li:first-child {
	margin-top: 0!important;
}

.accounts-ticket-info .l {
	display: inline;
	font-weight: normal;
}

.accounts-check-all {
	font-size: 14px;
	margin: -20px -20px 20px -20px;
	padding-left: 47px;
	padding-right: 20px;
}

.accounts-check-all .checkbox {
	top: 20px;
	left: 20px;
}

ul.accounts-tld-list {
	margin: 0 0 -21px 0;
	padding: 0;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 24px;
	-moz-column-gap: 24px;
	column-gap: 24px;
}

.accounts-tld-list li {
	margin-bottom: 21px;
}

/*new 01.11.16 start*/
.acounts-text-side-ind1 {
	padding-left: 0;
	padding-right: 0;
}

.accounts-security-img {
	margin: 38px -20px 42px -20px;
}

.accounts-security-img .p {
	display: block;
	margin: 19px auto 20px auto;
}

.accounts-security-img .p:before,
.accounts-security-img .p:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #27ca83;
}

.accounts-security-img .p:before {
	margin: 0 9px;
}

.accounts-security-img .p:after {
	margin: 9px 0;
}

.accounts-modal-wide .accounts-btns {
	margin-left: -24px;
	margin-right: -24px;
	margin-bottom: -24px;
	margin-top: 24px;
	padding: 24px;
}

.accounts-security-steps {
	letter-spacing: inherit;
	margin-top: 30px;
}

.accounts-security-steps .accounts-head {
	margin-bottom: 15px;
}

.accounts-security-steps .acc-e {
	padding: 0;
}

.accounts-security-steps .accounts-btns {
	margin-top: 40px;
}

.accounts-security-steps .acc-e + .acc-e {
	margin-top: 18px;
}

.accounts-security-steps .acc-e img {
	float: none;
	margin: 5px auto 0 auto;
}

.accounts-security-steps .acc-num {
	position: relative;
	display: block;
	margin: 0 auto 24px auto;
	top: auto;
	left: auto;
}

.datepicker-fader {
}

.ui-datepicker {
	position: fixed!important;
	width: 265px!important;
	padding-left: 15px;
	padding-right: 15px;
	top: 50%!important;
	left: 50%!important;
	margin: -140px -147.5px!important;
}

.ui-datepicker th,
.ui-datepicker td {
	padding-left: 0;
	padding-right: 0;
}

/*new 24.11.16*/
.accounts-tabs-mob {
	margin: -11px 0 40px 0;
}
