@charset "utf-8";

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/mp-regular-webfont.eot');
	src: url('../fonts/mp-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mp-regular-webfont.woff') format('woff'), url('../fonts/mp-regular-webfont.svg#MyriadProRegular') format('svg'), url('../fonts/mp-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Semibold.eot');
	src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro-Semibold.svg#MyriadProRegular') format('svg'), url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/myriadpro-bold-webfont.eot');
	src: url('../fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-bold-webfont.woff') format('woff'), url('../fonts/myriadpro-bold-webfont.svg#MyriadProRegular') format('svg'), url('../fonts/myriadpro-bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro Cond';
	src: url('../fonts/myriadpro-cond-webfont.eot');
	src: url('../fonts/myriadpro-cond-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-cond-webfont.woff') format('woff'), url('../fonts/myriadpro-cond-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro Cond';
	src: url('../fonts/MyriadPro-SemiboldCond.eot');
	src: url('../fonts/MyriadPro-SemiboldCond.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-SemiboldCond.woff') format('woff'), url('../fonts/MyriadPro-SemiboldCond.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro Cond';
	src: url('../fonts/MyriadPro-SemiboldCondIt.eot');
	src: url('../fonts/MyriadPro-SemiboldCondIt.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-SemiboldCondIt.woff') format('woff'), url('../fonts/MyriadPro-SemiboldCondIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #f9fbfd;
	font: normal 14px/24px Arial, Helvetica, sans-serif;
	letter-spacing: 0.02em;
	color: #4e6481;
	-webkit-text-size-adjust: none;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

input,
select,
textarea,
button {
	font: normal 14px Arial, Helvetica, sans-serif;
	color: #4e6481;
	outline: none;
}

input[type="text"],
input[type="date"],
input[type="password"],
textarea,
select {
	border: 1px solid #b9230a;
	background: #fff;
	margin: 0;
	padding: 4px 5px;
}

textarea {
	resize: none;
}

.input {
	zoom: 1;
	position: relative;
	padding: 0 6px;
}

.input input,
.input textarea {
	display: block;
	vertical-align: top;
	position: relative;
	left: -6px;
	width: 100%;
}

header,
nav,
section,
article,
aside,
footer,
menu,
time,
figure,
figcaption {
	display: block;
}

img {
	border: 0;
	vertical-align: top;
}

a,
.accounts-link {
	color: #006dd6;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

a:hover,
a.grey:hover,
.accounts-link:hover {
	color: #d70f0f;
}

.accounts-link {
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.accounts-link input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	cursor: pointer;
}

strong {
	font-weight: bold;
}

.table {
	border-collapse: collapse;
}

.table .sep {
	width: 1000px;
}

p,
ol,
ul {
	margin: 0 0 18px 0;
}

p:last-child {
	margin-bottom: 0;
}

ol,
ul {
	padding: 0 0 0 27px;
}

h1,
.h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Myriad Pro Cond", "PT Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

.uppercase {
	text-transform: uppercase;
}

.nowrap {
	white-space: nowrap;
}

.longword {
	display: block;
	word-break: break-all;
}

.center {
	text-align: center;
}

.nofloat {
	height: 100%;
	overflow: hidden;
}

.cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.inline {
	display: inline-block;
	text-align: left;
}

.hr {
	height: 1px;
	overflow: hidden;
	margin: 15px 0;
	background: #e6e6e6;
}

.clearfix {
	zoom: 1
}

.clearfix:after,
.menu:after,
.menu2:after,
.container:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.wrapper {
	min-height: 100%;
	min-width: 1000px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	text-align: left;
	z-index: 100;
}

.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.header {
	position: relative;
	height: auto;
	padding-top: 45px;
	padding-bottom: 38px;
	background: #fff;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.09);
	color: #2476e9;
}

.header .lang {
	margin-top: -12px;
}

.menu,
.lang,
.menu2 {
	font: normal 21px/24px 'Myriad Pro Cond', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.header .menu,
.header .lang {
	font-weight: 600;
	font-size: 18px;
}

.menu {
	zoom: 1;
	position: relative;
	color: #2476e9;
	z-index: 100;
}

.menu a,
.menu2 a {
	text-decoration: none;
	color: #2476e9;
}

.menu img {
	height: 24px;
	width: auto;
	vertical-align: top;
	margin: -3px 0 0 0;
}

.menu a:hover,
.menu a:hover > span > span > span,
.lang a:hover,
.lang a:hover > span > span > span > span,
.menu > ul > li:hover span > span > span > span {
	color: #d70f0f!important;
}

.menu2 a:hover,
.menu2 a:hover > span > span > span {
	color: #77daff!important;
}

.menu .l {
	float: left;
}

.menu .r {
	float: right;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu > ul > li {
	position: relative;
	float: left;
	margin: 0 0 0 50px;
}

.menu > ul > li.for-logo {
	width: 165px;
}

.menu > ul > li.for-logo > span {
	cursor: inherit;
}

.menu > ul > li > a,
.menu > ul > li > span {
	display: inline-block;
	position: relative;
	vertical-align: top;
	cursor: pointer;
}

.menu a,
.menu span {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.menu > ul > li:first-child {
	margin-left: 0!important;
}

.menu > ul > li > .grad1 {
	color: #ff8300;
}

.menu > ul > li > .grad2 {
	color: #ff8600;
}

.menu > ul > li > .grad3 {
	color: #ff9d00;
}

.menu > ul > li > .grad4 {
	color: #ffbc00;
}

.menu > ul > li > .grad5 {
	color: #5eb961;
}

.menu > ul > li > .grad6 {
	color: #4fbe8d;
}

.menu .sub,
.lang .sub,
.accounts-menu .sub {
	position: absolute;
	top: 100%;
	left: -30px;
	white-space: nowrap;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 0;
	z-index: -1;
	height: 0;
	overflow: hidden;
}

.menu .sub a:hover,
.lang .sub a:hover,
.accounts-menu .sub a:hover,
.sub .active {
	color: #d70f0f!important;
	background: #f4f7fa;
}

.menu li:hover > .sub,
.lang .hold:hover .sub,
.accounts-menu li:hover > .sub {
	height: auto;
	overflow: visible;
	opacity: 1;
	z-index: 100;
	padding: 25px 0 0 0;
}

.menu li:hover > .sub ul,
.lang .hold:hover .sub ul,
.accounts-menu li:hover > .sub ul {
	box-shadow: 0 0 42px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.12);
}

.menu .sub ul,
.lang .sub ul,
.accounts-menu .sub ul {
	list-style: none;
	font: normal 14px/21px Arial, Helvetica, sans-serif;
	letter-spacing: 0.03em;
	text-transform: none;
	background: #fff;
	padding: 13px 0;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	position: relative;
	float: left;
}

.menu .sub ul,
.accounts-menu .sub ul {
	width: 250px;
	white-space: normal;
}

.menu .sub li,
.lang .sub li,
.accounts-menu .sub li {
	margin: 1px 0 0 0;
	padding: 0;
}

.menu .sub li:first-child,
.lang .sub li:first-child,
.accounts-menu .sub li:first-child {
	margin-top: 0;
}

.menu .sub li > *,
.lang .sub li > *,
.accounts-menu .sub li > * {
	display: block;
	padding: 13px 30px;
}

.lang .sub a {
	color: #006dd6;
}

.logo2 {
	position: relative;
	text-align: center;
	display: none;
}

.logo2 img {
	height: 24px;
	width: auto;
}

.accounts-top-title {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	line-height: 54px;
	white-space: nowrap;
	font-weight: bold;
	font-size: 14px;
	color: #536884;
	display: none;
	padding: 0 50px;
}

.lang {
	text-align: center;
	position: absolute;
	top: 56px;
	right: 0;
	left: 50%;
	margin: 0 0 0 480px;
	z-index: 100;
}

@media only screen and (min-width: 1000px) and (max-width: 1150px) {

.header .menu .r {
	min-width: 134px;
}

.lang {
	margin-left: 430px;
}
}

.footer .lang {
	top: 100px;
}

.footer .lang .sub ul {
	background: rgba(27, 20, 13, 0.69)
}

.footer .lang .sub ul:before {
	background-image: url(../img/pop-arr2.png);
}

.lang .hold {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.lang img {
	vertical-align: middle;
	position: relative;
	top: -2px;
}

.lang .sub img {
	margin-right: 3px;
}

.lang a {
	text-decoration: none;
	color: #fff;
}

.lang li > span {
	color: #d70f0f;
	background-color: #f5f8fb;
}

.lang .sub {
	margin-left: -54px;
	width: 108px;
	left: 50%;
}

.lang .sub ul {
	text-transform: uppercase;
	list-style: none;
	margin: 0;
	width: auto;
	float: none;
	text-align: left;
	position: relative;
	zoom: 1;
	white-space: nowrap;
}

.footer {
	zoom: 1;
	position: relative;
	background: #281e15;
	padding: 100px 0 30px 0;
	z-index: 90;
}

.footer.bg-dark {
	background-color: #000;
}

.footer .logo {
	float: left;
	margin: -3px 0;
}

.footer .logo > * {
	display: block;
	width: 117px;
	height: 29px;
	background: url(../img/logo.png) no-repeat;
	background-size: 100% 100%;
}

.footer .menu {
	margin: 0 0 94px 0;
}

.footer .menu .r {
	min-width: 294px;
}

.en .footer .menu .r {
	min-width: 244px;
}

.menu2 {
	letter-spacing: 0.1em;
	zoom: 1;
	position: relative;
	margin: 0 -40px 0 0;
}

.menu2 > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu2 > ul > li {
	float: left;
	width: 320px;
}

.menu2 > ul > li.color1 {
	width: 355px;
}

.menu2 > ul > li.color2 {
	width: 310px;
}

.en .menu2 > ul > li {
	width: 280px;
}

.en .menu2 > ul > li.color1 {
	width: 375px;
}

.en .menu2 > ul > li.color2 {
	width: 340px;
}

.menu2 a,
.menu2 a span {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.menu2 > ul > li > span {
	color: #948f8a;
	color: rgba(255, 255, 255, 0.5);
}

.menu2 > ul > li > ul {
	list-style: none;
	margin: 22px 0 68px 0;
	padding: 0;
}

.menu2 > ul > li > ul > li {
	margin: 22px 0 0 0;
}

.en .menu2 > ul > li > ul,
.en .menu2 > ul > li > ul > li {
	margin-top: 27px;
}

.en .menu2 > ul > li > ul {
	margin-bottom: 78px;
}

.menu2 .color1 > ul > li > a {
	color: #52b97c;
}

.menu2 .color2 > ul > li > a {
	color: #d1a760;
}

.menu2 .color3 > ul > li > a {
	color: #9e607b;
}

.for-tabl,
.for-mob {
	display: none;
}

.menu-toggle,
.cart-toggle,
.link-back {
	display: block;
	position: absolute;
	top: 0;
	left: -10000px;
	padding: 0 40px;
	height: 80px;
	cursor: pointer;
}

.menu-toggle span {
	display: block;
	margin: 0 0 3px 0;
	width: 18px;
	height: 2px;
	background: #006dd6;
	position: relative;
	top: 35px;
}

.menu-toggle span:first-child {
	margin-top: 0;
}

.menu-toggle span:nth-child(2) {
	width: 14px;
}

.cart-toggle:before {
	content: '';
	width: 19px;
	height: 19px;
	display: block;
	position: relative;
	top: 31px;
	background: url(../img/icon-cart.png) no-repeat;
	background-size: 100% 100%;
}

.link-back:before {
	content: '';
	width: 17px;
	height: 17px;
	display: block;
	position: relative;
	top: 18px;
	background: url(../img/icon-back.png) no-repeat;
	background-size: 100% 100%;
}

.lang2 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 83px 0 83px 135px;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 24px;
	font-family: "Myriad Pro Cond", "PT Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: rgba(255, 255, 255, 0.5);
}

.lang2 img {
	vertical-align: middle;
	position: relative;
	top: -1px;
	margin: 0 3px 0 0;
}

.lang2 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.lang2 li {
	margin: 41px 0 0 0;
}

.lang2 li:first-child {
	margin: 0;
}

.lang2 .acc-close {
	right: 0;
}

.lang2 a {
	text-decoration: none;
	color: inherit;
}

.menu2.modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 76px 0;
	font-size: 27px;
	line-height: 33px;
	letter-spacing: 2px;
	margin: 0;
}

.menu2.modal .container {
	width: auto;
	padding: 0 50px;
}

.menu2.modal ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu2.modal ul > li,
.menu2.modal ul > li.color2,
.menu2.modal ul > li.color3 {
	margin: 45px 0 0 0;
	float: none;
	width: auto!important;
}

.menu2.modal ul > li > span {
	position: absolute;
	left: -10000px;
}

.menu2.modal ul > li > ul > li {
	margin: 30px 0 0 0;
}

.menu2.modal li:first-child {
	margin: 0!important;
}

.accounts-rub {
	font-family: Arial, "PT Sans", "Trebuchet MS", Helvetica, sans-serif;
	position: relative;
}

select,
.jcf-select {
	display: block;
	color: #1768cd;
	font: 600 18px "Myriad Pro Cond", "PT Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: 0.1em;
}

.jcf-select {
	position: relative;
}

.jcf-select-text {
	display: block;
	height: 43px;
	line-height: 44px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	background: #f8f5f2;
	cursor: pointer;
	position: relative;
	padding: 0 26px 0 19px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.jcf-select-text:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 19px;
	border: 3px solid #1768cd;
	border-bottom-width: 0;
	border-left-color: transparent!important;
	border-right-color: transparent!important;
	margin: -1.5px 0;
}

.jcf-select select {
	z-index: 6;
	font: inherit;
	cursor: pointer;
}

.jcf-select-inline-style {
	display: inline-block;
	vertical-align: middle;
	top: -1px;
}

.jcf-select-inline-style,
.jcf-select-inline-style select {
	font: inherit;
	color: inherit;
	letter-spacing: inherit;
}

.jcf-select-inline-style .jcf-select-text {
	margin: 0;
	padding: 0 10px 0 0;
	height: auto;
	background: none;
	font: inherit;
	letter-spacing: inherit;
	color: #006dd6;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.jcf-select-inline-style .jcf-select-text:after {
	right: 0;
	border-color: inherit;
}

.jcf-select-inline-style:hover .jcf-select-text {
	color: #d70f0f;
}

.loading {
	line-height: 0;
	font-size: 0;
}

.spinner,
.spinner:before,
.spinner:after {
	position: relative;
	display: inline-block;
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
	text-align: center;
	width: 6px;
	height: 6px;
	background: #ff7200;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	margin: 0 9px;
}

.spinner:before,
.spinner:after {
	margin: 0;
	content: '';
	position: absolute;
	top: 0;
}

.spinner:before {
	left: -9px;
}

.spinner:after {
	right: -9px;
}

.spinner:before {
	-webkit-animation: spinner 500ms ease -250ms infinite alternate;
	animation: spinner 500ms ease -250ms infinite alternate;
}

.spinner {
	-webkit-animation: spinner 500ms ease -125ms infinite alternate;
	animation: spinner 500ms ease -125ms infinite alternate;
}

.spinner:after {
	-webkit-animation: spinner 500ms ease -125ms infinite alternate;
	animation: spinner 500ms ease -125ms infinite alternate;
}
 @-webkit-keyframes spinner {
to {
 background: #ccc;
}
}
 @keyframes spinner {
to {
 background: #ccc;
}
}

.input2 {
	position: relative;
	line-height: 0;
	margin: 0;
	padding: 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.input2.center .label,
.input2.center input,
.input2 input.center {
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}
.input2 input:-webkit-autofill {
box-shadow:inset 0 0 0 50px #fff;
 -webkit-box-shadow:inset 0 0 0 50px #fff;
}

.input2.bold .label,
.input2.bold input {
	font-weight: bold;
}

.input2 input,
.input2 textarea,
.input2 .label,
.input2 .err-text,
.jcf-select-input2-style .jcf-select-text,
.input2.phone-hold .plus {
	font: normal 14px Arial, Helvetica, sans-serif;
	display: block;
	width: 100%;
	background: none;
	border: 0;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	letter-spacing: 0.02em;
	color: #4e6481;
	text-align: left;
	padding: 11px 3px 5px 3px;
	margin: 0;
	height: 35px;
	box-sizing: border-box;
	position: relative;
	z-index: 5;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.jcf-select-input2-style-bold .jcf-select-text {
	font-weight: bold;
}

.input2 textarea {
	line-height: 18px;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.jcf-select-input2-style select {
	font: normal 14px Arial, Helvetica, sans-serif;
	color: #4e6481;
	letter-spacing: 0.02em;
}

.jcf-select-input2-style .jcf-select-text {
	padding-right: 26px;
}

.jcf-select-input2-style .jcf-select-text:after {
	border-width: 6px 5px 0 5px;
	margin: 0;
	right: 16px;
	border-color: #666;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.jcf-select-input2-style:hover .jcf-select-text:after {
	border-color: #ff7505;
}

.input2 .pick-date {
	width: 31px;
	height: 35px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	background: url(../img/pick-date.png) no-repeat 50% 50%;
	background-size: 18px auto;
	z-index: 4;
}

.input2 .line {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #8795a6;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.input2 .line.focus,
.input2 .line.ok,
.input2 .line.error {
	height: 2px;
	width: 0;
}

.input2.focus .line.focus,
.input2.error .line.error,
.input2.ok .line.ok {
	z-index: 3;
	width: 100%;
}

.input2.focus .line.focus {
	z-index: 4;
}

.input2 .line.focus {
	background: #ff7505;
}

.input2 .line.ok {
	background: #54bf9a;
}

.input2 .line.error {
	background: #d70f0f;
}

.input2.focus:after {
	width: 100%;
}

.input2 .label {
	color: #bdcedc;
}

.input2 .label,
.input2 .err-text,
.input2.phone-hold .plus {
	white-space: nowrap;
	position: absolute;
	left: 0;
	z-index: 4;
	font-size: 12px;
	font-weight: 600;
	padding-left: 0;
	padding-right: 0;
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	bottom: 100%;
	margin-bottom: -11px;
}

.input2 .err-text {
	bottom: auto;
	top: 100%;
	margin-bottom: 0;
	margin-top: -7px;
	opacity: 0;
	z-index: -1;
	white-space: normal;
}

.input2.error .err-text {
	z-index: auto;
	opacity: 1;
}

.input2.placeholder .label,
.input2.phone-hold .plus {
	font-size: 14px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	bottom: 0;
	margin-bottom: 0;
	padding-left: 3px;
	padding-right: 3px;
}

.input2.phone-hold .plus {
	width: auto;
	left: auto;
	right: 100%;
}

.input2.accounts-for-domains textarea,
.input2.accounts-for-domains.placeholder .label {
	line-height: 27px;
	height: 97px;
}

.input2.accounts-for-domains textarea {
	font-weight: bold;
}

.input2.input2-big input,
.input2.input2-big textarea,
.input2.input2-big.placeholder .label {
	font-size: 16px;
}

.input2 .label .to-focus {
	display: block;
}

.input2 .label .to-unfocus {
	display: none;
}

.input2.placeholder .label .to-focus {
	display: none;
}

.input2.placeholder .label .to-unfocus {
	display: block;
}

.input2 .jcf-drop-active ~ .label {
	bottom: 100%;
	font-size: 12px;
	margin-bottom: -15px;
}

.input2.ok input,
.input2.ok textarea {
	color: #54bf9a;
}

.input2.focus input,
.input2.focus textarea {
/*color: #000;*/
}

.input2 .err-text,
.input2 .red,
.input2 .red *,
.input2.error .label {
	color: #d70f0f;
}

.outtaHere {
	position: absolute!important;
	left: -10000px!important;
}

.radio,
.checkbox {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	border: 3px solid #c7b299;
	cursor: pointer;
	background: #fff;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.checkbox {
	background-image: url(../img/checkbox.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 7px;
	border-width: 2px;
	border-color: #bdcedc;
	width: 15px;
	height: 15px;
	border-radius: 1px;
	-webkit-border-radius: 1px;
}

.error .checkbox,
.error .radio {
	border-color: #f00;
}

.radio {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

label:hover .radio {
	border-color: #ffac69;
}

input:checked + .radio {
	border-width: 5px;
	border-color: #ff7505;
}

label:hover .checkbox {
	border-color: #ff7505;
}

input:checked + .checkbox {
	border-color: #ff7505;
	background-color: #ff7505;
}

label:hover .checkbox.bg-blue {
	border-color: #66aae9;
}

input:checked + .checkbox.bg-blue {
	border-color: #0071db;
	background-color: #0071db;
}

.datepicker-fader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	background: #000;
	opacity: 0.5;
	z-index: 999;
}

.datepicker-fader.accounts-fader-hide {
	z-index: -1;
	opacity: 0;
	width: 0;
	height: 0;
}

.ui-datepicker {
	box-sizing: content-box;
	font: inherit;
	color: inherit;
	z-index: 1001!important;
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 42px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.12);
	border: 0;
	padding: 25px 25px 15px 25px;
	width: auto;
}

.ui-datepicker .ui-datepicker-header {
	background: none;
	border: 0;
	color: #ff7505;
	text-align: center;
	text-transform: uppercase;
	font: bold 13px/28px Arial, Helvetica, sans-serif;
	height: auto;
	padding: 4px 0 24px 0;
}

.ui-datepicker table {
	font: bold 14px/28px Arial, Helvetica, sans-serif;
	color: #4e6481;
	border-collapse: collapse;
	width: 100%;
}

.ui-datepicker th,
.ui-datepicker td {
	padding: 5px;
	border: 0;
}

.ui-datepicker th {
	display: none;
}

.ui-datepicker td .ui-state-default {
	display: block;
	width: 28px;
	height: 28px;
	padding: 0;
	margin: 0;
	text-align: center;
	color: inherit;
	text-decoration: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	font-weight: bold;
	border: 0;
	background: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.ui-datepicker td .ui-priority-secondary {
	color: #acc0d1;
}

.ui-datepicker td .ui-state-hover {
	background: #f6f0ea;
}

.ui-datepicker td .ui-state-active {
	background: #ff7505;
	color: #fff;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 0;
	border: 0;
	margin: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	background: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
	left: 0;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
	right: 0;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	background: none;
	width: 11px;
	height: 11px;
	margin: -5.5px;
}

.ui-datepicker .ui-datepicker-prev span:before,
.ui-datepicker .ui-datepicker-next span:before,
.ui-datepicker .ui-datepicker-prev span:after,
.ui-datepicker .ui-datepicker-next span:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../img/datepicker-arr.png) no-repeat 0 0;
	background-size: 200% 200%;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
}

.ui-datepicker .ui-datepicker-prev span:after {
	background-position: 0 100%;
}

.ui-datepicker .ui-datepicker-next span:before {
	background-position: 100% 0;
}

.ui-datepicker .ui-datepicker-next span:after {
	background-position: 100% 100%;
}

.ui-datepicker .ui-datepicker-prev span:after,
.ui-datepicker .ui-datepicker-next span:after {
	opacity: 0;
}

.ui-datepicker .ui-datepicker-prev-hover span:before,
.ui-datepicker .ui-datepicker-next-hover span:before {
	opacity: 0;
}

.ui-datepicker .ui-datepicker-prev-hover span:after,
.ui-datepicker .ui-datepicker-next-hover span:after {
	opacity: 1;
}

/*accounts styles*/

.acc-center {
	text-align: center;
}

.accounts-hold {
	padding: 41px 0 21px 0;
}

.accounts-hold .green,
.accounts-modal .green {
	color: #27ca83;
}

.accounts-hold .dblue,
.accounts-modal .dblue {
	color: #006dd6;
}

.accounts-hold .grey,
.accounts-modal .grey {
	color: #bdcedc;
}

.accounts-hold .yellow,
.accounts-modal .yellow {
	color: #ffb400;
}

.accounts-hold .yellow2,
.accounts-modal .yellow2 {
	color: #ffe34a;
}

.accounts-hold .beige,
.accounts-modal .beige {
	color: #cfc1aa;
}

.accounts-hold .red,
.accounts-modal .red {
	color: #d70f0f;
}

.accounts-hold .red2,
.accounts-modal .red2 {
	color: #e65f5f;
}

.accounts-hold .orange,
.accounts-modal .orange {
	color: #ff7200;
}

.accounts-hold .dark,
.accounts-modal .dark {
	color: #262f3d;
}

.accounts-hold .pink,
.accounts-modal .pink {
	color: #ff7a99;
}

.accounts-hold .pink2,
.accounts-modal .pink2 {
	color: #f7a6c6;
}

.accounts-hold .blue,
.accounts-modal .blue {
	color: #30b8ff;
}

.accounts-ind:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-ind {
	padding: 0 0 0 215px;
}

.accounts-mainContent {
	float: left;
	width: 100%;
	position: relative;
}

.accounts-aside {
	float: left;
	width: 156px;
	margin: 0 0 0 -100%;
	position: relative;
	left: -215px;
}

.accounts-menu {
	margin-bottom: 30px;
	color: #006dd6;
}

.accounts-menu > ul {
	list-style: none;
	margin: 31px -9px 0 -9px;
	padding: 0;
}

.accounts-menu > ul > li {
	padding: 0;
	margin: 10px 0 0 0;
	position: relative;
}

.accounts-menu > ul:first-child,
.accounts-menu > ul > li:first-child {
	margin-top: 0;
}

.accounts-menu img {
	height: 16px;
	width: auto;
	position: absolute;
	top: 16px;
	left: 9px;
	margin: -8px 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
}

.accounts-menu > ul > li > *,
.accounts-menu .add {
	display: block;
	position: relative;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 5px 9px 5px 44px;
	line-height: 22px;
}

.accounts-menu > ul > li > a:hover,
.accounts-menu > ul > li:hover > *:first-child,
.accounts-menu > ul > li > .active {
	color: #d70f0f;
	background-color: rgba(74, 120, 177, 0.06);
}

.accounts-menu > ul > li.acc-balance:hover > * {
	color: #006dd6;
	background-color: transparent;
}

.accounts-menu .blue {
	color: #006dd6;
}

.accounts-menu .add {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 32px;
	padding: 0;
}

.accounts-menu .add img {
	left: 50%;
	margin-left: -8px;
	margin-right: -8px;
}

.accounts-menu .add img:first-child,
.accounts-menu a.add:hover img {
	opacity: 0;
}

.accounts-menu a.add:hover img:first-child {
	opacity: 1;
}

.accounts-menu .sub {
	left: 100%;
	top: -72px;
	margin: 0;
	padding: 0;
}

.accounts-menu .sub ul:before {
	content: '';
	position: absolute;
	top: 72px;
	right: 100%;
	border-color: #fff;
	border-style: solid;
	border-width: 11px 10px 11px 0;
	margin: 5px 0 0 0;
	border-top-color: transparent!important;
	border-bottom-color: transparent!important;
}

.accounts-menu .sub.acc-t2 {
	top: -44px;
}

.accounts-menu .sub.acc-t2 ul:before {
	top: 44px;
}

.accounts-block {
	display: block;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	background: #fff;
	box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
	padding: 29px;
	margin: 0 0 40px 0;
	position: relative;
	border: 1px solid #fff;
}

.accounts-block.disabled {
	opacity: 0.3;
}

.accounts-block.disabled:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
}

.accounts-block.accounts-border-green {
	border-color: #27d481;
}

.accounts-block.accounts-border-orange {
	border-color: #ff7505;
}

.accounts-btn {
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: #fff;
	-webkit-appearance: none;
	text-align: center;
	border: 0;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0 12px 33px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 12px 33px rgba(0, 0, 0, 0.12);
	font: 600 18px/21px 'Myriad Pro Cond', Arial, Helvetica, sans-serif;
	padding: 16px 20px 14px 20px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
}

.accounts-btn-small {
	font-size: 16px;
	padding: 10px 20px 7px 20px;
}

.accounts-btn img {
	height: 16px;
	width: auto;
	vertical-align: middle;
	margin: 0 10px 0 0;
	position: relative;
	top: -1px;
}

.accounts-btn input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	cursor: pointer;
}

.accounts-btn.bg-green {
	background-color: #27ca83;
}

.accounts-btn.bg-orange {
	background-color: #ff7200;
}

.accounts-btn.bg-grey {
	background-color: #a6b8d0;
}

.accounts-btn:hover {
	opacity: 0.9;
	color: #fff;
}

.accounts-btn-file {
	color: #006dd6;
	border-radius: 26px;
	-webkit-border-radius: 26px;
	box-shadow: inset 0 0 0 1px #b2d3f3;
	-webkit-box-shadow: inset 0 0 0 1px #b2d3f3;
	overflow: hidden;
}

.accounts-btn-file:hover {
	color: #d70f0f;
}

.accounts-btn-file input[type="file"] {
	position: absolute;
	top: -5px;
	right: -5px;
	font-size: 50px;
	margin: 0;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	opacity: 0;
	width: auto;
	left: auto;
}

.accounts-hr {
	margin: 30px -29px;
	height: 1px;
	background: #eef5fa;
}

.accounts-links {
	list-style: none;
	padding: 0;
}

.accounts-links li {
	margin: 6px 0;
	padding: 0;
}

.accounts-path,
.accounts-head2 {
	line-height: 21px;
	font-weight: bold;
	margin: 0 0 19px 0;
	padding: 5px 0 6px 0;
	letter-spacing: 0.03em;
}

.accounts-head2 {
	margin-top: -13px;
}

.accounts-head2 .acc-r {
	float: right;
	font-weight: normal;
	letter-spacing: 0.04em;
}

.accounts-head2:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-path .sep,
.accounts-head2 .acc-r .sep {
	margin: 0.01em;
	color: #bdcedc;
}

.accounts-head,
.accounts-foot,
.accounts-table th,
.accounts-check-set .t,
.accounts-tarif-submit .acc-label,
.accounts-toggle-link {
	font-weight: bold;
	letter-spacing: 0.04em;
}

.accounts-head,
.accounts-foot {
	line-height: 24px;
	margin: -29px -29px 30px -29px;
	padding: 22px 29px 23px 29px;
	border-bottom: 1px solid #eef5fa;
}

.accounts-foot {
	border-top: 1px solid #eef5fa;
	border-bottom: 0;
	margin-bottom: -29px;
	margin-top: 30px;
}

.accounts-head:after,
.accounts-foot:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-head .checkbox,
.accounts-foot .checkbox {
	float: right;
	margin: 4px 0 0 10px;
}

.accounts-text {
	margin: -7px 0;
}

.accounts-text-style1 {
	line-height: 27px;
	margin: -11px 0 -7px 0;
}

.accounts-text-style3 {
	line-height: 30px;
	margin: -7px 0 -4px 0;
}

.accounts-text-style3 p {
	margin-bottom: 30px;
}

.accounts-text-style3 p:last-child {
	margin-bottom: 0;
}

.accounts-pop-menu .acc-fader {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	background: #000;
	opacity: 0;
}

.accounts-pop-menu .in {
	position: fixed;
	top: 0;
	left: 0;
	text-align: left;
	height: 100%;
	z-index: 1001;
	overflow: hidden;
	background: #fff;
	box-shadow: 1px 3px 42px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: 1px 3px 42px rgba(0, 0, 0, 0.33);
	width: 316px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	transform: translate3d(-316px, 0, 0);
	-webkit-transform: translate3d(-316px, 0, 0);
	opacity: 0;
}

#show-menu:checked + .accounts-pop-menu .in {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	opacity: 1;
}

#show-menu:checked + .accounts-pop-menu .acc-fader {
	opacity: 0.63;
	z-index: 999;
}

.accounts-pop-menu .t {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 189px;
	background: #0b1d47 url(../img/menu-bg.jpg) no-repeat 50% 50%;
	background-size: cover;
	color: #fff;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.1em;
}

.accounts-pop-menu .t .green {
	color: #00ff8a;
}

.accounts-pop-menu .t .acc-close {
	position: absolute;
	top: 0;
	left: 0;
	width: 54px;
	height: 62px;
	background: url(../img/cross-white.png) no-repeat 50% 50%;
	background-size: auto 16px;
	padding: 0;
	cursor: pointer;
}

.accounts-pop-menu .t .out {
	position: absolute;
	top: 0;
	right: 0;
	height: 62px;
	width: 64px;
	background: url(../img/logout-white.png) no-repeat 50% 50%;
	background-size: auto 16px;
}

.accounts-pop-menu .t .b {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0 95px 17px 20px;
}

.accounts-pop-menu .t .accounts-btn {
	font: bold 11px/26px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 0 10px;
	min-width: 51px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 24px;
}

.accounts-pop-menu .scroll {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	overflow-y: auto;
	margin: 189px 0 0 0;
}

.accounts-pop-menu ul,
.accounts-pop-menu li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.accounts-pop-menu li > * {
	display: block;
	position: relative;
	font-weight: bold;
	font-size: 11px;
	line-height: 21px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	overflow: hidden;
	padding: 16px 40px 17px 54px;
}

.accounts-pop-menu li img {
	position: absolute;
	height: 16px;
	width: auto;
	top: 19px;
	left: 20px;
}

.accounts-pop-menu li .r {
	float: right;
	font-size: 13px;
}

.accounts-pop-menu li .red {
	color: #ca2727;
}

.accounts-pop-menu li > .active {
	color: #ff7200;
	background-color: #f5f7f9;
}

.accounts-pop-menu ul + ul {
	margin-top: 9px;
	padding-top: 17px;
	border-top: 1px solid #f2f2f3;
}

.accounts-row {
	margin: 30px 0;
}

.accounts-row + .accounts-row,
.accounts-hr + .accounts-row,
.accounts-head + .accounts-row,
.accounts-row + .accounts-hr,
.accounts-text + .accounts-row,
.accounts-row + .accounts-btns {
	margin-top: 40px;
}

.accounts-row:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-row.accounts-file input[type="file"] {
	font-size: 12px;
}

.accounts-row.accounts-file + .accounts-btns {
	margin-top: 46px;
}

.accounts-row.accounts-file .acc-e {
	margin: 12px 0 0 0;
}

.accounts-row.accounts-file .acc-e:first-child {
	margin-top: 0!important;
}

.accounts-row.accounts-file .acc-file-err-text {
	margin: 12px 0 -6px 0;
	line-height: 21px;
}

.accounts-hold .half,
.accounts-modal .half {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 0 20px 0 0;
}

.accounts-hold .half + .half,
.accounts-modal .half + .half {
	padding: 0 0 0 20px;
}

.accounts-hold .half .half,
.accounts-modal .half .half {
	padding: 0 15px 0 0;
}

.accounts-hold .half .half + .half,
.accounts-modal .half .half + .half {
	padding: 0 0 0 15px;
}

.accounts-table {
	margin: -30px;
	line-height: 21px;
}

.accounts-table table {
	width: 100%;
	border-collapse: collapse;
	margin: 0;
}

.accounts-table th,
.accounts-table td {
	border: 0;
	text-align: left;
	vertical-align: top;
	padding: 22px 15px 21px 15px;
}

.accounts-table th:first-child,
.accounts-table td:first-child {
	padding-left: 30px;
}

.accounts-table th:last-child,
.accounts-table td:last-child {
	padding-right: 30px;
}

.accounts-table th {
	color: #bdcedc;
	white-space: nowrap;
	border-bottom: 1px solid #eef5fa;
	line-height: 15px;
	padding-top: 0;
	padding-bottom: 0;
	height: 67px;
	vertical-align: middle;
}

.accounts-table td {
	border-top: 1px solid #eef5fa;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.accounts-table tr:hover td {
	background-color: #f5faff;
}

.accounts-table.noline {
	padding-bottom: 14px;
}

.accounts-table.noline td {
	padding-top: 9px;
	padding-bottom: 9px;
	border-top-width: 0;
}

.accounts-table.noline tr:nth-child(2) td {
	padding-top: 23px;
}

.accounts-table tr:first-child td {
	border-top-width: 0;
}

.accounts-table table table td {
	border-top-width: 0;
	padding-top: 0;
	padding-bottom: 27px;
}

.accounts-table table table tr:last-child td {
	padding-bottom: 0;
}

.accounts-table table table td:first-child {
	padding-left: 0;
}

.accounts-table table table td:last-child {
	padding-right: 0;
}

.accounts-table .center {
	text-align: center;
}

.accounts-table .right {
	text-align: right;
}

.accounts-table .w0 {
	white-space: nowrap;
	width: 1px;
}

.accounts-table .w1 {
	width: 26%;
}

.accounts-table .w2 {
	width: 17%;
}

.accounts-table .w3 {
	width: 135px;
}

.accounts-table .acc-for-check {
	width: 1px;
	padding-right: 5px;
}

.accounts-table .acc-for-check .checkbox {
	margin: 0;
	top: 0;
}

.accounts-table .acc-img,
.accounts-table2 .acc-img {
	display: block;
	margin: -7px 0;
}

.accounts-table .acc-img img,
.accounts-table2 .acc-img img {
	height: 56px;
	width: 99px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.accounts-table .acc-total {
	font-weight: bold;
	color: #3f4a5a;
}

.accounts-table .acc-total td {
	border-bottom: 1px solid #eef5fa;
}

.accounts-table .acc-total .acc-light {
	color: #7e8ca0;
}

.accounts-table .accounts-btn-small {
	margin: -7px 0 -10px 0;
}

.accounts-sort-link {
	display: block;
	color: inherit;
	margin: 0 -15px 0 -30px;
	padding: 0 15px 0 30px;
}

.accounts-table .center .accounts-sort-link {
	padding-left: 15px;
	margin-left: -15px;
}

.accounts-sort-link:hover {
	color: #006dd6;
	background-color: #f5faff;
}

th:first-child .accounts-sort-link {
	margin-left: -30px;
	padding-left: 30px;
}

th:last-child .accounts-sort-link {
	margin-right: -30px;
	padding-right: 30px;
}

.accounts-sort-link .acc-arr {
	display: inline-block;
	vertical-align: middle;
	display: none;
	height: 11px;
	width: 8px;
	position: relative;
	top: -1px;
	margin: 0 0 0 8px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 0;
}

.accounts-sort-link.acc-up .acc-arr,
.accounts-sort-link.acc-down .acc-arr {
	opacity: 1;
	display: inline-block;
}

.accounts-sort-link.acc-up .acc-arr {
	-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	transform: scale(1, -1);
}

.accounts-sort-link .acc-arr:before,
.accounts-sort-link .acc-arr:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../img/sort-arr.png) no-repeat;
	background-size: 100% auto;
	opacity: 1;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.accounts-sort-link .acc-arr:after {
	background-position: 0 -13px;
	opacity: 0;
}

.accounts-sort-link:hover .acc-arr:before {
	opacity: 0;
}

.accounts-sort-link:hover .acc-arr:after {
	opacity: 1;
}

.accounts-sort-link .cell {
	height: 66px;
}

.accounts-sort-link .inline,
.accounts-sort-link .cell {
	text-align: inherit;
}

.accounts-pic-link {
	white-space: nowrap;
}

.accounts-pic-link img {
	margin: 0 5px 0 0;
	height: 16px;
	width: auto;
	vertical-align: middle;
	position: relative;
	top: -1px;
}

.show-mob,
.show-touch,
.show-mob-inline,
.show-tablet,
.show-tablet-inline {
	display: none;
}

.accounts-done {
	text-align: center;
	margin: 90px 0 53px 0;
	line-height: 24px;
}

.accounts-done .ind2 {
	margin-bottom: 24px;
}

.accounts-done + .accounts-btns {
	margin-top: 83px;
}

.accounts-done:before {
	content: '';
	display: block;
	background: url(../img/check-done.png) no-repeat 50% 50%;
	background-size: 100% 100%;
	width: 81px;
	height: 81px;
	margin: 0 auto 31px auto;
}

.accounts-done.accounts-done-style3 {
	line-height: 30px;
	margin-bottom: 50px;
}

.accounts-done.accounts-done-style3 .ind2 {
	margin-bottom: 30px;
}

.accounts-done.accounts-done-style3 + .accounts-btns {
	margin-top: 80px;
}

.accounts-done.accounts-done-style3:before {
	margin-bottom: 28px;
}

.accounts-checks {
	list-style: none;
	margin: 0;
	padding: 0!important;
}

.accounts-checks li {
	position: relative;
	margin: 18px 0 0 0;
	padding: 0 0 0 30px;
	line-height: 24px;
}

.accounts-checks.view2 {
	margin: -7px 0;
}

.accounts-checks.view2.bind {
	margin-bottom: 38px;
}

.accounts-checks.view2 li {
	margin-top: 9px;
}

.accounts-checks li:first-child {
	margin-top: 0!important;
}

.accounts-checks .radio {
	position: absolute;
	top: 3px;
	left: 0;
	margin: 0;
}

.accounts-checks label {
	cursor: pointer;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.accounts-check-set {
	margin: -9px 0 43px 0;
}

.accounts-check-set.acc-after-table {
	margin-top: 61px;
}

.accounts-text + .accounts-check-set {
	margin-top: 30px;
}

.accounts-check-set:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-check-set .acc-l {
	float: left;
	width: 31.5%;
}

.accounts-check-set .acc-r {
	float: right;
	width: 68.5%;
}

.accounts-check-set .input2 {
	max-width: 131px;
	margin: 20px 0 0 0;
}

.accounts-check-set .accounts-checks {
	margin-top: 24px;
}

.accounts-ref-link:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-ref-link {
	margin: 30px 0 0 0;
	font-weight: bold;
	background: #faf7f5;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	line-height: 24px;
	padding: 24px 25px 24px 35px;
	letter-spacing: 0.04em;
}

.accounts-ref-link .accounts-btn {
	float: right;
	margin: 1px 0;
	min-width: 154px;
	padding-top: 14px;
	padding-bottom: 13px;
}

.accounts-stat:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-stat {
	list-style: none;
	margin: 54px 0 -45px 0;
	padding: 0;
	line-height: 18px;
}

.accounts-stat li {
	float: left;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 33.33%;
	height: 148px;
}

.accounts-stat strong {
	display: block;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 15px 0;
}

.accounts-pay-methods {
	text-align: justify;
	line-height: 0;
	margin: 40px -10px 38px -10px;
}

.accounts-pay-methods:after {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 0;
}

.accounts-pay-methods li {
	display: inline-block;
	white-space: nowrap;
	vertical-align: top;
	margin: 0 10px;
}

.accounts-nav {
	text-align: center;
	margin: 42px 0 40px 0;
}

.accounts-nav .prev,
.accounts-nav .next {
	display: inline-block;
	vertical-align: top;
	width: 51px;
	height: 51px;
	margin: 0 14px;
	position: relative;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.accounts-nav .prev span,
.accounts-nav .next span {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	background: #fff;
	box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.06);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.accounts-nav a.prev:hover span,
.accounts-nav a.next:hover span {
	margin: -3px;
}

.accounts-nav .prev:before,
.accounts-nav .prev:after,
.accounts-nav .next:before,
.accounts-nav .next:after {
	content: '';
	width: 11px;
	height: 16px;
	position: absolute;
	z-index: 2;
	top: 50%;
	margin: -8px -7px;
	background: #fff url(../img/nav-arr.png) no-repeat;
	background-size: 11px auto;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
}

.accounts-nav .prev:before,
.accounts-nav .prev:after {
	left: 50%;
}

.accounts-nav .next:before,
.accounts-nav .next:after {
	right: 50%;
}

.accounts-nav .prev:after,
.accounts-nav .next:after {
	opacity: 0;
	background-position: 0 -18px;
}

.accounts-nav a.prev:hover:before,
.accounts-nav a.next:hover:before {
	opacity: 0;
}

.accounts-nav a.prev:hover:after,
.accounts-nav a.next:hover:after {
	opacity: 1;
}

.accounts-nav .next:before,
.accounts-nav .next:after {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.accounts-nav .set {
	margin: 19px 0 0 0;
}

.accounts-check {
	position: relative;
	display: block;
	margin: 30px 0 40px 0;
	padding: 18px 18px 18px 48px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	background: #faf7f5;
	line-height: 24px;
	cursor: pointer;
}

.accounts-check .checkbox {
	margin: 0;
	position: absolute;
	top: 22px;
	left: 22px;
}

.accounts-checks2 {
	list-style: none;
	margin: 27px 0 0 0;
	padding: 0;
	line-height: 18px;
}

.accounts-checks2 li {
	position: relative;
	padding: 0 0 0 30px;
	margin: 24px 0 0 0;
}

.accounts-checks2 li:first-child {
	margin-top: 0!important;
}

.accounts-checks2 .checkbox {
	position: absolute;
	top: 2px;
	left: 0;
	margin: 0;
}

.accounts-checks2 label {
	cursor: pointer;
}

.accounts-settings:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-settings {
	margin: 30px 0 -4px 0;
}

.accounts-settings .accounts-head {
	border-bottom-width: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.accounts-pass-ind {
	position: absolute;
	top: 50%;
	right: 0;
	margin: -5px 5px;
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
}

.accounts-pass-ind span {
	display: inline-block;
	vertical-align: top;
	width: 3px;
	height: 12px;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	margin: 0 0 0 3px;
	background: #bdcedc;
}

.accounts-pass-ind .bg-green {
	background-color: #27ca83;
}

.accounts-pass-ind .bg-yellow {
	background-color: #ffb400;
}

.accounts-pass-ind .bg-red {
	background-color: #d70f0f;
}

.accounts-pass-ind span:first-child {
	margin-left: 0!important;
}

.accounts-btns:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-btns {
	margin: 30px 0 0 0;
}

.accounts-btns.with-line {
	margin-left: -29px;
	margin-right: -29px;
	padding: 30px 29px 0 29px;
	border-top: 1px solid #eef5fa;
}

.accounts-btns .half {
	padding: 0 10px 0 0;
}

.accounts-btns .half + .half {
	padding: 0 0 0 10px;
}

.accounts-tarif-submit {
	margin: -9px 0 45px 0;
	letter-spacing: 0.04em;
}

.accounts-tarif-submit table {
	border-collapse: collapse;
	width: 100%;
	border: 0;
	margin: 0 0 -18px 0;
}

.accounts-tarif-submit td {
	padding: 0 0 18px 0;
	border: 0;
	text-align: left;
	vertical-align: top;
}

.accounts-tarif-submit table .w0 {
	white-space: nowrap;
	width: 1px;
	min-width: 85px;
}

.accounts-tarif-submit .acc-info {
	margin: 28px 0 41px 0;
	background: #e5f9f0;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 19px 26px;
}

.accounts-tarif-submit .accounts-row {
	margin: 19px 0 43px 0;
}

.accounts-img-menu {
	list-style: none;
	margin: 40px -12px -16px -12px;
	padding: 0;
}

.accounts-img-menu:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-img-menu li {
	float: left;
	text-align: center;
	line-height: 18px;
	box-sizing: border-box;
	margin: 0;
	padding: 0 12px;
	height: 128px;
	width: 25%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.accounts-img-menu.acc-three li {
	width: 33.33%;
}

.accounts-img-menu.acc-three li > * {
	display: inline-block;
	vertical-align: top;
}

.accounts-img-menu img {
	height: 32px;
	width: auto;
	display: block;
	margin: 0 auto 10px auto;
}

.accounts-info-list {
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.accounts-info-list li:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-info-list li {
	padding: 0;
	margin: 18px 0 0 0;
}

.accounts-info-list li:first-child {
	margin-top: 0!important;
}

.accounts-info-list .l {
	float: left;
	width: 300px;
	padding: 0 15px 0 0;
	font-weight: normal;
}

.accounts-status-img img {
	height: 16px;
	width: auto;
	vertical-align: middle;
}

.accounts-action-menu {
	z-index: 900;
	position: fixed;
	top: 30px;
	left: 50%;
	margin: 0 0 0 -489px;
	background: #006dd6;
	color: #fff;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	width: 210px;
	box-sizing: border-box;
	line-height: 19px;
	padding: 23px 15px 26px 27px;
	display: none;
}

.accounts-action-menu a {
	color: #7be8ff;
}

.accounts-action-menu a:hover {
	color: #fff;
}

.accounts-action-menu ul {
	list-style: none;
	margin: 36px 0 0 0;
	padding: 0;
}

.accounts-action-menu ul + ul {
	margin-top: 44px;
}

.accounts-action-menu li {
	margin: 23px 0 0 0;
	padding: 0;
}

.accounts-action-menu li:first-child {
	margin-top: 0!important;
}

.accounts-search {
	margin: -30px -29px 30px -29px;
	padding: 30px 29px;
	border-bottom: 1px solid #eef5fa;
}

.accounts-search:last-child {
	margin-bottom: -29px;
	padding-bottom: 29px;
	border-bottom-width: 0;
}

.accounts-search .acc-bg:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-search .acc-bg {
	border: 2px solid #2bd98d;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	position: relative;
	background: #fff;
}

.accounts-search input[type="text"] {
	box-sizing: border-box;
	display: block;
	border: 0;
	width: 100%;
	border: 0;
	-webkit-appearance: none;
	background: #fff;
	font: bold 14px Arial, Helvetica, sans-serif;
	letter-spacing: 0.03em;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	color: #4e6481;
	margin: 0;
	padding: 17px 0 17px 22px;
	height: auto;
}

.accounts-search input[type="text"].placeholder {
	color: #bdcedc;
	font-weight: normal;
}

.accounts-search input[type="submit"] {
	position: absolute;
	top: 0;
	right: 0;
	width: 62px;
	margin: 0;
	height: 100%;
	border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
	background: #2bd98d url(../img/search.png) no-repeat 50% 50%;
	background-size: auto 17px;
	-webkit-appearance: none;
	border: 0;
	padding: 0;
	cursor: pointer;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
}

.accounts-search input[type="submit"]:hover {
	background-color: #1ae98f;
}

.accounts-modal {
	position: absolute;
	top: 30px;
	left: 50%;
	width: 528px;
	padding: 30px;
	margin: 0 -264px;
	box-sizing: border-box;
	background: #fff;
	z-index: 1000;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.09);
}

.accounts-modal .acc-close {
	cursor: pointer;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	width: 75px;
	height: 75px;
	background: none;
}

.accounts-modal .acc-close:before,
.accounts-modal .acc-close:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 15px;
	margin: -7.5px;
	background: url(../img/modal-close.png) no-repeat;
	background-size: 100% auto;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
}

.accounts-modal .acc-close:after {
	background-position: 0 -15px;
	opacity: 0;
}

.accounts-modal .acc-close:hover:before {
	opacity: 0;
}

.accounts-modal .acc-close:hover:after {
	opacity: 1;
}

@media (min-width: 1024px) {

.accounts-action-menu2 {
	display: none !important;
}
}

@media (min-width: 760px) and (max-width: 1024px) {

.accounts-action-menu2.for-mob {
	display: none !important;
}
}

.accounts-action-menu2 .accounts-modal {
	padding: 24px;
	font-size: 13px;
	line-height: 24px;
	display: none;
}

.accounts-action-menu2 .accounts-modal .accounts-head {
	padding: 24px 24px;
	margin: -24px -24px 24px -24px;
}

.accounts-action-menu2 .accounts-modal .accounts-btns.with-line {
	margin: 24px -24px -24px -24px;
	padding: 24px;
}

.accounts-action-menu2 .acc-fader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.69;
	z-index: 999;
	display: none;
}

.accounts-action-menu2 ul,
.accounts-action-menu2 li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.accounts-action-menu2 ul {
	margin: -24px;
	font-weight: bold;
	letter-spacing: 0.02em;
}

.accounts-action-menu2 li {
	border-top: 1px solid #eef5fa;
}

.accounts-action-menu2 li:first-child {
	border-top-width: 0;
}

.accounts-action-menu2 li > * {
	display: block;
	padding: 14px 24px 15px 24px;
}

.accounts-action-menu2 .acc-toggle {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 900;
	background: #006dd6;
	color: #7be8ff;
	padding: 0 24px;
	font-weight: bold;
	text-align: center;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.09);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	cursor: pointer;
}

.accounts-action-menu2 .acc-toggle:hover {
	color: #fff;
}

.accounts-action-menu2 .acc-toggle .cell {
	height: 80px;
	text-align: inherit;
}

.accounts-action-menu2 .acc-toggle .arr {
	display: inline-block;
	margin: 0 0 0 12px;
	position: relative;
	top: -1px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 5px 0 5px;
	border-left-color: transparent!important;
	border-right-color: transparent!important;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.accounts-cform {
	padding: 114px 0;
	position: relative;
}

.accounts-cform .acc-monster,
.accounts-cform .acc-monster2 {
	position: absolute;
	left: 50%;
	top: 0;
}

.accounts-cform .acc-monster {
	background: url(../img/monster.png) no-repeat;
	width: 473px;
	height: 492px;
	margin: 45px 0 0 -591px;
}

.accounts-cform .acc-monster2 {
	background: url(../img/monster-done.png) no-repeat;
	width: 445px;
	height: 443px;
	margin: -15px 0 0 166px;
}

.accounts-cform .acc-bg-l,
.accounts-cform .acc-bg-r {
	position: absolute;
	bottom: 0;
}

.accounts-cform .acc-bg-l {
	background: url(../img/bg-rocket-l.png) no-repeat;
	width: 439px;
	height: 375px;
	left: 0;
}

.accounts-cform .acc-bg-r {
	background: url(../img/bg-rocket-r.png) no-repeat;
	width: 440px;
	height: 147px;
	right: 0;
}

.accounts-cform .accounts-block {
	margin: 0 auto;
	padding: 52px;
	width: 456px;
	border-radius: 22px;
	-webkit-border-radius: 22px;
	box-shadow: 0 0 99px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 0 0 99px rgba(0, 0, 0, 0.09);
}

.accounts-cform .accounts-btns {
	margin-top: 58px;
}

.accounts-cform .accounts-btn {
	font-size: 21px;
	padding-top: 19px;
	padding-bottom: 17px;
}

.accounts-cform .accounts-head3 {
	font: 600 27px/33px 'Myriad Pro Cond', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #485e7c;
	margin: -6px 0 38px 0;
}

.accounts-cform .acc-text-place {
	height: 48px;
}

.accounts-cform .accounts-row {
	margin-top: 49px;
}

.accounts-cform.accounts-login .accounts-block {
	margin-bottom: 180px;
}

.accounts-cform.accounts-login .accounts-head3 {
	margin-bottom: 61px;
}

.accounts-cform.accounts-login .accounts-row {
	margin: 40px 0;
}

.accounts-cform .accounts-out-link {
	text-align: center;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	font-size: 16px;
	margin: 59px 0 0 0;
}

.accounts-stat2:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-stat2 {
	line-height: 21px;
	letter-spacing: 0.04em;
	margin: 0 -30px 41px 0;
}

.accounts-stat2 .acc-e {
	float: left;
	width: 33.33%;
}

.accounts-stat2 .acc-e.w2 {
	width: 66.66%;
}

.accounts-stat2 .acc-link {
	margin: 0 30px 30px 0;
	height: 132px;
	padding: 0;
	text-align: center;
	position: relative;
	display: block;
}

.accounts-stat2 .accounts-block {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.accounts-stat2 a:hover .accounts-block {
	margin: -10px;
}

.accounts-stat2 .acc-in {
	display: block;
	overflow: hidden;
	position: relative;
}

.accounts-stat2 .acc-e strong {
	display: block;
	font-weight: normal;
	font-size: 42px;
	line-height: 42px;
	padding: 30px 0 0 0;
	margin: 0 0 9px 0;
}

.accounts-stat2 .acc-e.w2 strong {
	float: left;
	padding: 0;
	line-height: 132px;
	text-align: center;
	width: 50%;
	margin: 0 -230px 0 0;
}

.accounts-stat2 .acc-e .cell {
	text-align: left;
	height: 132px;
}

.accounts-index {
	margin-bottom: 71px;
}

.accounts-index .accounts-block {
	margin-bottom: 20px;
	padding-top: 23px;
	padding-bottom: 23px;
}

.accounts-index .accounts-block .acc-new {
	float: right;
	margin: 7px 0 8px 24px;
	width: 9px;
	height: 9px;
	background: #46db9a;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.accounts-base {
	margin-bottom: 41px;
}

.accounts-base .half,
.accounts-base .half + .half {
	padding: 0;
}

.accounts-base:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-base .accounts-head {
	padding: 0;
	border-bottom-width: 0;
	margin: -3px 0 20px 0;
}

.accounts-base .acc-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.accounts-base .acc-nav li {
	margin: 15px 0 0 0;
	padding: 0;
}

.accounts-base .acc-nav li:first-child {
	margin-top: 0!important;
}

.accounts-base .acc-qu + .acc-qu {
	margin-top: 24px;
}

.accounts-base .acc-qu .acc-ind {
	margin: 6px 0;
}

.accounts-questions {
	margin: -30px -29px;
}

.accounts-questions .acc-e {
	padding: 21px 29px 23px 29px;
	border-top: 1px solid #eef5fa;
}

.accounts-questions .acc-e:first-child {
	border-top-width: 0;
}

.accounts-questions .acc-ind {
	margin: 6px 0 0 0;
}

.accounts-actions {
	list-style: none;
	margin: 30px -30px;
	padding: 22px 0 22px 30px;
	border-top: 1px solid #eef5fa;
	border-bottom: 1px solid #eef5fa;
}

.accounts-actions:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-actions li {
	float: left;
	white-space: nowrap;
	margin: 0 42px 0 0;
	padding: 0;
}

.accounts-actions img {
	height: 20px;
	width: auto;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -1px;
	margin: 0 10px 0 0;
}

.accounts-survey .accounts-head {
	margin: -7px 0 14px 0;
	padding: 0;
	border-bottom-width: 0;
}

.accounts-survey .accounts-checks li {
	margin-top: 10px;
}

.accounts-survey-done {
	margin: 30px 0 0 0;
	line-height: 27px;
	padding: 16px 30px;
	background: #e5f9f0;
	border-radius: 8px;
	-webkit-border-radius: 8px;
}

.accounts-server-status {
	text-align: center;
	font-weight: bold;
	padding: 26px 30px;
	background: #faf7f5;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	letter-spacing: 0.04em;
}

.accounts-stat3 {
	list-style: none;
	margin: 48px -30px 30px -30px;
	padding: 0 30px;
	border-bottom: 1px solid #eef5fa;
}

.accounts-stat3:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-stat3 li {
	float: left;
	text-align: center;
	width: 33.33%;
	margin: 0 0 45px 0;
	padding: 0;
}

.accounts-stat3 strong {
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 17px 0;
	display: block;
}

.accounts-stat3 .acc-small {
	line-height: 21px;
	font-size: 13px;
	margin: 10px 0 0 0;
}

.acc-corner {
	width: 8px;
	height: 8px;
	overflow: hidden;
	position: absolute;
	z-index: 5;
}

.acc-corner:before {
	content: '';
	display: block;
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	border: 8px solid #fff;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.acc-corner.tl {
	top: 0;
	left: 0;
}

.acc-corner.tl:before {
	top: -8px;
	left: -8px;
}

.acc-corner.tr {
	top: 0;
	right: 0;
}

.acc-corner.tr:before {
	top: -8px;
	right: -8px;
}

.acc-corner.bl {
	bottom: 0;
	left: 0;
}

.acc-corner.bl:before {
	bottom: -8px;
	left: -8px;
}

.acc-corner.br {
	bottom: 0;
	right: 0;
}

.acc-corner.br:before {
	bottom: -8px;
	right: -8px;
}

.accounts-offer {
	letter-spacing: 0.04em;
}

.accounts-offer .acc-img {
	position: relative;
	margin: -8px 0 39px 0;
	max-width: 652px;
}

.accounts-offer .acc-in {
	position: relative;
	overflow: hidden;
}

.accounts-offer .acc-in2 {
	margin: 0 -1000px;
	text-align: center;
}

.accounts-offer .acc-img img {
	height: 200px;
	width: auto;
}

.accounts-offer .acc-img .acc-disc {
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	width: 64px;
	height: 64px;
	margin: -20px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: #ff7200;
	box-shadow: 10px 20px 42px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow: 10px 20px 42px rgba(0, 0, 0, 0.22);
	font: 600 21px/64px 'Myriad Pro Cond', Arial, Helvetica, sans-serif;
	letter-spacing: 0.075em;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.accounts-ticket {
	margin: -1px 0 0 0;
}

.accounts-ticket .accounts-head {
	border-bottom-width: 0;
	margin: 0;
	padding: 0;
}

.accounts-ticket .accounts-checks {
	margin: 17px 0 -11px 0;
}

.accounts-ticket .accounts-checks li {
	display: inline-block;
	vertical-align: top;
	min-width: 205px;
	white-space: nowrap;
	margin: 0 0 15px 0;
}

.accounts-ticket .accounts-checks li.acc-block {
	display: block;
	margin: 0;
}

.accounts-ticket2 {
	font-size: 15px;
}

.accounts-ticket2 .accounts-head {
	border-bottom-width: 0;
	padding-bottom: 0;
	margin-bottom: 27px;
	font-size: 14px;
}

.accounts-ticket2 .accounts-btns {
	margin-top: 39px;
}

.accounts-text-border {
	border-style: solid;
	border-width: 0;
	border-top-width: 1px;
	border-bottom-width: 1px;
	margin: 41px 0 39px 0;
	padding: 13px 0;
}

.accounts-date {
	float: right;
	font-weight: normal;
	white-space: nowrap;
	letter-spacing: 0.03em;
	opacity: 0.5;
	color: #353d47;
}

.accounts-ticket-info {
	font-weight: bold;
	list-style: none;
	margin: 0;
	padding: 0;
}

.accounts-ticket-info li {
	margin: 15px 0 0 0;
	padding: 0;
}

.accounts-ticket-info li:first-child {
	margin-top: 0!important;
}

.accounts-ticket-info .l {
	display: inline;
	font-weight: normal;
}

.accounts-toggle-link {
	text-align: center;
}

.accounts-toggle-link a {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

.accounts-check-all {
	margin: -30px -30px 30px -30px;
	padding: 17px 30px 17px 65px;
	position: relative;
	font-weight: bold;
	border-bottom: 1px solid #eef5fa;
}

.accounts-check-all label {
	cursor: pointer;
}

.accounts-check-all .checkbox {
	position: absolute;
	top: 22px;
	left: 40px;
}

.accounts-tld-list {
	list-style: none;
	padding: 0;
	margin: 35px -30px -10px 10px;
	font-weight: bold;
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-gap: 30px;
}

.accounts-tld-list li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: 0 0 0 25px;
	margin: 0 0 18px 0;
	box-sizing: border-box;
	white-space: nowrap;
}

.accounts-tld-list .checkbox {
	position: absolute;
	top: 5px;
	left: 0;
	margin: 0;
}

.jcf-select-for-lang {
	display: inline-block;
	margin: -5px;
}

.jcf-select-for-lang * {
	font: normal 16px Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	text-transform: none;
	line-height: inherit;
}

.jcf-select-for-lang .jcf-select-text {
	display: inline-block;
	vertical-align: top;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	background: none;
	line-height: inherit;
	font-size: 0;
	text-align: center;
	overflow: visible;
	border-radius: 0;
	-webkit-border-radius: 0;
	padding: 5px;
}

.jcf-select-for-lang .jcf-select-text img {
	vertical-align: middle;
	margin: 0;
	top: auto;
	position: static;
}

.jcf-select-for-lang .jcf-select-text:after {
	display: none;
}

.jcf-select-for-lang .jcf-select-text > span {
	display: none;
}

/*new 01.11.16 start*/
.acounts-text-side-ind1 {
	padding-left: 10px;
	padding-right: 10px;
}

.accounts-security-img {
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
	text-align: center;
	margin: 55px -30px 53px -30px;
}

.accounts-security-img .i {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.accounts-security-img .i span {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	color: #fff;
	background: #27ca83;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 34px;
	height: 34px;
	line-height: 34px;
	font-weight: bold;
	font-size: 14px;
	margin: -4px 2px;
}

.accounts-security-img .i img {
	height: 117px;
	width: auto;
}

.accounts-security-img .p {
	display: inline-block;
	vertical-align: top;
	width: 21px;
	height: 21px;
	position: relative;
	margin: 48px 14px 0 14px;
}

.accounts-security-img .p:before,
.accounts-security-img .p:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #27ca83;
}

.accounts-security-img .p:before {
	margin: 0 9px;
}

.accounts-security-img .p:after {
	margin: 9px 0;
}

.accounts-modal-wide {
	width: 900px;
	margin-left: -450px;
	margin-right: -450px;
	padding: 40px;
	top: 40px;
}

.accounts-modal-wide.accounts-modal-size2 {
	width: 650px;
	margin-left: -325px;
	margin-right: -325px;
}

@media only screen and (max-width: 980px) {

.accounts-modal-wide {
	width: auto;
	left: 0;
	right: 0;
	margin-left: 40px;
	margin-right: 40px;
}

.accounts-modal-wide.accounts-modal-size2 {
	width: 650px;
	right: auto;
	left: 50%;
	margin-left: -325px;
	margin-right: -325px;
}
}

@media only screen and (max-width: 730px) {

.accounts-modal-wide.accounts-modal-size2 {
	width: auto;
	left: 0;
	right: 0;
	margin-left: 40px;
	margin-right: 40px;
}
}

.accounts-modal-wide .acc-close {
	width: 40px;
	height: 40px;
	margin: 36px;
}

.accounts-modal-wide .acc-close:before,
.accounts-modal-wide .acc-close:after {
	width: 18px;
	height: 18px;
	margin: -9px;
}

.accounts-modal-wide .acc-close:after {
	background-position: 0 -18px;
}

.accounts-modal-wide .accounts-btns {
	margin-left: -40px;
	margin-right: -40px;
	margin-bottom: -40px;
	margin-top: 40px;
	padding: 40px;
}

.accounts-security-steps {
	margin: 4px 0 0 0;
	line-height: 30px;
	color: #536884;
	letter-spacing: 0.04em;
}

.accounts-security-steps .accounts-head {
	border-bottom-width: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 12px;
}

.accounts-security-steps .accounts-head:after {
	display: none;
}

.accounts-security-steps .acc-e {
	position: relative;
	padding: 0 15px 0 55px;
}

.accounts-security-steps .accounts-btns {
	margin-top: 20px;
}

.accounts-security-steps .acc-e:after {
	content: ' ';
	clear: both;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.accounts-security-steps .acc-e + .acc-e {
	margin-top: 34px;
}

.accounts-security-steps .acc-e img {
	float: right;
	height: 136px;
	width: auto;
	margin: -8px 0 -8px 30px;
}

.accounts-security-steps .acc-num {
	position: absolute;
	top: -5px;
	left: 0;
	text-align: center;
	width: 34px;
	height: 34px;
	font-size: 14px;
	line-height: 34px;
	font-weight: bold;
	color: #27d481;
	box-shadow: inset 0 0 0 2px #27d481;
	-webkit-box-shadow: inset 0 0 0 2px #27d481;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.accounts-modal-confirm {
	width: 460px;
	margin-left: -230px;
	margin-right: -230px;
}

/*new 24.11.16*/
.accounts-tabs {
	list-style: none;
	margin: -7px -5px 40px -5px;
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-align: justify;
}

.accounts-tabs:after {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 0;
}

.accounts-tabs li {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	margin: 0 5px;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.04em;
}

.accounts-tabs a {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
}

.accounts-tabs .active {
	cursor: default;
	border-bottom-width: 0;
	font-weight: bold;
	color: #4e6481;
}
