@charset "utf-8";

.wrapper {
		min-width: 320px;
}

.container {
		width: auto;
		padding: 0 40px;
}

.header {
		padding-top: 29px;
		padding-bottom: 0;
		height: 51px;
}

.header .menu {
		display: none;
}

.menu-toggle {
		left: 0;
}

.header .lang {
		top: 0;
		right: 0;
		left: auto;
		margin: 0;
}

.jcf-select-for-lang {
		margin: 0;
		display: block;
}

.jcf-select-for-lang .jcf-select-text {
		width: auto;
		padding: 0 40px;
		height: 80px;
		line-height: 80px;
}

.cart-toggle {
		right: 0;
		left: auto;
}

.for-tabl {
		display: inline;
}

.footer {
		padding-top: 76px;
		padding-bottom: 0;
}

.footer .container {
		padding-left: 70px;
		padding-right: 70px;
}

.footer .logo {
		margin-top: -10px;
}

.footer .lang {
		display: none;
}

.footer .menu {
		margin-right: 0;
		margin-bottom: 0;
		letter-spacing: 1px;
		font-size: 18px;
}

.footer .menu .r {
		min-width: 25%;
}

.menu > ul > li {
		margin-left: 40px;
}

.menu2 {
		font-size: 18px;
		margin-top: 70px;
		margin-right: 0;
}

.menu2 > ul > li {
		width: 40%!important;
}

.menu2 > ul > li.color2 {
		width: 35%!important;
}

.menu2 > ul > li.color3 {
		width: 25%!important;
}

.menu2 > ul > li > ul {
		margin-top: 27px;
		margin-bottom: 42px;
}

.menu2 > ul > li > ul > li {
		margin-top: 27px;
}

.menu2 > ul > li > ul > li:first-child {
		margin-top: 0;
}

.hide-tablet {
		display: none;
}

.show-tablet {
		display: block!important;
}

.show-tablet-inline {
		display: inline-block!important;
}

.logo2 {
		display: block;
		position: relative;
}

/*accounts styles*/



.accounts-hold {
		padding-top: 29px;
}

.accounts-ind {
		padding: 0;
}

.accounts-aside {
		display: none;
}

.accounts-add-funds .acc-l {
		width: 34.5%;
}

.accounts-add-funds .acc-r {
		width: 65.5%;
}

.accounts-action-menu {
		display: none !important;
}

.accounts-action-menu2 {
		display: block;
}

.accounts-cform {
		padding: 73px 0 303px 0;
}

.accounts-cform .acc-monster,
.accounts-cform .acc-monster2 {
		top: auto;
		bottom: 0;
}

.accounts-cform .acc-monster {
		background-image: url(../img/monster-tab.png);
		width: 422px;
		height: 331px;
		margin: 0 0 0 -177px;
}

.accounts-cform .acc-monster2 {
		width: 420px;
		height: 331px;
		background-image: url(../img/monster-done-tab.png);
		margin: 0 0 0 -177px;
}

.accounts-stat2 .acc-e.w2 strong {
		margin-right: -180px;
}

.accounts-table .center-tablet {
		text-align: center;
}

.accounts-table .center-tablet .accounts-pic-link img {
		margin-right: 0;
}

.accounts-pic-link.acc-img-tab img {
		margin: 0;
}

.accounts-offer .acc-img {
		margin-right: 0;
}
