	<footer class="footer">
		<div class="container">
			<nav class="menu">
				<div class="logo"><span></span></div>
				<!-- end .logo-->
				<ul class="r">
					<li><a class="grad5" href="https://accounts.fozzy.com/clientarea.php">Личный кабинет</a></li>
					<li><a class="grad6" href="https://accounts.fozzy.com/cart.php">Заказать</a></li>
				</ul>
				<!-- end .r--> 
			</nav>
			<!-- end .menu-->
			<nav class="menu2">
				<ul>
					<li class="color1"><span>УСЛУГИ</span>
						<ul>
							<li><a href="http://fozzy.com/ru/domains">Доменные имена</a></li>
							<li><a href="http://fozzy.com/ru/virtual-shared-hosting">Виртуальный хостинг</a></li>
							<li><a href="http://fozzy.com/ru/seo-hosting">SEO хостинг</a></li>
							<li><a href="http://fozzy.com/ru/forex-hosting">Forex хостинг</a></li>
							<li><a href="http://fozzy.com/ru/linux-vps-hosting">Linux VPS</a></li>
							<li><a href="http://fozzy.com/ru/windows-vps-hosting">Windows VPS</a></li>
							<li><a href="http://fozzy.com/ru/reseller-hosting">Реселлинг хостинга</a></li>
						</ul>
					</li>
					<li class="color2"><span>О компании</span>
						<ul>
							<li><a href="http://fozzy.com/ru/about">О нас</a></li>
							<li><a href="http://fozzy.com/ru/legal">Документы</a></li>
							<li><a href="http://fozzy.com/ru/payment-options">Способы оплаты</a></li>
							<li><a href="http://fozzy.com/ru/news">Новости</a></li>
							<li><a href="http://fozzy.com/ru/advantages">Преимущества</a></li>
							<li><a href="http://fozzy.com/ru/special">Акции</a></li>
						</ul>
					</li>
					<li class="color3"><span>Партнерам</span>
						<ul>
							<li><a href="http://fozzy.com/ru/referral">Реферальная программа</a></li>
							<li><a href="http://fozzy.com/ru/for-webstudios">Вебмастерам и дизайн-студиям</a></li>
						</ul>
						<span>Поддержка</span>
						<ul>
							<li><a href="http://fozzy.com/ru/contact_us">Напишите нам</a></li>
							<li><a href="https://accounts.fozzy.com/knowledgebase.php?language=russian">Часто задаваемые вопросы</a></li>
							<li><a href="http://fozzy.com/ru/articles">Полезная информация</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<!-- end .menu2--> 
		</div>
		<!-- end .container-->
		<div class="lang">
			<div class="hold">
				<div class="toggle"><img src="img/lang/ru.png" width="21" height="15" alt=" "></div>
				<!-- end .toggle-->
				<div class="sub">
					<ul>
						<li><img src="img/lang/ru.png" width="21" height="15" alt=" "> <span>RU</span></li>
						<li><a href="fozzy.com/eu/intro"><img src="img/lang/eu.png" width="21" height="15" alt=" "> <span>EU</span></a></li>
						<li><a href="fozzy.com/us/intro"><img src="img/lang/en.png" width="21" height="15" alt=" "> <span>US</span></a></li>
						<li><a href="fozzy.com/in/intro"><img src="img/lang/in.png" width="21" height="15" alt=" "> <span>in</span></a></li>
					</ul>
				</div>
				<!-- end .sub--> 
			</div>
			<!-- end .hold--> 
		</div>
		<!-- end .lang--> 
	</footer>
	<!-- end .footer--> 
