	<footer class="footer">
		<div class="container">
			<nav class="menu">
				<div class="logo"><span></span></div>
				<!-- end .logo-->
				<ul class="r">
					<li><a class="grad5" href="https://accounts.fozzy.com/clientarea.php">CUSTOMER AREA</a></li>
					<li><a class="grad6" href="https://accounts.fozzy.com/cart.php">ORDER</a></li>
				</ul>
				<!-- end .r--> 
			</nav>
			<!-- end .menu-->
			<nav class="menu2">
				<ul>
					<li class="color1"><span>SERVICES</span>
						<ul>
							<li><a href="http://fozzy.com/ru/virtual-shared-hosting">SHARED HOSTING</a></li>
							<li><a href="http://fozzy.com/ru/seo-hosting">SEO hOSTING</a></li>
							<li><a href="http://fozzy.com/ru/forex-hosting">Forex VPS</a></li>
							<li><a href="http://fozzy.com/ru/linux-vps-hosting">Linux VPS</a></li>
							<li><a href="http://fozzy.com/ru/windows-vps-hosting">Windows VPS</a></li>
							<li><a href="http://fozzy.com/ru/reseller-hosting">RESELLER PLans</a></li>
						</ul>
					</li>
					<li class="color2"><span>Company</span>
						<ul>
							<li><a href="http://fozzy.com/ru/about">About US</a></li>
							<li><a href="http://fozzy.com/ru/legal">LEGAL</a></li>
							<li><a href="http://fozzy.com/ru/payment-options">Payment Methods</a></li>
							<li><a href="http://fozzy.com/ru/news">BLOG</a></li>
							<li><a href="http://fozzy.com/ru/advantages">ADVANTAGES</a></li>
							<li><a href="http://fozzy.com/ru/special">Special offers</a></li>
						</ul>
					</li>
					<li class="color3"><span>partnership</span>
						<ul>
							<li><a href="http://fozzy.com/ru/referral">Affiliate Program</a></li>
							<li><a href="http://fozzy.com/ru/for-webstudios">For webmasters and Studios</a></li>
						</ul>
						<span>SUPPORT</span>
						<ul>
							<li><a href="http://fozzy.com/ru/contact_us">CONTACT US</a></li>
							<li><a href="https://accounts.fozzy.com/knowledgebase.php?language=russian">FAQ</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<!-- end .menu2--> 
		</div>
		<!-- end .container-->
		<div class="lang">
			<div class="hold">
				<div class="toggle"><img src="img/lang/eu.png" width="21" height="15" alt=" "></div>
				<!-- end .toggle-->
				<div class="sub">
					<ul>
						<li><a href="fozzy.com/ru/intro"><img src="img/lang/ru.png" width="21" height="15" alt=" "> <span>RU</span></a></li>
						<li><img src="img/lang/eu.png" width="21" height="15" alt=" "> <span>EU</span></li>
						<li><a href="fozzy.com/us/intro"><img src="img/lang/en.png" width="21" height="15" alt=" "> <span>US</span></a></li>
						<li><a href="fozzy.com/in/intro"><img src="img/lang/in.png" width="21" height="15" alt=" "> <span>in</span></a></li>
					</ul>
				</div>
				<!-- end .sub--> 
			</div>
			<!-- end .hold--> 
		</div>
		<!-- end .lang--> 
	</footer>
	<!-- end .footer--> 
