			<nav class="menu">
				<ul class="l">
					<li><span class="grad1">Services</span>
						<div class="sub">
							<ul>
								<li><a href="http://fozzy.com/ru/virtual-shared-hosting">SHARED HOSTING</a></li>
								<li><a href="http://fozzy.com/ru/seo-hosting">SEO hOSTING</a></li>
								<li><a href="http://fozzy.com/ru/forex-hosting">Forex VPS</a></li>
								<li><a href="http://fozzy.com/ru/linux-vps-hosting">Linux VPS</a></li>
								<li><a href="http://fozzy.com/ru/windows-vps-hosting">Windows VPS</a></li>
								<li><a href="http://fozzy.com/ru/reseller-hosting">RESELLER PLans</a></li>
							</ul>
						</div>
						<!-- end .sub--> 
					</li>
					<li><span class="grad2">About US</span>
						<div class="sub">
							<ul>
								<li><a href="http://fozzy.com/ru/about">About US</a></li>
								<li><a href="http://fozzy.com/ru/legal">LEGAL</a></li>
								<li><a href="http://fozzy.com/ru/payment-options">Payment Methods</a></li>
								<li><a href="http://fozzy.com/ru/news">BLOG</a></li>
								<li><a href="http://fozzy.com/ru/advantages">ADVANTAGES</a></li>
								<li><a href="http://fozzy.com/ru/special">Special offers</a></li>
							</ul>
						</div>
						<!-- end .sub--> 
					</li>
					<li><span class="grad3">PArtnership</span>
						<div class="sub">
							<ul>
								<li><a href="http://fozzy.com/ru/referral">Affiliate Program</a></li>
								<li><a href="http://fozzy.com/ru/for-webstudios">For webmasters and Studios</a></li>
							</ul>
						</div>
						<!-- end .sub--> 
					</li>
					<li><span class="grad4">SUPPORT</span>
						<div class="sub">
							<ul>
								<li><a href="http://fozzy.com/ru/contact_us">CONTACT US</a></li>
								<li><a href="https://accounts.fozzy.com/knowledgebase.php?language=russian">FAQ</a></li>
							</ul>
						</div>
						<!-- end .sub--> 
					</li>
				</ul>
				<!-- end .l-->
				<ul class="r">
					<li><a class="grad5" href="https://accounts.fozzy.com/clientarea.php">CUSTOMER AREA</a></li>
					<li><a class="grad6" href="https://accounts.fozzy.com/cart.php">ORDER</a></li>
				</ul>
				<!-- end .r--> 
			</nav>
			<!-- end .menu-->
