			<nav class="menu">
				<ul class="l">
					<li><span class="grad1">УСЛУГИ</span>
						<div class="sub">
							<ul>
								<li><a href="http://fozzy.com/ru/domains">Доменные имена</a></li>
								<li><a href="http://fozzy.com/ru/virtual-shared-hosting">Виртуальный хостинг</a></li>
								<li><a href="http://fozzy.com/ru/seo-hosting">SEO хостинг</a></li>
								<li><a href="http://fozzy.com/ru/forex-hosting">Forex хостинг</a></li>
								<li><a href="http://fozzy.com/ru/linux-vps-hosting">Linux VPS</a></li>
								<li><a href="http://fozzy.com/ru/windows-vps-hosting">Windows VPS</a></li>
								<li><a href="http://fozzy.com/ru/reseller-hosting">Реселлинг хостинга</a></li>
							</ul>
						</div>
						<!-- end .sub--> 
					</li>
					<li><span class="grad2">О компании</span>
						<div class="sub">
							<ul>
								<li><a href="http://fozzy.com/ru/about">О нас</a></li>
								<li><a href="http://fozzy.com/ru/legal">Документы</a></li>
								<li><a href="http://fozzy.com/ru/payment-options">Способы оплаты</a></li>
								<li><a href="http://fozzy.com/ru/news">Новости</a></li>
								<li><a href="http://fozzy.com/ru/advantages">Преимущества</a></li>
								<li><a href="http://fozzy.com/ru/special">Акции</a></li>
							</ul>
						</div>
						<!-- end .sub--> 
					</li>
					<li><span class="grad3">Партнерам</span>
						<div class="sub">
							<ul>
								<li><a href="http://fozzy.com/ru/referral">Реферальная программа</a></li>
								<li><a href="http://fozzy.com/ru/for-webstudios">Вебмастерам и дизайн-студиям</a></li>
							</ul>
						</div>
						<!-- end .sub--> 
					</li>
					<li><span class="grad4">Поддержка</span>
						<div class="sub">
							<ul>
								<li><a href="http://fozzy.com/ru/contact_us">Напишите нам</a></li>
								<li><a href="https://accounts.fozzy.com/knowledgebase.php?language=russian">Часто задаваемые вопросы</a></li>
								<li><a href="http://fozzy.com/ru/articles">Полезная информация</a></li>
							</ul>
						</div>
						<!-- end .sub--> 
					</li>
				</ul>
				<!-- end .l-->
				<ul class="r">
					<li><a class="grad5" href="https://accounts.fozzy.com/clientarea.php">Личный кабинет</a></li>
					<li><a class="grad6" href="https://accounts.fozzy.com/cart.php">Заказать</a></li>
				</ul>
				<!-- end .r--> 
			</nav>
			<!-- end .menu-->
